<div id="page-heading">
  <ol class="breadcrumb ">
    <li><a href="#/" translate="DASHBOARD"></a></li>
    <li class="active" translate="ETIQUETTES"></li>
  </ol>
  <h1 translate="ETIQUETTES"></h1>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12 col-20">
      <div class="panel panel-gray">
        <div class="panel-body">
          <div class="alert alert-dismissable alert-danger">Fonctionnalité non implémentée.</div>
        </div>
      </div>
    </div>
  </div>
</div>
