<div id="page-heading">
  <ol class="breadcrumb ">
    <li><a href="#/" class="danger" translate="DASHBOARD"></a></li>
    <li class="active" translate="QUALITY"></li>
  </ol>
  <h1 translate="QUALITY"></h1>
  <div class="options text-rigth-xs text-rigth-sm">
    <div class="btn-toolbar">
      <div ng-if="!user.isSubco && rights.custo.addDeviation || user.isSubco && rights.subco.addDeviation"
        class="btn-group bootstro" data-bootstro-placement="bottom"
           data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
           data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
           data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
           data-bootstro-title="{{'ADD_GAP_TITLE' | translate}}"
           data-bootstro-content="{{'ADD_GAP_TEXT' | translate}}">
        <a href="" class="btn btn-danger" ng-click="viewAddGap()"><i class="fa fa-plus"></i><span translate="ADD">  </span></a>
      </div>
      <div class="btn-group hidden-xs bootstro" style="margin-left:5px;" ng-if="!user.isSubco && rights.custo.exportDeviation || user.isSubco && rights.subco.exportDeviation"
           data-bootstro-placement="bottom"
           data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
           data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
           data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
           data-bootstro-title="{{'EXPORT_TITLE' | translate}}"
           data-bootstro-content="{{'EXPORT_TEXT' | translate}}">
        <a href="" ng-click="modalSuccessExport(true)" class="btn btn-default" data-toggle="dropdown"><i class="fa fa-cloud-download"></i><span class="span_icon" translate="EXPORT"></span></a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-20">
      <div class="panel panel-danger">
        <div class="panel-body collapse in" style="display: block;">
          <div id="example_wrapper" class="dataTables_wrapper" role="grid">
            <div id="qualityMana" class="row">

              <!-- Buttons for add or visualize a differences -->
              <div class="col-md-2 col-sm-3 col-xs-4" >
                <!-- Visualize one production order -->
                <a data-bootstro-placement="right"
                data-bootstro-width="300px"
                data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                data-bootstro-title="{{'VISUALIZE_QUALITY_TITLE' | translate}}"
                data-bootstro-content="{{'VISUALIZE_QUALITY_TEXT' | translate}}"
                  ng-show="filteredGap.length > 0" class="btn btn-inverse-alt bootstro" ng-click="openView()" ng-disabled="selectedRow==null" style="margin-bottom:10px;"><i class="fa fa-eye"></i><span class="span_icon" translate="DISPLAY"></span></a>
              </div>

              <!-- List which allow to set the number of data on one page -->
              <div class="col-md-6 col-sm-5 col-xs-4">
                <div id="example_length" class="dataTables_length" ng-show="filteredGap.length > 10">
                  <label>
                    <select ng-model="pagination.size" size="1" aria-controls="example" class="form-control">
                      <option value="10" ng-selected="pagination.size ==10">10</option>
                      <option value="25" ng-selected="pagination.size ==25">25</option>
                      <option value="50" ng-selected="pagination.size ==50">50</option>
                      <option value="100" ng-selected="pagination.size ==100">100</option>
                    </select><span class="span_icon hidden-xs" translate="DEVIATIONS_PER_PAGE"></span>
                  </label>
                </div>
              </div>

              <div class="col-md-4 text-right col-sm-4 col-xs-4">
                <div class="dataTables_filter" id="example_filter">
                  <label>
                    <input type="text" aria-controls="example" class="form-control bootstro" ng-model="search.gap" placeholder="{{'SEARCH' | translate}}..."
                           data-bootstro-placement="left"
                           data-bootstro-width="300px"
                           data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                           data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                           data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                           data-bootstro-title="{{'SEARCH_TITLE' | translate}}"
                           data-bootstro-content="{{'SEARCH_TEXT' | translate}}">
                  </label>
                </div>
              </div>
            </div>

            <!-- Datepickers -->
            <div class="panel-footer" style="margin-bottom:20px;">
              <div id="qualityDate" class="row">
                <div class="col-md-3"></div>

                <div class="col-md-6 bootstro"
                     data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                     data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                     data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                     data-bootstro-title="{{'RANGE_TITLE' | translate}}"
                     data-bootstro-content="{{'RANGE_TEXT' | translate}}">
                  <div class="input-daterange input-group ">
                    <span class="input-group-addon from_to" translate="FROM"></span>
                    <input type="text" ng-model="date.begin" class="input-small form-control" custom-class="'danger'" datepicker-append-to-body="true" show-button-bar="false" datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedBegin" ng-required="true"/>
                    <span class="input-group-addon" style="border-left: 0;cursor:pointer;" ng-click="openBegin($event)"><a class="danger"  href=""><i class="fa fa-calendar"></i></a></span>

                    <span class="input-group-addon from_to" translate="TO"></span>
                    <input type="text" ng-model="date.end" class="input-small form-control" custom-class="'danger'" datepicker-append-to-body="true" show-button-bar="false" datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedEnd" ng-required="true"/>
                    <span class="input-group-addon" style="cursor:pointer;" ng-click="openEnd($event)"><a class="danger"  href=""><i class="fa fa-calendar"></i></a></span>
                  </div>
                </div>
              </div>
            </div>

            <!--  Alert message when there are no data -->
            <div class="alert alert-dismissable alert-danger" ng-show="filteredGap.length == 0 && search.gap != '' && search.gap !=null" translate="NO_GAP_SEARCH" translate-values='{ search: search.gap}'></div>
            <div class="alert alert-dismissable alert-danger" ng-show="filteredGap.length == 0 && (search.gap == '' || search.gap == null)" translate="NO_GAP"></div>
            <!-- Differences table -->
            <div id="qualityTable" class="table-responsive bootstro" ng-show="filteredGap.length > 0"
                 data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                 data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                 data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                 data-bootstro-title="{{'QUALITY_TABLE_TITLE' | translate}}"
                 data-bootstro-content="{{'QUALITY_TABLE_TEXT' | translate}}">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables dataTable" id="example" aria-describedby="example_info">
              <thead>
              <tr role="row">
                <th ng-show="user.contacts.length > 1" class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 202px;">
                  <a href="" class="danger" ng-click="sortType = 'subco'; sortReverse = !sortReverse">
                    <span ng-if="!user.isSubco" translate="SUBCONTRACTOR"></span>
                    <span ng-if="user.isSubco" translate="CUSTOMER"></span>
                    <span ng-show="sortType == 'subco' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'subco' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 202px;">
                  <a href="" class="danger" ng-click="sortType = 'date'; sortReverse = !sortReverse">
                    <span translate="DATE"></span>
                    <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 202px;">
                  <a href="" class="danger" ng-click="sortType = 'article'; sortReverse = !sortReverse">
                    <span translate="ARTICLE"></span>
                    <span ng-show="sortType == 'article' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'article' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 302px;">
                  <a href="" class="danger" ng-click="sortType = 'libelle'; sortReverse = !sortReverse">
                    <span translate="LABEL"></span>
                    <span ng-show="sortType == 'libelle' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'libelle' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 202px;">
                  <a href="" class="danger"  ng-click="sortType = 'lot'; sortReverse = !sortReverse">
                    <span translate="BATCH"></span>
                    <span ng-show="sortType == 'lot' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'lot' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 102px;">
                  <a href="" class="danger"  ng-click="sortType = 'quantite'; sortReverse = !sortReverse">
                    <span translate="QUANTITY"></span>
                    <span ng-show="sortType == 'quantite' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'quantite' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>

                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 152px;">
                  <a href=""  class="danger"  ng-click="sortType = 'gravite'; sortReverse = !sortReverse">
                    <span translate="GRAVITY"></span>
                    <span ng-show="sortType == 'gravite' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'gravite' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
              </tr>
              </thead>

              <tbody role="alert" aria-live="polite" aria-relevant="all" >
              <tr class="selectableDanger" ng-repeat="gap in filteredGap = (differences | orderBy:sortType:sortReverse | filter: search.gap | filter:fil.subcoFilter | filter:fil.doFilter | isBetween:date.begin:date.end)
              | startFrom:(pagination.current-1)*pagination.size | limitTo:pagination.size" style="cursor: pointer;"  ng-class="{'selectedDanger':gap == selectedRow}" ng-click="setSelectedRow(gap)">
                <td ng-show="!user.isSubco &&user.contacts.length > 1">{{gap.subco}}</td>
                <td  ng-show="user.isSubco && user.contacts.length > 1">{{gap.iddo}}</td>

                <td>{{gap.date | date:'shortDate'}}</td>
                <td>{{gap.article}}</td>
                <td>{{gap.libelle}}</td>
                <td>{{gap.lot}}</td>
                <td>{{gap.quantity1}} {{gap.unit1}}</td>
                <td>{{gap.gravite}}</td>
              </tr>
              </tbody>
            </table>
          </div>
            <!-- Pagination -->
            <div id="pageQuality" class="row" ng-show="filteredGap.length > pagination.size">
              <div class="col-md-6 col-sm-4 center-xs info_pagination" style="padding:15px;"><span translate="DIFFERENCES"></span> {{(pagination.current-1)*pagination.size+1}}–{{((pagination.current)*pagination.size < filteredGap.length) ?(pagination.current)*pagination.size :filteredGap.length}} / {{filteredGap.length}}</div>
              <div class="col-md-6 col-sm-8 center-xs text-right">
                <pagination  class="paginationDanger" total-items="filteredGap.length" items-per-page="pagination.size" ng-model="pagination.current" max-size="maxSize" boundary-links="true"
                             previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}"></pagination>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal box to view or add a new gap-->
<div class="bootbox modal fade bootbox-prompt in" ng-show="showGap" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="closeAddGap()" class="bootbox-close-button close">×</button>
        <h4 ng-hide="addAction" class="modal-title"  translate="GAP" translate-values='{number:newGap.num}'></h4>
        <h4 ng-show="addAction" class="modal-title"  translate="NEW_GAP"></h4>

      </div>
      <div class="modal-body">
        <form class="bootbox-form" name="viewForm" novalidate>
          <div class="row">
            <div class="col-sm-8 info-row" ng-class="(viewForm.subco.$invalid && validAddBtn)? 'has-error':''" ng-if="!user.isSubco">
              <span class="control-label" translate="SUBCONTRACTOR"></span>
              <select name="subco" size="1" class="form-control"  ng-model="newGap.subco" ng-disabled="!addAction" required>
                <option value="{{contact}}" ng-repeat="contact in user.contacts | orderBy : 'company'" ng-selected="newGap.subco == contact">{{contact}}</option>
              </select>
            </div>
            <div class="col-sm-8 info-row" ng-class="(viewForm.iddo.$invalid && validAddBtn)? 'has-error':''" ng-if="user.isSubco">
              <span class="control-label" translate="CUSTOMER"></span>
              <select name="iddo" size="1" class="form-control"  ng-model="newGap.iddo" ng-disabled="!addAction" required>
                <option value="{{contact}}" ng-repeat="contact in user.contacts | orderBy : 'company'" ng-selected="newGap.iddo == contact">{{contact}}</option>
              </select>
            </div>
            <div class="col-sm-4 info-row" ng-class="(validAddBtn && viewForm.date.$invalid)? 'has-error':''">
              <span class="control-label" translate="DATE"></span>
              <div class="input-daterange input-group">
                <input ng-disabled="!user.isSubco && !rights.custo.editDeviation || user.isSubco && !rights.subco.editDeviation" class="input-small form-control" custom-class="'danger'" name="date" datepicker-append-to-body="false" show-button-bar="false" datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedAdd" ng-model="date.add" type="text" required ng-change="modifDone = true;">
                <span class="input-group-addon control-label" ng-if="!user.isSubco && rights.custo.editDeviation || user.isSubco && rights.subco.editDeviation" style="border-left: 0;cursor:pointer;" ng-click="openAdd($event)"><a class="danger" href=""><i class="fa fa-calendar"></i></a></span>
              </div>
            </div>

            <div class=" col-sm-5 info-row" ng-class="(validAddBtn && viewForm.article.$invalid)? 'has-error':''">
              <span class="control-label" translate="ARTICLE"></span>
              <input name="article"  ng-disabled="!user.isSubco && !rights.custo.editDeviation || user.isSubco && !rights.subco.editDeviation" class="bootbox-input bootbox-input-text form-control" ng-model="newGap.article" type="text" required ng-change="modifDone = true;">
            </div>

            <div class=" col-sm-7 info-row" ng-class="(validAddBtn && viewForm.wording.$invalid)? 'has-error':''">
              <span class="control-label" translate="LABEL"></span>
              <input name="wording"   ng-disabled="!user.isSubco && !rights.custo.editDeviation || user.isSubco && !rights.subco.editDeviation" class="bootbox-input bootbox-input-text form-control" ng-model="newGap.libelle" type="text" required ng-change="modifDone = true;">
            </div>
            <div class="col-xs-6 info-row" ng-class="(validAddBtn && viewForm.gravity.$invalid)? 'has-error':''">
              <span class="control-label" translate="GRAVITY"></span>
              <select size="1" name="gravity"  class="form-control" ng-change="modifDone = true;" ng-model="newGap.gravite" required  ng-disabled="!user.isSubco && !rights.custo.editDeviation || user.isSubco && !rights.subco.editDeviation">
                <option value="{{'TOLERATED' | translate}}" translate="TOLERATED" ng-selected="newGap.gravite == ('TOLERATED' | translate)"></option>
                <option value="{{'LOW' | translate}}" translate="LOW" ng-selected="newGap.gravite == ('LOW' | translate)"></option>
                <option value="{{'MEDIUM' | translate}}" translate="MEDIUM" ng-selected="newGap.gravite == ('MEDIUM' | translate)"></option>
                <option value="{{'HIGH' | translate}}" translate="HIGH" ng-selected="newGap.gravite == ('HIGH' | translate)"></option>
              </select>
            </div>

            <div class="col-xs-6 info-row" ng-class="(validAddBtn && viewForm.lot.$invalid)? 'has-error':''">
              <span class="control-label" translate="BATCH"></span>
              <input name="lot"  class="bootbox-input bootbox-input-text form-control" ng-model="newGap.lot" type="text" required ng-change="modifDone = true;"  ng-disabled="!user.isSubco && !rights.custo.editDeviation || user.isSubco && !rights.subco.editDeviation">
            </div>

            <div class="col-xs-6 info-row" ng-class="(validAddBtn && viewForm.origin.$invalid)? 'has-error':''">
              <span class="control-label" translate="ORIGIN"></span>
              <input name="origin"  class="bootbox-input bootbox-input-text form-control" ng-model="newGap.origine" type="text" required ng-change="modifDone = true;"  ng-disabled="!user.isSubco && !rights.custo.editDeviation || user.isSubco && !rights.subco.editDeviation">
            </div>

            <div class="col-xs-6 info-row" ng-show="newGap.origine != '' && newGap.origine != null" ng-class="(validAddBtn && viewForm.sousor.$invalid)? 'has-error':''">
              <span class="control-label" translate="SUBORIGIN"></span>
              <input name="sousor"  class="bootbox-input bootbox-input-text form-control" ng-model="newGap.sousor" type="text" ng-change="modifDone = true;"  ng-disabled="!user.isSubco && !rights.custo.editDeviation || user.isSubco && !rights.subco.editDeviation">
            </div>

            <div class="col-xs-6 info-row" ng-class="(validAddBtn && viewForm.nature.$invalid)? 'has-error':''">
              <span class="control-label" translate="NATURE"></span>
              <input name="nature"  class="bootbox-input bootbox-input-text form-control" ng-model="newGap.nature" type="text" ng-change="modifDone = true;"  ng-disabled="!user.isSubco && !rights.custo.editDeviation || user.isSubco && !rights.subco.editDeviation" required>
            </div>
            <div class="col-xs-6 info-row" ng-show="newGap.nature != '' && newGap.nature != null" ng-class="(validAddBtn && viewForm.sousnat.$invalid)? 'has-error':''">
              <span class="control-label" translate="SUBNAT"></span>
              <input name="sousnat" class="bootbox-input bootbox-input-text form-control" ng-model="newGap.sousnat" type="text" ng-change="modifDone = true;"  ng-disabled="!user.isSubco && !rights.custo.editDeviation || user.isSubco && !rights.subco.editDeviation">
            </div>


            <div class="col-sm-4 col-xs-8 info-row" ng-class="(validAddBtn && viewForm.quantity1.$invalid)? 'has-error':''">
              <span class="control-label" translate="QUANTITY"></span><span class="control-label"> 1</span>
              <input name="quantity1" type="number" class="bootbox-input bootbox-input-text form-control" step="any" min="0.001"
                     ng-model="newGap.quantity1"
                     required ng-change="modifDone = true;"  ng-disabled="!user.isSubco && !rights.custo.editDeviation || user.isSubco && !rights.subco.editDeviation">
            </div>
            <div class="col-sm-2 col-xs-4 info-row" ng-class="(validAddBtn && viewForm.unit1.$invalid)? 'has-error':''">
              <span class="control-label" translate="UNIT"></span><span class="control-label"> 1</span>
              <select name="unit1" size="1" class="form-control"  ng-model="newGap.unit1" ng-options="unit for unit in units" required ng-change="modifDone = true;"  ng-disabled="!user.isSubco && !rights.custo.editDeviation || user.isSubco && !rights.subco.editDeviation"></select>
            </div>
            <div class="col-sm-4 col-xs-8 info-row" ng-class="(validAddBtn && viewForm.quantity2.$invalid)? 'has-error':''">
              <span class="control-label" translate="QUANTITY"></span><span class="control-label"> 2</span>
              <input name="quantity2"  class="bootbox-input bootbox-input-text form-control" step="any" min="0.001" ng-model="newGap.quantity2" type="number" ng-change="modifDone = true;"  ng-disabled="!user.isSubco && !rights.custo.editDeviation || user.isSubco && !rights.subco.editDeviation">
            </div>
            <div class="col-sm-2 col-xs-4 info-row" ng-class="(validAddBtn && viewForm.unit2.$invalid)? 'has-error':''">
              <span class="control-label" translate="UNIT"></span><span class="control-label"> 2</span>
              <select name="unit2" size="1" class="form-control"  ng-model="newGap.unit2" ng-options="unit for unit in units" ng-change="modifDone = true;"  ng-disabled="!user.isSubco && !rights.custo.editDeviation || user.isSubco && !rights.subco.editDeviation"></select>
            </div>
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <div ng-hide="addAction">
            <a class="btn btn-inverse" ng-click="closeAddGap()"><i class="fa fa-ban"></i><span class="span_icon" translate="CANCEL"></span></a>
            <a class="btn btn-danger" ng-click="showModalDeleteGap(true)" ng-if="!user.isSubco && rights.custo.deleteDeviation || user.isSubco && rights.subco.deleteDeviation"><i class="fa fa-times"></i><span class="span_icon" translate="DELETE"></span></a>
            <a class="btn btn-success" ng-show="modifDone" ng-click="saveGap(viewForm.$valid)"><i class="fa fa-check"></i><span class="span_icon" translate="SAVE"></span></a>
          </div>
          <div ng-show="addAction">
            <a class="btn btn-inverse" ng-click="closeAddGap()"><i class="fa fa-ban"></i><span class="span_icon" translate="CANCEL"></span></a>
            <a class="btn btn-danger" ng-click="addGap(viewForm.$valid)"><i class="fa fa-plus"></i><span class="span_icon" translate="ADD"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bootbox modal fade bootbox-alert in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="successExport">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="modalSuccessExport(false)" style="margin-top: -10px;">×</button>
        <!--<div class="bootbox-body" translate="SUCCESS_EXPORT"></div>-->
        Non implémenté.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="modalSuccessExport(false)" translate="OK"></button>
      </div>
    </div>
  </div>
</div>

<div class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="modalDeleteGap">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="showModalDeleteGap(false)" style="margin-top: -10px;">×</button>
        <div class="bootbox-body"><span translate="DELETE_GAP"></span></div>
      </div>
      <div class="modal-footer">
        <button data-bb-handler="cancel" type="button" class="btn btn-default" ng-click="showModalDeleteGap(false)"><span translate="CANCEL"></span></button>
        <a href="" data-bb-handler="confirm" type="button" class="btn btn-danger"  ng-click="deleteGap()" translate="CONFIRM"></a>
      </div>
    </div>
  </div>
</div>
