<div id="page-heading">
  <ol class="breadcrumb ">
    <li><a class="infoBis" href="#/" translate="DASHBOARD"></a></li>
    <li class="active" translate="SETTINGS"></li>
  </ol>
  <h1 translate="SETTINGS"></h1>
  <div class="options text-rigth-xs text-rigth-sm">
    <div class="btn-group bootstro"
         data-bootstro-placement="bottom"
         data-bootstro-width="300px"
         data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
         data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
         data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
         data-bootstro-title="{{'RESET_TITLE' | translate}}"
         data-bootstro-content="{{'RESET_TEXT' | translate}}">
      <a href="" ng-click="reset()" class="btn btn-info"><i class="fa  fa-refresh"></i><span class="span_icon" translate="RESET"></span></a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-20" style="padding-right:10px;padding-left:10px;">
      <div id="functionnality" class="col-lg-4">
        <div class="panel panel-inverse bootstro"
             data-bootstro-placement="right"
             data-bootstro-width="300px"
             data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
             data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
             data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
             data-bootstro-title="{{'FUNCTION_TITLE' | translate}}"
             data-bootstro-content="{{'FUNCTION_TEXT' | translate}}">
          <div class="panel-body">
            <div class="col-xs-12" style="padding-left:0px;margin-bottom:10px;"><strong translate="FUNCTIONALITY"></strong></div>
            <div class="col-lg-8 col-md-4 col-sm-9 col-xs-8 info-row"><i class="fa fa-dashboard icon-highlight icon-highlight-inverse"></i><span class="span_icon" translate="DASHBOARD"></span> </div>
            <div class="col-lg-4 col-md-2 col-sm-3 col-xs-4 info-row text-right-lg text-rigth-sm text-rigth-xs"><span class="inverse"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="settings.dashboard" ng-change="saveSettings()"><toggle-switch></span></div>
            <div class="col-lg-8 col-md-4 col-sm-9 col-xs-8 info-row"><i class="fa fa-thumbs-up icon-highlight icon-highlight-danger"></i><span class="span_icon" translate="QUALITY"></span></div>
            <div class="col-lg-4 col-md-2 col-sm-3 col-xs-4 info-row text-right-lg text-rigth-sm text-rigth-xs"><span class="danger"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="settings.quality" ng-change="saveSettings()"><toggle-switch></span></div>
            <div class="col-lg-8 col-md-4 col-sm-9 col-xs-8 info-row"><i class="fa fa-file-text icon-highlight icon-highlight-primary"></i><span class="span_icon" translate="ORDERS"></span></div>
            <div class="col-lg-4 col-md-2 col-sm-3 col-xs-4 info-row text-right-lg text-rigth-sm text-rigth-xs"><span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="settings.orders" ng-change="saveSettings()"><toggle-switch></span></div>
            <!--<div class="col-lg-8 col-md-4 col-sm-9 col-xs-8 info-row"><i class="fa fa-barcode icon-highlight icon-highlight-success"></i><span class="span_icon" translate="RECEPTION"></span></div>-->
            <!--<div class="col-lg-4 col-md-2 col-sm-3 col-xs-4 info-row text-right-lg text-rigth-sm text-rigth-xs"><span class="success"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="settings.reception" ng-change="saveSettings()"><toggle-switch></span></div>-->
            <div class="col-lg-8 col-md-4 col-sm-9 col-xs-8 info-row"><i class="fa fa-tasks icon-highlight icon-highlight-orange"></i><span class="span_icon" translate="STOCK"></span></div>
            <div class="col-lg-4 col-md-2 col-sm-3 col-xs-4 info-row text-right-lg text-rigth-sm text-rigth-xs"><span class="stock"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="settings.stock" ng-change="saveSettings()"><toggle-switch></span></div>
            <div class="col-lg-8 col-md-4 col-sm-9 col-xs-8 info-row"><i class="fa fa-calendar icon-highlight icon-highlight-midnightblue"></i><span class="span_icon" translate="CALENDAR"></span></div>
            <div class="col-lg-4 col-md-2 col-sm-3 col-xs-4 info-row text-right-lg text-rigth-sm text-rigth-xs"><span class="midnightblue"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="settings.calendar" ng-change="saveSettings()"><toggle-switch></span></div>
          </div>
        </div>
      </div>
      <div id="global" class="col-lg-8 break">
        <div class="panel panel-sky bootstro"
             data-bootstro-placement="left"
             data-bootstro-width="300px"
             data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
             data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
             data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
             data-bootstro-title="{{'GENERAL_TITLE' | translate}}"
             data-bootstro-content="{{'GENERAL_TEXT' | translate}}">
          <div class="panel-body">
            <form action="#" class="form-horizontal row-border">
              <!-- language -->
              <div id="language" class="form-group space ">
                <label class="col-md-4 col-sm-12 col-xs-12"><strong translate="PORTAL_LANGUAGE"></strong></label>
                <label class="col-md-2 col-sm-3 "><a href="" class="btn" style="width:110px;" ng-class="settings.language == 'fr' ? 'btn-inverse' : 'btn-inverse-alt'" ng_click="save_language('fr');">Français<img style="margin-left:10px;" src="../../images/flag/fr.png"></a></label>
                <label class="col-md-2 col-sm-3 "><a href="" class="btn" style="width:110px;" ng-class="settings.language == 'en-gb' ? 'btn-inverse' : 'btn-inverse-alt'" ng_click="save_language('en-gb');">English<img style="margin-left:10px;" src="../../images/flag/gb.png"></a></label>
                <!--<label class="col-md-2 col-sm-3 "><a href="" class="btn" style="width:110px;" ng-class="settings.language == 'de' ? 'btn-inverse' : 'btn-inverse-alt'" ng_click="save_language('de');">Deutsch</a></label>-->
              </div>

              <!-- Subcontractor by default -->
              <div id="subcontractor" class="form-group space" ng-show="user.contacts.length > 1">
                <label class="col-md-4 col-sm-12 col-xs-12">
                  <strong translate="SUBCO_OPEN_PORTAL" ng-if="!user.isSubco"></strong>
                  <strong translate="DO_OPEN_PORTAL" ng-if="user.isSubco"></strong>
                </label>
                <label class="col-md-4 col-sm-12 col-xs-12 center-xs">
                  <select size="1" name="editable_length" aria-controls="editable" class="form-control" ng-model="settings.subDefault" style="background-color: transparent;cursor:pointer;" ng-change="saveSettings()">
                    <option value="" ng-if="!user.isSubco" ng-selected="settings.subDefault == ''" translate="ALL_SC" ></option>
                    <option value="" ng-if="user.isSubco" ng-selected="settings.subDefault == ''" translate="ALL_DO" ></option>
                    <option value="{{contact}}" ng-selected="settings.subDefault == contact" ng-repeat="contact in user.contacts | orderBy : 'company'">{{contact}}</option>
                  </select>
                </label>
              </div>

              <!-- Date by default -->
              <div id="daterange" class="form-group space" ng-show="settings.dashboard">
                <label class="col-md-4 col-sm-12 col-xs-12"><strong translate="DATE_OPEN_PORTAL"></strong></label>
                <label class="col-md-3 col-sm-12 col-xs-12 center-xs" ng-class="dateRange ? 'open' : ''">
                  <a href=""  ng-click="openDP()" class="btn btn-default dropdown-toggle" ><i class="fa fa-calendar-o"></i><span style="margin-left:10px;">{{display}}</span> <span class="caret"></span></a>
                  <ul class="dropdown-menu" style="padding:0px; width: 250px;">
                    <div class="col-md-12 col-20">
                      <div class="row range" ng-class="format == 0 ? 'active' : ''" ng-click="setDate(0);reloadPage();" translate="TODAY"></div>
                      <div class="row range" ng-class="format == 1 ? 'active' : ''" ng-click="setDate(1);reloadPage();" translate="YESTERDAY"></div>
                      <div class="row range" ng-class="format == 2 ? 'active' : ''" ng-click="setDate(2);reloadPage();" translate="LAST_7_DAYS"></div>
                      <div class="row range" ng-class="format == 3 ? 'active' : ''" ng-click="setDate(3);reloadPage();" translate="LAST_30_DAYS"></div>
                      <div class="row range" ng-class="format == 4 ? 'active' : ''" ng-click="setDate(4);reloadPage();" translate="THIS_MONTH"></div>
                      <div class="row range" ng-class="format == 5 ? 'active' : ''" ng-click="setDate(5);reloadPage();" translate="LAST_MONTH"></div>
                      <div class="row range" ng-class="format == 6 ? 'active' : ''" ng-click="setDate(6)" translate="CUSTOM_RANGE"></div>
                      <div class="row">
                        <div class="input-daterange input-group">
                          <span class="input-group-addon from_to" translate="FROM"></span>
                          <div class="hackyhack">
                            <input  type="text" ng-model="date.begin" ng-click="openBegin($event)"  class="form-control" style="font-size:12px;" datepicker-append-to-body="false" show-button-bar="false" datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedBegin" ng-required="true"/>
                          </div>
                          <span class="input-group-addon from_to" translate="TO"></span>
                          <div class="hackyhack">
                            <input  type="text" ng-model="date.end" ng-click="openEnd($event)" class="form-control" style="font-size:12px;" datepicker-append-to-body="false" show-button-bar="false" datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedEnd" ng-required="true"/>
                          </div>
                        </div>
                      </div>

                      <div class="row" style="text-align: center;margin-top: 10px;">
                        <div class="btn-toolbar">
                          <button class="btn-default btn btn-small" ng-click="cancelDP()" translate="CANCEL"></button>&nbsp;<button class="btn-success btn btn-small" ng-click="setDate(7);reloadPage();" translate="APPLY"></button>
                        </div>
                      </div>
                    </div>
                  </ul>
                </label>
              </div>

              <!-- Notifications -->
              <div id="notifications" class="form-group space">
                <label class="col-md-4 col-sm-12 col-xs-12"><strong translate="ACTIVATE_NOT"></strong></label>
                <label class="col-md-2  center-xs"><i class="fa fa-bell icon-highlight icon-highlight-info"></i><span class="span_icon" translate="VERT_MENU"></span></label>
                <label class="col-md-2  center-xs"><span class="inverse"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="settings.vertical" ng-change="saveSettings()"><toggle-switch></span></label>
                <label class="col-md-2  center-xs"><i class="fa fa-reorder icon-highlight icon-highlight-info"></i><span class="span_icon" translate="HORI_MENU"></span></label>
                <label class="col-md-2  center-xs"><span class="inverse"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="settings.horizontal" ng-change="saveSettings()" ><toggle-switch></span></label>
              </div>

              <div id="preservation" class="form-group space" ng-show="settings.vertical || settings.horizontal">
                <label class="col-md-4 col-sm-12 col-xs-12"><strong translate="PRESERVATION_NOT"></strong></label>
                <div class="col-md-6  center-xs"><label><input type="number" style="text-align:center;font-weight: bold;" class="form-control numVis" min="0" max="30" step="1" ng-model="settings.numOfDays" ng-change="saveSettings()"></label><span class="span_icon" translate="DAYS"></span></div>
              </div>

              <!-- Calendar view -->
              <div id="viewcal" class="form-group space" ng-show="settings.calendar">
                <label class="col-md-4 col-sm-12 col-xs-12"><strong translate="CALENDAR_VIEW"></strong></label>
                <label class="col-md-2 col-sm-3 "><a href="" ng-class="settings.view == 'day' ? 'btn-inverse':'btn-inverse-alt'" class="btn" style="width:110px;" translate="DAY" ng-click="save_view('day')"></a></label>
                <label class="col-md-2 col-sm-3 "><a href="" ng-class="settings.view == 'week' ? 'btn-inverse':'btn-inverse-alt'" class="btn"  style="width:110px;" translate="WEEK" ng-click="save_view('week')"></a></label>
                <label class="col-md-2 col-sm-3 "><a href="" ng-class="settings.view == 'month' ? 'btn-inverse':'btn-inverse-alt'" class="btn" style="width:110px;" translate="MONTH" ng-click="save_view('month')"></a></label>
                <label class="col-md-2 col-sm-3 "><a href="" ng-class="settings.view == 'year' ? 'btn-inverse':'btn-inverse-alt'" class="btn" style="width:110px;" translate="YEAR" ng-click="save_view('year')"></a></label>
              </div>

              <div id="colorHor" class="form-group space">
                <label class="col-md-4 col-sm-12 col-xs-12"><strong translate="HOR_MENU"></strong></label>
                <div class="col-md-2 col-xs-3">
                  <a href="" class="badge badge-black rondBig" ng-style="{'border':((color.header=='black')? '2px solid #4d4d4d' : '0px')}" ng-click="colorSet('black', color.leftbar)">
                    <i ng-show="color.header=='black'" class="fa fa-check rondCheckBig"></i>
                  </a>
                </div>
                <div class="col-md-2 col-xs-3">
                  <a href="" class="badge badge-normalH rondBig" ng-style="{'border':((color.header=='normal')? '2px solid #4d4d4d' : '0px')}" ng-click="colorSet('normal', color.leftbar)">
                    <i ng-show="color.header=='normal'" class="fa fa-check rondCheckBig"></i>
                  </a>
                </div>
                <div class="col-md-2 col-xs-3">
                  <a href="" class="badge badge-red rondBig" ng-style="{'border':((color.header=='red')? '2px solid #4d4d4d' : '0px')}" ng-click="colorSet('red', color.leftbar)">
                    <i ng-show="color.header=='red'" class="fa fa-check rondCheckBig"></i>
                  </a>
                </div>
                <div class="col-md-2 col-xs-3">
                  <a href="" class="badge badge-blue rondBig" ng-style="{'border':((color.header=='blue')? '2px solid #4d4d4d' : '0px')}" ng-click="colorSet('blue', color.leftbar)">
                    <i ng-show="color.header=='blue'" class="fa fa-check rondCheckBig"></i>
                  </a>
                </div>
              </div>

              <!-- First day of the week -->
              <div id="colorVert" class="form-group space">
                <label class="col-md-4 col-sm-12 col-xs-12"><strong translate="VERT_MENU"></strong></label>
                <div class="col-md-2 col-xs-3">
                  <a href="" class="badge badge-normalL rondBig" style="border:2px solid #4d4d4d;" ng-click="colorSet(color.header, 'normal')">
                    <i ng-show="color.leftbar=='normal'" class="fa fa-check rondCheckBigBlack"></i>
                  </a>
                </div>
                <div class="col-md-2 col-xs-3">
                  <a href="" class="badge badge-steel rondBig" ng-style="{'border':((color.leftbar=='steel')? '2px solid #4d4d4d' : '0px')}" ng-click="colorSet(color.header, 'steel')">
                    <i ng-show="color.leftbar=='steel'" class="fa fa-check rondCheckBig"></i>
                  </a>
                </div>
                <div class="col-md-2 col-xs-3">
                  <a href="" class="badge badge-lavender rondBig" ng-style="{'border':((color.leftbar=='lavender')? '2px solid #4d4d4d' : '0px')}" ng-click="colorSet(color.header, 'lavender')">
                    <i ng-show="color.leftbar=='lavender'" class="fa fa-check rondCheckBig"></i>
                  </a>
                </div>
                <div class="col-md-2 col-xs-3">
                  <a href="" class="badge badge-green rondBig" ng-style="{'border':((color.leftbar=='green')? '2px solid #4d4d4d' : '0px')}" ng-click="colorSet(color.header, 'green')">
                    <i ng-show="color.leftbar=='green'" class="fa fa-check rondCheckBig"></i>
                  </a>
                </div>
              </div>

              <div id="fixedVert" class="form-group space">
                <label class="col-xs-4"><strong translate="FIX_HOR_MENU"></strong></label>
                <div class="col-xs-8"><span class="inverse"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="settings.fixed" ng-change="changeFixed()"><toggle-switch></toggle-switch></div>
              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
