<!doctype html>
<html class="no-js" ng-app="vif.taffeur" ng-strict-di  ng-controller="hubCtrl">

<head>
  <meta charset="utf-8">
  <title ng-cloak></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="images/icon.png">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css" />
  <link rel="stylesheet" href="bower_components/angular-bootstrap-toggle-switch/style/bootstrap3/angular-toggle-switch-bootstrap-3.css" />
  <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
  <link rel="stylesheet" href="bower_components/angularjs-datepicker/dist/angular-datepicker.min.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="bower_components/wtech-theme/bootstrap.min.css" />
  <link rel="stylesheet" href="bower_components/wtech-theme/avant.min.css" />
  <link rel="stylesheet" href="bower_components/wtech-theme/vif-web.min.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="../bower_components/bootstro/bootstro.css" />
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/dataTable.css">
  <!-- endbuild -->
</head>

<body ng-class="changeBarre()">
  <div id="connection" ng-if="log.login">
    <div ng-view></div>
  </div>
  <div id="application" ng-if="!log.login" ng-controller="navigationCtrl">
    <ng-include id="header" ng-if="!log.admin" src="'app/navigation/header.html'"></ng-include>
    <ng-include id="headerAdmin" ng-if="log.admin" src="'app/admin/adminHeader.html'"></ng-include>

    <div id="page-container" style="overflow-x: auto;">
      <ng-include id="leftBar" ng-if="!log.admin" src="'app/navigation/leftbar.html'"></ng-include>
      <ng-include id="leftBarAdmin" ng-if="log.admin" src="'app/admin/adminLeftbar.html'"></ng-include>
      <!-- Page-content -->
      <div id="page-content" style="min-height: 1045px;min-width: 400px;">
        <div id="wrap">
          <div ng-view></div>
        </div>
      </div>

      <ng-include id="footer" src="'app/navigation/footer.html'"></ng-include>
    </div>
  </div>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>
  <script src="bower_components/angular-bootstrap-toggle-switch/angular-toggle-switch.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
  <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
  <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
  <script src="bower_components/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
  <script src="bower_components/bootstro/bootstro.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/moment-range/dist/moment-range.js"></script>
  <script src="bower_components/ng-password-strength/dist/scripts/ng-password-strength.js"></script>
  <script src="bower_components/angular-css-injector/angular-css-injector.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({.tmp,src}) scripts/scripts.js -->
  <script src="../bower_components/moment/locale/fr.js"></script>
  <script src="../bower_components/moment/locale/en-gb.js"></script>
  <script src="../bower_components/moment/locale/de.js"></script>
  <script src="app/app.js"></script>
  <script src="app/login/loginCtrl.js"></script>
  <script src="app/custom_tools/globalService.js"></script>
  <script src="app/orders/scheduleCtrl.js"></script>
  <script src="app/orders/scheduleService.js"></script>
  <script src="app/dashboard/dashboardCtrl.js"></script>
  <script src="app/orders/orderCtrl.js"></script>
  <script src="app/stock/inventoryCtrl.js"></script>
  <script src="app/stock/inventoriesCtrl.js"></script>
  <script src="app/stock/inventoriesService.js"></script>
  <script src="app/stock/statusCtrl.js"></script>
  <script src="app/stock/statusService.js"></script>
  <script src="app/custom_tools/paginationFilter.js"></script>
  <script src="app/quality/qualityCtrl.js"></script>
  <script src="app/quality/qualityService.js"></script>
  <script src="app/settings/settingsCtrl.js"></script>
  <script src="app/account/accountCtrl.js"></script>
  <script src="app/login/usersService.js"></script>
  <script src="app/calendar/calendarCtrl.js"></script>
  <script src="app/custom_tools/dateFilter.js"></script>
  <script src="app/custom_tools/pageTitle.js"></script>
  <script src="app/reception/receptionCtrl.js"></script>
  <script src="app/reception/oneReceptionCtrl.js"></script>
  <script src="app/reception/receptionService.js"></script>
  <script src="app/custom_tools/clicAnywhereButHere.js"></script>
  <script src="app/calendar/calendarService.js"></script>
  <script src="app/login/authenticationService.js"></script>
  <script src="app/navigation/navigationCtrl.js"></script>
  <script src="app/custom_tools/404Ctrl.js"></script>
  <script src="app/login/firstCtrl.js"></script>
  <script src="app/custom_tools/passwordMatch.js"></script>
  <script src="app/custom_tools/uniqueFilter.js"></script>
  <script src="app/admin/adminCtrl.js"></script>
  <script src="app/label/labelsCtrl.js"></script>
  <script src="app/admin/adminService.js"></script>
  <script src="app/admin/rightsCtrl.js"></script>
  <script src="app/login/resetCtrl.js"></script>

  <!-- endbuild -->
  </body>
</html>

