<!-- Page to visualize the information about one production order and his entries and outputs -->

<div id="page-heading">
  <!-- Breadcrumb -->
  <ol class="breadcrumb ">
    <li><a ng-href="#/" data-translate="DASHBOARD"></a></li>
    <li><a ng-href="#/orders" data-translate="ORDERS" ng-click="setRead_OneType('orders')"></a></li>
    <li class="active"><span data-translate="OF"></span><span> {{order.num}}</span></li>
  </ol>

  <!-- Page title -->
  <h1><span data-translate="OF"></span><span> {{order.num}}</span></h1>

  <!-- Buttons to export data -->
  <div class="options text-rigth-xs text-rigth-sm">
    <div class="btn-toolbar">
      <div class="btn-group" ng-if="!user.isSubco">
        <a href="" ng-show="order.entries_valid && order.outputs_valid" class="btn btn-default" ng-click="exportOrd()" data-toggle="dropdown"><i class="fa fa-cloud-download"></i><span class="span_icon" data-translate="EXPORT"></span></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12" style="padding-top:20px;">

      <!-- Information on the production order -->
      <div id="PO-info" class="col-lg-3">
        <div class="panel panel-gray bootstro"
             data-bootstro-placement= "{{getBootstroPlacement()}}"
             data-bootstro-width="300px"
             data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
             data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
             data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
             data-bootstro-title="{{'INFO_PO_TITLE' | translate}}"
             data-bootstro-content="{{'INFO_PO_TEXT' | translate}}">

          <!-- Title -->
          <div id="PO-info-heading" class="panel-heading" data-translate="MO_DETAILS"></div>

          <!-- Summary of the informations -->
          <div id="PO-info-body" class="panel-body" style="padding-right:5px;padding-left:5px;">
            <div class="col-xs-12 info-row" ng-if="changeDone">
              <div class="alert alert-dismissable alert-success">
                <span data-translate="CHANGE_DONE"></span></span>
                <button type="button" class="close" ng-click="hideChangeDone()">×</button>
              </div>
            </div>
            <form name="orderForm" action="#" class="form-horizontal" novalidate>
              <div class="col-xs-12 info-row" ng-show="!user.isSubco" ><span class="control-label" data-translate="SUBCONTRACTOR"></span><input type="text" class="form-control" ng-model="order.subco" ng-disabled="true"></div>
              <div class="col-xs-12 info-row" ng-show="user.isSubco"><span class="control-label" data-translate="CUSTOMER"></span><input type="text" class="form-control" ng-model="order.iddo" ng-disabled="true"></div>

              <div class="col-lg-5 col-md-4 col-sm-4 col-xs-3 info-row" ng-class="(saveBtn && orderForm.number.$invalid)? 'has-error':''">
                <span data-translate="NUMBER" class="control-label"></span>
                <input type="text" name="number" class="form-control" ng-disabled="!user.isSubco && !rights.custo.editMO ||user.isSubco && !rights.subco.editMO" ng-model="order.num" ng-change="setChange()" required>
              </div>
              <div class="col-lg-7 col-md-8 col-sm-8 col-xs-9 info-row" ng-class="(saveBtn && orderForm.date.$invalid)? 'has-error':''">
                <span data-translate="DATE" class="control-label"></span>
                <div class="input-daterange input-group" ng-disabled="user.isSubco">
                  <input  class="input-small form-control" name="date" ng-disabled="!user.isSubco && !rights.custo.editMO ||user.isSubco && !rights.subco.editMO" datepicker-append-to-body="false" show-button-bar="false" ng-change="setChange()" datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedDate" ng-model="order.date" type="text" required>

                  <span class="input-group-addon control-label" ng-hide="!user.isSubco && !rights.custo.editMO ||user.isSubco && !rights.subco.editMO" style="border-left: 0;cursor:pointer;" ng-click="openDate($event)"><a href=""><i class="fa fa-calendar"></i></a></span>
                </div>
              </div>

              <div class="col-lg-5 col-md-4 col-sm-4 col-xs-3 info-row" ng-class="(saveBtn && orderForm.priority.$invalid)? 'has-error':''">
                <span data-translate="PRIORITY" class="control-label"></span><input type="text"name="priority" class="form-control" ng-disabled="!user.isSubco && !rights.custo.editMO ||user.isSubco && !rights.subco.editMO" ng-model="order.priority" ng-change="setChange()" required></div>
              <div class="col-lg-7  col-sm-8 col-xs-12 info-row" ng-class="(saveBtn && orderForm.article.$invalid)? 'has-error':''">
                <span data-translate="ARTICLE" class="control-label"></span><input type="text"  name="article" class="form-control" ng-disabled="!user.isSubco && !rights.custo.editMO ||user.isSubco && !rights.subco.editMO" ng-model="order.article" ng-change="setChange()" required></div>
              <div class="col-xs-12 info-row" ng-class="(saveBtn && orderForm.label.$invalid)? 'has-error':''">
                <span data-translate="LABEL" class="control-label"></span><input type="text" name="label" class="form-control" ng-disabled="!user.isSubco && !rights.custo.editMO ||user.isSubco && !rights.subco.editMO" ng-model="order.lib" ng-change="setChange()" required></div>
              <div class="col-lg-7  col-sm-4 col-xs-8 info-row" ng-class="(saveBtn && orderForm.quantity1.$invalid)? 'has-error':''">
                <span data-translate="QUANTITY" class="control-label" data-translate-values='{number:1}'></span><input name="quantity1" type="number" step="any" min="0.001" class="form-control" ng-disabled="!user.isSubco && !rights.custo.editMO ||user.isSubco && !rights.subco.editMO" ng-model="order.quantity" ng-change="setChange()" required></div>
              <div class="col-lg-5  col-sm-2 col-xs-4 info-row" ng-class="(saveBtn && orderForm.unit1.$invalid)? 'has-error':''">
                <span data-translate="UNIT" class="control-label" data-translate-values='{number:1}'></span>
                <select size="1" class="form-control" name="unit1"  ng-model="order.unit" ng-options="unit for unit in units" ng-disabled="!user.isSubco && !rights.custo.editMO ||user.isSubco && !rights.subco.editMO" ng-change="setChange()" required></select>
              </div>

              <div class="col-lg-7  col-sm-4 col-xs-8 info-row" ng-class="(saveBtn && orderForm.quantity2.$invalid)? 'has-error':''">
                <span data-translate="QUANTITY" class="control-label" data-translate-values='{number:2}'></span><input name="quantity2" type="number" step="any" min="0.001" class="form-control" ng-disabled="!user.isSubco && !rights.custo.editMO ||user.isSubco && !rights.subco.editMO" ng-model="order.quantity2" ng-change="setChange()"></div>
              <div class="col-lg-5  col-sm-2 col-xs-4 info-row" ng-class="(saveBtn && orderForm.date.$invalid)? 'has-error':''">
                <span data-translate="UNIT" class="control-label" data-translate-values='{number:2}'></span>
                <select size="1" name="unit2" class="form-control"  ng-model="order.unit2" ng-options="unit for unit in units" ng-disabled="!user.isSubco && !rights.custo.editMO ||user.isSubco && !rights.subco.editMO" ng-change="setChange()"></select>
              </div>
            </form>
        </div>
          <!-- Button to delete the PO -->
          <div id="PO-info-footer" class="panel-footer" style="text-align: center;" ng-if="!user.isSubco && rights.custo.deleteMO ||user.isSubco && rights.subco.deleteMO">
            <a href="" class="btn btn-primary" ng-if="change" ng-click="saveTheOrder(orderForm.$valid)">
              <i class="fa  fa-check"></i><span class="span_icon" data-translate="SAVE"></span>
            </a>
            <a href="" class="btn btn-inverse-alt bootstro" ng-click="setShowModalPO(true)"
               data-bootstro-placement="top"
               data-bootstro-width="300px"
               data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
               data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
               data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
               data-bootstro-title="{{'DELETE_ORDER_TITLE' | translate}}"
               data-bootstro-content="{{'DELETE_ORDER_TEXT' | translate}}">
              <i class="fa  fa-times"></i><span class="span_icon" data-translate="DELETE"></span>
            </a>
          </div>
          </div>
      </div>

      <!-- Entries and outputs of the production order -->
      <div id="PO-entries-outputs" class="col-lg-9">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="titlePanel">{{of.lib}}</h4>
            <div class="options">
              <ul class="nav nav-tabs">
                <li ng-class="entriesTab ? 'active':''">
                  <a href="" ng-click="entriesTab = true; outputsTab = false;" data-toggle="tab"> <i class="fa fa-sign-in icon-highlight icon-highlight-primary"></i><span data-translate="PRODUCTION_INPUTS"></span></a></li>
                <li ng-class="outputsTab ? 'active':''">
                  <a href="" ng-click="entriesTab = false; outputsTab = true;"  data-toggle="tab">
                    <i class="fa fa-sign-out icon-highlight icon-highlight-primary"></i>
                    <span data-translate="OUTPUTS_MANUFACTURING"></span> </a></li>
              </ul>
            </div>
          </div>
          <div class="panel-body">
            <div class="tab-content">

              <!-- Entries - body -->
              <div class="tab-pane" ng-class="entriesTab ? 'active':''" id="entries" ng-if="entriesTab">
                <div class="alert alert-dismissable alert-info" ng-if="order.entries_valid" data-translate="ENTRIES_VALIDATE" translate-values='{ number: order.num}'></div>

                <div id="btnEntries" class="row" style="margin-bottom:20px;">
                  <div class="col-md-6">
                    <a class="btn btn-inverse-alt bootstro" ng-click="showModalDeleteEntry(true)" ng-disabled="selectedEntry==null" ng-if="!user.isSubco && rights.custo.deleteEntry ||user.isSubco && rights.subco.deleteEntry"
                       data-bootstro-placement="right"
                       data-bootstro-width="300px"
                       data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                       data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                       data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                       data-bootstro-title="{{'DELETE_ENTRY_TITLE' | translate}}"
                       data-bootstro-content="{{'DELETE_ENTRY_TEXT' | translate}}">
                      <i class="fa fa-times"></i><span class="span_icon" data-translate="DELETE"></span></a>
                  </div>
                  <div class="col-md-6 text-right"><label><input type="text" class="form-control bootstro" ng-model="search.entries" ng-change='selectedEntry = null; newEntry = null' placeholder="{{'SEARCH' | translate}}..."
                                                                 data-bootstro-placement="left"
                                                                 data-bootstro-width="300px"
                                                                 data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                                                                 data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                                                                 data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                                                                 data-bootstro-title="{{'SEARCH_TITLE' | translate}}"
                                                                 data-bootstro-content="{{'SEARCH_ENTRY_TEXT' | translate}}"></label></div>
                </div>

                <!-- Alert message when the entries are validated or when there are no entries-->
                <div class="alert alert-dismissable alert-info" ng-if="filteredDataEntries.length==0 && (search.entries == '' || search.entries == null)" data-translate="NO_ENTRY"></div>
                <div class="alert alert-dismissable alert-info" ng-if="filteredDataEntries.length==0 && search.entries != '' && search.entries != null" data-translate="NO_ENTRY_SEARCH" translate-values='{ search: search.entries}'></div>


                <!-- Display of all the entries-->
                <div id="tilesEntries" class="row bootstro"
                     data-bootstro-placement="top"
                     data-bootstro-width="300px"
                     data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                     data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                     data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                     data-bootstro-title="{{'ENTRIES_TITLE' | translate}}"
                     data-bootstro-content="{{'ENTRIES_TEXT' | translate}}">

                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" ng-repeat="entry in filteredDataEntries = (order.entries | filter: search.entries)" ng-click="setSelectedEntry(entry)">
                    <a class="info-tiles " ng-class ="classEntry(entry)" href="" style="margin-top:5px;margin-bottom:5px;">
                      <div class="tiles-heading">
                        <div class="pull-left">{{entry.lib}}</div>
                      </div>
                      <div class="tiles-body">
                        <div class="pull-left"><i class="fa" ng-class ="selectedEntry == entry ? 'fa-dot-circle-o':'fa-circle-o'"></i></div>
                        <div class="pull-right">{{quantitySum(entry)}}{{entry.data[0].unit1}} | {{entry.quantity1}}{{entry.unit1}}</div>
                      </div>
                      <div class="tiles-footer">
                        {{entry.article}}
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <!-- Outputs - body -->
              <div class="tab-pane" id="outputs" ng-class="outputsTab ? 'active':''" ng-if="outputsTab">

                <div class="alert alert-dismissable alert-info" ng-if="order.outputs_valid" data-translate="OUTPUTS_VALIDATE" translate-values='{ number: order.num}'></div>

                <div  id="btnOutputs"  class="row" style="margin-bottom:20px;">
                  <div class="col-md-6"><a class="btn btn-inverse-alt bootstro" ng-click="showModalDeleteOutput(true)" ng-disabled="selectedOutput==null"  ng-if="!user.isSubco && rights.custo.deleteOutput ||user.isSubco && rights.subco.deleteOutput"
                                           data-bootstro-placement="right"
                                           data-bootstro-width="300px"
                                           data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                                           data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                                           data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                                           data-bootstro-title="{{'DELETE_OUTPUT_TITLE' | translate}}"
                                           data-bootstro-content="{{'DELETE_OUTPUT_TEXT' | translate}}"><i class="fa fa-times"></i><span class="span_icon" data-translate="DELETE"></span></a></div>
                  <div class="col-md-6 text-right"><label><input type="text" class="form-control bootstro" ng-model="search.outputs" ng-change='selectedOutput = null; newOutput =null' placeholder="{{'SEARCH' | translate}}..."
                                                                 data-bootstro-placement="left"
                                                                 data-bootstro-width="300px"
                                                                 data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                                                                 data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                                                                 data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                                                                 data-bootstro-title="{{'SEARCH_TITLE' | translate}}"
                                                                 data-bootstro-content="{{'SEARCH_OUTPUT_TEXT' | translate}}"></label></div>
                </div>

                <!-- Alert message when the outputs are validated or when there are no outputs-->
                <div class="alert alert-dismissable alert-info" ng-if="filteredDataOutputs.length==0 && (search.outputs == '' || search.outputs == null)" data-translate="NO_OUTPUT"></div>
                <div class="alert alert-dismissable alert-info" ng-if="filteredDataOutputs.length==0 && search.outputs != '' && search.outputs != null" data-translate="NO_OUTPUT_SEARCH" translate-values='{ search: search.outputs}'></div>

                <!-- Display of all the outputs-->
                <div id="tilesOutput" class="row bootstro"
                     data-bootstro-placement="left"
                     data-bootstro-width="300px"
                     data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                     data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                     data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                     data-bootstro-title="{{'OUTPUTS_TITLE' | translate}}"
                     data-bootstro-content="{{'OUTPUTS_TEXT' | translate}}">
                  <div class="col-md-3" ng-repeat="output in filteredDataOutputs = (order.outputs | filter: search.outputs)" ng-click="setSelectedOutput(output)">
                    <a class="info-tiles" href="" ng-class ="classOutput(output)" style="margin-top:5px;margin-bottom:5px;">
                      <div class="tiles-heading">
                        <div class="pull-left">{{output.lib}}</div>
                      </div>
                      <div class="tiles-body">
                        <div class="pull-left"><i class="fa" ng-class ="selectedOutput == output ? 'fa-dot-circle-o':'fa-circle-o'"></i></div>
                        <div class="pull-right">{{quantitySum(output)}}{{output.data[0].unit1}} | {{output.quantity1}}{{output.unit1}}</div>

                      </div>
                      <div class="tiles-footer">
                        {{output.article}}
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Entries - footer 1 : view informations and add a new one-->
          <div id="dataEntries" class="panel-footer bootstro" ng-if="entriesTab && (selectedEntry != null || (selectedEntry == null && (!user.isSubco && rights.custo.addEntry || user.isSubco && rights.subco.addEntry)))"
               data-bootstro-placement="top"
               data-bootstro-width="300px"
               data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
               data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
               data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
               data-bootstro-title="{{'ENTRY_INFO_TITLE' | translate}}"
               data-bootstro-content="{{'ENTRY_INFO_TEXT' | translate}}">
            <div class="col-xs-12 info-row" ng-if="changeDoneEntry">
              <div class="alert alert-dismissable alert-success">
                <span data-translate="CHANGE_DONE"></span>
                <button type="button" class="close" ng-click="hideChangeDoneEntry()">×</button>
              </div>
            </div>
           <form action="#" name="formEntries" class="form-horizontal" novalidate>
              <div class="row info-row" >
                <div class="col-md-6" ng-class="(formEntries.wording.$invalid && validEntriesBtn)? 'has-error':''" >
                  <span class="control-label" data-translate="LABEL"></span>
                  <input name="wording" type="text" class="form-control" ng-model="newEntry.lib" ng-change="setChangeEntry()" ng-disabled="order.entries_valid || (!user.isSubco && !rights.custo.editEntry ||user.isSubco && !rights.subco.editEntry)" required>
                </div>
                <div class="col-md-3" ng-class="(formEntries.article.$invalid && validEntriesBtn)? 'has-error':''">
                  <span class="control-label" data-translate="ARTICLE"></span>
                  <input name="article" type="text" class="form-control" ng-model="newEntry.article"  ng-change="setChangeEntry()"  ng-disabled="order.entries_valid || (!user.isSubco && !rights.custo.editEntry ||user.isSubco && !rights.subco.editEntry)"  required>
                </div>
              </div>
             <div class="row info-row" >
                <div class="col-md-2 col-xs-8" ng-class="(formEntries.quantity1.$invalid && validEntriesBtn)? 'has-error':''" >
                  <span class="control-label" data-translate="QUANTITY" data-translate-values='{number:1}'></span>
                  <input name="quantity1" type="number" step="any" min="0.001" class="form-control"  ng-change="setChangeEntry()"  ng-model="newEntry.quantity1" ng-disabled="order.entries_valid || (!user.isSubco && !rights.custo.editEntry ||user.isSubco && !rights.subco.editEntry)"  required>
                </div>
                <div class="col-md-2 col-xs-4" ng-class="(formEntries.unit1.$invalid && validEntriesBtn)? 'has-error':''">
                  <span class="control-label" data-translate="UNIT" data-translate-values='{number:1}'></span>
                  <select name="unit1" size="1" class="form-control"  ng-model="newEntry.unit1"  ng-change="setChangeEntry()"  ng-options="unit for unit in units" ng-disabled="order.entries_valid || (!user.isSubco && !rights.custo.editEntry ||user.isSubco && !rights.subco.editEntry)"  required></select>
                </div>
                <div class="col-md-2 col-xs-8">
                  <span data-translate="QUANTITY" data-translate-values='{number:2}'></span>
                  <input type="number" class="form-control" step="any" min="0.001"  ng-change="setChangeEntry()"  ng-model="newEntry.quantity2" ng-disabled="order.entries_valid || (!user.isSubco && !rights.custo.editEntry ||user.isSubco && !rights.subco.editEntry)" ></div>
                <div class="col-md-2 col-xs-4">
                  <span data-translate="UNIT" data-translate-values='{number:2}'></span>
                  <select size="1" class="form-control"  ng-model="newEntry.unit2"  ng-change="setChangeEntry()"  ng-options="unit for unit in units" ng-disabled="order.entries_valid|| (!user.isSubco && !rights.custo.editEntry ||user.isSubco && !rights.subco.editEntry)" ></select>
                </div>
                <div class="col-md-4" style="text-align: right;" ><br>
                  <a href="" class="btn btn-success" ng-click="addEntry(formEntries.$valid);" ng-if="(!user.isSubco && rights.custo.addEntry || user.isSubco && rights.subco.addEntry) && selectedEntry == null && !order.entries_valid">
                    <i class="fa  fa-plus"></i><span class="span_icon" data-translate="ADD"></span>
                  </a>
                  <a href="" class="btn btn-inverse" ng-click="saveEntry()" ng-if="changeEntry">
                    <i class="fa  fa-check"></i><span class="span_icon" data-translate="SAVE"></span>
                  </a>
                </div>
              </div>
            </form>

          </div>

          <!-- Entries - footer 2 : show the data of the entry which is selected-->
          <div id="batchEntries" class="panel-footer bootstro" style="background-color:#fff; text-align:right;" ng-if="entriesTab && (selectedEntry != null)"
               data-bootstro-placement="top"
               data-bootstro-width="300px"
               data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
               data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
               data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
               data-bootstro-title="{{'TABLE_ENTRY_TITLE' | translate}}"
               data-bootstro-content="{{'TABLE_ENTRY_TEXT' | translate}}">
            <div class="table-responsive ">
              <table cellpadding="0" cellspacing="0" class="table table-bordered table-striped tableLot">
                <thead>
                <tr role="row">
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:10%;"
                      ng-if="(!user.isSubco && rights.custo.editDataEntry || user.isSubco && rights.subco.editDataEntry) || (!user.isSubco && rights.custo.deleteDataEntry || user.isSubco && rights.subco.deleteDataEntry)" data-translate="EDIT"></th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:10%;">
                    <a href="" ng-click="sortType_Entry = 'rang'; sortReverse_Entry = !sortReverse_Entry">
                      <span data-translate="NUMBER"></span>
                      <span ng-show="sortType_Entry == 'rang' && !sortReverse_Entry" class="fa fa-caret-down"></span>
                      <span ng-show="sortType_Entry == 'rang' && sortReverse_Entry" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:20%;">
                    <a href="" ng-click="sortType_Entry = 'lot'; sortReverse_Entry = !sortReverse_Entry">
                      <span data-translate="BATCH"></span>
                      <span ng-show="sortType_Entry == 'lot' && !sortReverse_Entry" class="fa fa-caret-down"></span>
                      <span ng-show="sortType_Entry == 'lot' && sortReverse_Entry" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:20%;">
                    <a href="" ng-click="sortType_Entry = 'quantity1'; sortReverse_Entry = !sortReverse_Entry">
                    <span data-translate="QUANTITY" data-translate-values='{number:1}'></span>
                    <span ng-show="sortType_Entry == 'quantity1' && !sortReverse_Entry" class="fa fa-caret-down"></span>
                    <span ng-show="sortType_Entry == 'quantity1' && sortReverse_Entry" class="fa fa-caret-up"></span>
                  </a></th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:10%;">
                    <a href="" ng-click="sortType_Entry = 'unit1'; sortReverse_Entry = !sortReverse_Entry">
                    <span data-translate="UNIT" data-translate-values='{number:1}'></span>
                    <span ng-show="sortType_Entry == 'unit1' && !sortReverse_Entry" class="fa fa-caret-down"></span>
                    <span ng-show="sortType_Entry == 'unit1' && sortReverse_Entry" class="fa fa-caret-up"></span>
                  </a></th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:20%;">
                    <a href="" ng-click="sortType_Entry = 'quantity2'; sortReverse_Entry = !sortReverse_Entry">
                    <span data-translate="QUANTITY" data-translate-values='{number:2}'></span>
                    <span ng-show="sortType_Entry == 'quantity2' && !sortReverse_Entry" class="fa fa-caret-down"></span>
                    <span ng-show="sortType_Entry == 'quantity2' && sortReverse_Entry" class="fa fa-caret-up"></span>
                  </a></th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:10%;">
                    <a href="" ng-click="sortType_Entry = 'unit2'; sortReverse_Entry = !sortReverse_Entry">
                    <span data-translate="UNIT" data-translate-values='{number:2}'></span>
                    <span ng-show="sortType_Entry == 'unit2' && !sortReverse_Entry" class="fa fa-caret-down"></span>
                    <span ng-show="sortType_Entry == 'unit2' && sortReverse_Entry" class="fa fa-caret-up"></span>
                  </a>
                  </th>

                </thead>
                <tbody>
                <tr ng-repeat="data in filteredEntries = (selectedEntry.data | filter: search.entries | orderBy:sortType_Entry:sortReverse_Entry)" style="cursor:inherit;">
                  <td style="white-space: nowrap" ng-show="(!user.isSubco && rights.custo.editDataEntry || user.isSubco && rights.subco.editDataEntry) || (!user.isSubco && rights.custo.deleteDataEntry || user.isSubco && rights.subco.deleteDataEntry)">
                    <!-- form -->
                    <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == data">
                      <button tooltip="{{'SAVE' | translate}}" type="submit" ng-click="saveDataEntry(data)" ng-disabled="rowform.$waiting" class="btn btn-success-alt" style="padding:8px;padding-top:3px;padding-bottom:3px;">
                        <i class="fa fa-check"></i>
                      </button>
                      <button tooltip="{{'CANCEL' | translate}}" type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn btn-inverse-alt" style="padding:8px;padding-top:3px;padding-bottom:3px;">
                        <i class="fa fa-ban"></i>
                      </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                      <button tooltip="{{'EDIT' | translate}}" class="btn btn-inverse-alt" ng-click="rowform.$show()" style="padding:8px;padding-top:3px;padding-bottom:3px;"
                              ng-if="(!user.isSubco && rights.custo.editDataEntry || user.isSubco && rights.subco.editDataEntry)">
                        <i class="fa fa-pencil"></i></button>
                      <button tooltip="{{'DELETE' | translate}}" class="btn btn-danger-alt" ng-click="showModalDeleteDataEntry(true, data)" style="padding:8px;padding-top:3px;padding-bottom:3px;"
                              ng-if="(!user.isSubco && rights.custo.deleteDataEntry || user.isSubco && rights.subco.deleteDataEntry)"><i class="fa fa-times"></i></button>
                    </div>
                  </td>
                  <td>{{data.rang}}</td>
                  <td ng-class="data.lot == '' ? 'danger' : ''"><span editable-text="data.lot" e-form="rowform" onaftersave="saveDataEntry(data)">{{data.lot}}</span></td>
                  <td ng-class="((data.quantity1 == '') || (data.quantity1 <= 0))? 'danger' : ''"><span editable-number="data.quantity1" e-min="0" e-form="rowform" onaftersave="saveDataEntry(data)">{{data.quantity1}}</span></td>
                  <td><span editable-select="data.unit1" e-ng-options="unit for unit in units" e-form="rowform">{{data.unit1}}</span></td>
                  <td><span editable-number="data.quantity2" e-form="rowform" e-min="0">{{data.quantity2}}</span></td>
                  <td><span editable-select="data.unit2" e-ng-options="unit for unit in units" e-form="rowform">{{data.unit2}}</span></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="btn-group bootstro"
                 ng-if="entriesTab && (selectedEntry != null) && (!user.isSubco && rights.custo.addDataEntry || user.isSubco && rights.subco.addDataEntry)"
                 data-bootstro-placement="left"
                 data-bootstro-width="300px"
                 data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                 data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                 data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                 data-bootstro-title="{{'ADD_LINE_ENTRY_TITLE' | translate}}"
                 data-bootstro-content="{{'ADD_LINE_ENTRY_TEXT' | translate}}">
            <a href="" class="btn btn-success" style = "float:right;" ng-disabled="order.entries_valid" ng-click="addDataEntry()"><i class="fa fa-plus"></i><span class="span_icon" data-translate="ADD"></span></a>
          </div>
          </div>

          <!-- Entries - footer 3 : validate the entries-->
          <div id="validEntries" class="panel-footer" style="text-align:right;"
               ng-if="entriesTab  && (!user.isSubco && rights.custo.validationEntry || user.isSubco && rights.subco.validationEntry)">
            <div class="btn-group bootstro"
                 data-bootstro-placement="top"
                 data-bootstro-width="300px"
                 data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                 data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                 data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                 data-bootstro-title="{{'VALIDATE_ENTRIES_TITLE' | translate}}"
                 data-bootstro-content="{{'VALIDATE_ENTRIES_TEXT' | translate}}">
              <a href="" class="btn btn-primary  " style = "float:right;" ng-disabled="order.entries_valid" ng-click="showModalValidEntries(true)"><i class="fa fa-check"></i><span class="span_icon" data-translate="VALIDATE_PRODUCTION_INPUTS"></span></a>
            </div>
          </div>

          <!-- Outputs - footer 1 : view informations and add a new one-->
          <div id="dataOutputs" class="panel-footer bootstro" ng-if="outputsTab && (selectedOutput != null || (selectedOutput == null && (!user.isSubco && rights.custo.addOutput || user.isSubco && rights.subco.addOutput)))"
               data-bootstro-placement="top"
               data-bootstro-width="300px"
               data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
               data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
               data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
               data-bootstro-title="{{'OUTPUT_INFO_TITLE' | translate}}"
               data-bootstro-content="{{'OUTPUT_INFO_TEXT' | translate}}"
               novalidate>
            <div class="col-xs-12 info-row" ng-if="changeDoneOutput">
              <div class="alert alert-dismissable alert-success">
                <span data-translate="CHANGE_DONE"></span>
                <button type="button" class="close" ng-click="hideChangeDoneOutput()">×</button>
              </div>
            </div>
            <form action="#" name="formOutput" class="form-horizontal">
              <div class="row info-row">
                <div class="col-md-6">
                  <span data-translate="LABEL"></span>
                  <input type="text" class="form-control" ng-model="newOutput.lib" ng-change="setChangeOutput()" ng-disabled="order.outputs_valid || (!user.isSubco && !rights.custo.editOutput ||user.isSubco && !rights.subco.editOutput)">
                </div>
                <div class="col-md-3">
                  <span data-translate="ARTICLE"></span>
                  <input type="text" class="form-control" ng-model="newOutput.article" ng-change="setChangeOutput()" ng-disabled="order.outputs_valid || (!user.isSubco && !rights.custo.editOutput ||user.isSubco && !rights.subco.editOutput)">
                </div>
              </div>
              <div class="row info-row">
                <div class="col-md-2" ng-class="(formOutput.quantity.$invalid && validOutputBtn && newOutput.quantity1 != 0)? 'has-error':''">
                  <span class="control-label" data-translate="QUANTITY" data-translate-values='{number:1}'></span>
                  <input name="quantity" type="number" step="any" min="0.001"  class="form-control" ng-change="setChangeOutput()" ng-model="newOutput.quantity1" ng-disabled="order.outputs_valid || (!user.isSubco && !rights.custo.editOutput ||user.isSubco && !rights.subco.editOutput)" required>
                </div>
                <div class="col-md-2" ng-class="(formOutput.unit.$invalid && validOutputBtn)? 'has-error':''">
                  <span class="control-label" data-translate="UNIT" data-translate-values='{number:1}'></span>
                  <select name="unit" size="1" class="form-control"  ng-model="newOutput.unit1" ng-disabled="order.outputs_valid || (!user.isSubco && !rights.custo.editOutput ||user.isSubco && !rights.subco.editOutput)" ng-change="setChangeOutput()" ng-options="unit for unit in units" required></select>
                </div>
                <div class="col-md-2">
                  <span data-translate="QUANTITY" data-translate-values='{number:2}'></span>
                  <input type="number" step="any" min="0.001" class="form-control" ng-model="newOutput.quantity2" ng-disabled="order.outputs_valid || (!user.isSubco && !rights.custo.editOutput ||user.isSubco && !rights.subco.editOutput)" ng-change="setChangeOutput()">
                </div>
                <div class="col-md-2">
                  <span data-translate="UNIT" data-translate-values='{number:2}'></span>
                  <select size="1" class="form-control"  ng-model="newOutput.unit2" ng-disabled="order.outputs_valid || (!user.isSubco && !rights.custo.editOutput ||user.isSubco && !rights.subco.editOutput)" ng-options="unit for unit in units" ng-change="setChangeOutput()"></select>
                </div>
                <div class="col-md-4" style="text-align: right;"><br>
                  <a href="" class="btn btn-success" ng-if="(!user.isSubco && rights.custo.addOutput || user.isSubco && rights.subco.addOutput) && selectedOutput == null && !order.outputs_valid"
                     ng-click="addOutput(formOutput.$valid)" ng-disabled="order.outputs_valid || (!user.isSubco && !rights.custo.editOutput ||user.isSubco && !rights.subco.editOutput)">
                    <i class="fa fa-plus"></i><span class="span_icon" data-translate="ADD"></span>
                  </a>
                  <a href="" class="btn btn-inverse" ng-show="changeOutput"
                     ng-click="saveOutput()">
                    <i class="fa fa-check"></i><span class="span_icon" data-translate="SAVE"></span>
                  </a>
                </div>
              </div>
            </form>
          </div>

          <!-- Outputs - footer 2 : show the data of the entry which is selected-->
          <div id="batchOutputs" class="panel-footer bootstro" style="background-color:#fff; text-align:right;" ng-if="outputsTab && (selectedOutput != null)"
               data-bootstro-placement="top"
               data-bootstro-width="300px"
               data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
               data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
               data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
               data-bootstro-title="{{'TABLE_OUTPUT_TITLE' | translate}}"
               data-bootstro-content="{{'TABLE_OUTPUT_TEXT' | translate}}">
            <div class="table-responsive ">
              <table cellpadding="0" cellspacing="0" class="table table-bordered table-striped tableLot">
                <thead>
                <tr role="row">
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:8%;" data-translate="EDIT"
                      ng-if="(!user.isSubco && rights.custo.editDataOutput || user.isSubco && rights.subco.editDataOutput) || (!user.isSubco && rights.custo.deleteDataOutput || user.isSubco && rights.subco.deleteDataOutput)"></th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:7%;">
                    <a href="" ng-click="sortType_Output = 'rang'; sortReverse_Output = !sortReverse_Output">
                      <span data-translate="NUMBER"></span>
                      <span ng-show="sortType_Output == 'rang' && !sortReverse_Output" class="fa fa-caret-down"></span>
                      <span ng-show="sortType_Output == 'rang' && sortReverse_Output" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:15%;">
                    <a href="" ng-click="sortType_Output = 'lot'; sortReverse_Output = !sortReverse_Output">
                      <span data-translate="BATCH"></span>
                      <span ng-show="sortType_Output == 'lot' && !sortReverse_Output" class="fa fa-caret-down"></span>
                      <span ng-show="sortType_Output == 'lot' && sortReverse_Output" class="fa fa-caret-up"></span>
                    </a></th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:12%;">
                    <a href="" ng-click="sortType_Output = 'quantity1'; sortReverse_Output = !sortReverse_Output">
                      <span data-translate="QUANTITY" data-translate-values='{number:1}'></span>
                      <span ng-show="sortType_Output == 'quantity1' && !sortReverse_Output" class="fa fa-caret-down"></span>
                      <span ng-show="sortType_Output == 'quantity1' && sortReverse_Output" class="fa fa-caret-up"></span>
                    </a></th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:10%;">
                    <a href="" ng-click="sortType_Output = 'unit1'; sortReverse_Output = !sortReverse_Output">
                      <span data-translate="UNIT" data-translate-values='{number:1}'></span>
                      <span ng-show="sortType_Output == 'unit1' && !sortReverse_Output" class="fa fa-caret-down"></span>
                      <span ng-show="sortType_Output == 'unit1' && sortReverse_Output" class="fa fa-caret-up"></span>
                    </a></th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:12%;">
                    <a href="" ng-click="sortType_Output = 'quantity2'; sortReverse_Output = !sortReverse_Output">
                      <span data-translate="QUANTITY" data-translate-values='{number:2}'></span>
                      <span ng-show="sortType_Output == 'quantity2' && !sortReverse_Output" class="fa fa-caret-down"></span>
                      <span ng-show="sortType_Output == 'quantity2' && sortReverse_Output" class="fa fa-caret-up"></span>
                    </a></th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:10%;">
                    <a href="" ng-click="sortType_Output = 'unit2'; sortReverse_Output = !sortReverse_Output">
                      <span data-translate="UNIT" data-translate-values='{number:2}'></span>
                      <span ng-show="sortType_Output == 'unit2' && !sortReverse_Output" class="fa fa-caret-down"></span>
                      <span ng-show="sortType_Output == 'unit2' && sortReverse_Output" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                </thead>
                <tbody>
                <tr ng-repeat="data in filteredOutputs = (selectedOutput.data | filter: search.outputs | orderBy:sortType_Output:sortReverse_Output)" style="cursor:inherit;">
                  <td style="white-space: nowrap" ng-show="(!user.isSubco && rights.custo.editDataOutput || user.isSubco && rights.subco.editDataOutput) || (!user.isSubco && rights.custo.deleteDataOutput || user.isSubco && rights.subco.deleteDataOutput)"></th>
                    <form editable-form name="outputForm" ng-show="outputForm.$visible" class="form-buttons form-inline" shown="inserted == data">
                      <button tooltip="{{'SAVE' | translate}}" type="submit" ng-disabled="outputForm.$waiting" ng-click="saveDataOutput(data)" class="btn btn-success-alt" style="padding:8px;padding-top:3px;padding-bottom:3px;">
                        <i class="fa fa-check"></i>
                      </button>
                      <button tooltip="{{'CANCEL' | translate}}" type="button" ng-disabled="outputForm.$waiting" ng-click="outputForm.$cancel()" class="btn btn btn-inverse-alt" style="padding:8px;padding-top:3px;padding-bottom:3px;">
                        <i class="fa fa-ban"></i>
                      </button>
                    </form>
                    <div class="buttons" ng-show="!outputForm.$visible">
                      <button tooltip="{{'EDIT' | translate}}" class="btn btn-inverse-alt" ng-click="outputForm.$show()" style="padding:8px;padding-top:3px;padding-bottom:3px;"
                              ng-if="(!user.isSubco && rights.custo.editDataOutput || user.isSubco && rights.subco.editDataOutput)"><i class="fa fa-pencil"></i></button>
                      <button tooltip="{{'DELETE' | translate}}" class="btn btn-danger-alt" ng-click="showModalDeleteDataOutput(true, data)" style="padding:8px;padding-top:3px;padding-bottom:3px;"
                              ng-if="(!user.isSubco && rights.custo.deleteDataOutput || user.isSubco && rights.subco.deleteDataOutput)"><i class="fa fa-times"></i></button>
                    </div>
                  </td>
                  <td>{{data.rang}}</td>
                  <td ng-class="data.lot == '' ? 'danger' : ''"><span editable-text="data.lot" e-form="outputForm" onaftersave="saveDataOutput(data)">{{data.lot}}</span></td>
                  <td ng-class="((data.quantity1 == '') || (data.quantity1 == 0))? 'danger' : ''"><span  e-min="0" editable-number="data.quantity1" e-form="outputForm" onaftersave="saveDataOutput(data)">{{data.quantity1}}</span></td>
                  <td><span editable-select="data.unit1" e-ng-options="unit for unit in units" e-form="outputForm">{{data.unit1}}</span></td>
                  <td><span editable-number="data.quantity2" e-form="outputForm">{{data.quantity2}}</span></td>
                  <td><span editable-select="data.unit2" e-ng-options="unit for unit in units" e-form="outputForm">{{data.unit2}}</span></td>
                  <!--<td><span editable-text="data.contenant"  e-form="outputForm">{{data.contenant}}</span></td>
                  <td><span editable-text="data.contenantPere" e-form="outputForm">{{data.contenantPere}}</span></td>-->
                </tr>
                </tbody>
              </table>
            </div>
            <div class="btn-group"  ng-if="outputsTab && (selectedOutput != null) && (!user.isSubco && rights.custo.addDataOutput || user.isSubco && rights.subco.addDataOutput)">
            <a href="" class="btn btn-success" style = "float:right;" ng-disabled="order.outputs_valid" ng-click="addDataOutput()"><i class="fa fa-plus"></i><span class="span_icon" data-translate="ADD"></span></a>
            </div>
          </div>

          <!-- Outputs - footer 3 : validate the output -->
          <div id="validOutputs" class="panel-footer" style="text-align:right;" ng-if="outputsTab && (!user.isSubco && rights.custo.validationOutput || user.isSubco && rights.subco.validationOutput)">
            <div class="btn-group bootstro"
                 data-bootstro-placement="top"
                 data-bootstro-width="300px"
                 data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                 data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                 data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                 data-bootstro-title="{{'VALIDATE_OUTPUTS_TITLE' | translate}}"
                 data-bootstro-content="{{'VALIDATE_OUTPUTS_TEXT' | translate}}">
            <a class="btn btn-primary"  ng-click="showModalValidOutputs(true)" ng-disabled="order.outputs_valid"><i class="fa fa-check"></i><span data-translate="VALIDATE_OUTPUTS_MANUFACTURING"></span></a>
            </div>
          </div>
      </div>

   </div>
  </div>
</div>
  </div>

<!-- Modal box to confirm the validation of the entries -->
<div class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="showModalEntries">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="showModalValidEntries(false)" style="margin-top: -10px;">×</button>
        <div class="bootbox-body" data-translate="VALIDATE_ENTRIES"></div></div><div class="modal-footer">
      <button data-bb-handler="cancel" type="button" class="btn btn-default" ng-click="showModalValidEntries(false)" data-translate="CANCEL"></button>
      <button data-bb-handler="confirm" type="button" class="btn btn-primary"  ng-click="validateEntries()" data-translate="CONFIRM"></button>
    </div>
    </div>
  </div>
</div>

<!-- Modal box to confirm the validation of the outputs -->
<div class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="showModalOutputs">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="showModalValidOutputs(false)" style="margin-top: -10px;">×</button>
        <div class="bootbox-body" data-translate="VALIDATE_OUTPUTS"></div></div><div class="modal-footer">
      <button data-bb-handler="cancel" type="button" class="btn btn-default" ng-click="showModalValidOutputs(false)" data-translate="CANCEL"></button>
      <button data-bb-handler="confirm" type="button" class="btn btn-primary"  ng-click="validateOutputs()" data-translate="CONFIRM"></button>
    </div>
    </div>
  </div>
</div>

<!-- Modal box to confirm the deletion of the production order -->
<div class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="showModalPO">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="setShowModalPO(false)" style="margin-top: -10px;">×</button>
        <div class="bootbox-body"> <span data-translate="DELETE_MO_QUESTION"  data-translate-values='{ number: order.num}'></span></div></div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="setShowModalPO(false)"><span data-translate="CANCEL"></span></button>
      <a href="#/orders" data-bb-handler="confirm" type="button" class="btn btn-primary"  ng-click="deletePO()" data-translate="CONFIRM" ng-click="setRead_OneType('orders')"></a>
    </div>
    </div>
  </div>
</div>

<div class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="modalDeleteEntry">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="showModalDeleteEntry(false)" style="margin-top: -10px;">×</button>
        <div class="bootbox-body"> <span data-translate="DELETE_ENTRY" data-translate-values='{ label: selectedEntry.lib}'></span></div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="showModalDeleteEntry(false)"><span data-translate="CANCEL"></span></button>
        <a href="" data-bb-handler="confirm" type="button" class="btn btn-primary"  ng-click="deleteEntry()" data-translate="CONFIRM"></a>
      </div>
    </div>
  </div>
</div>

<div class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="modalDeleteOutput">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="showModalDeleteOutput(false)" style="margin-top: -10px;">×</button>
        <div class="bootbox-body"> <span data-translate="DELETE_OUTPUT"  data-translate-values='{ label: selectedOutput.lib}'></span></div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="showModalDeleteOutput(false)"><span data-translate="CANCEL"></span></button>
        <a href="" data-bb-handler="confirm" type="button" class="btn btn-primary"  ng-click="deleteOutput()" data-translate="CONFIRM"></a>
      </div>
    </div>
  </div>
</div>

<div class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="modalDeleteDataEntry">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="showModalDeleteDataEntry(false, null)" style="margin-top: -10px;">×</button>
        <div class="bootbox-body"> <span data-translate="DELETE_BATCH" data-translate-values='{ batch: selectedEntry.data[saveIndexEntry].lot}'></span></div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="showModalDeleteDataEntry(false, null)"><span data-translate="CANCEL"></span></button>
        <a href="" data-bb-handler="confirm" type="button" class="btn btn-primary"  ng-click="removeDataEntry()" data-translate="CONFIRM"></a>
      </div>
    </div>
  </div>
</div>

<div class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="modalDeleteDataOutput">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="showModalDeleteDataOutput(false, null)" style="margin-top: -10px;">×</button>
        <div class="bootbox-body"> <span data-translate="DELETE_BATCH" data-translate-values='{ batch: selectedOutput.data[saveIndexOutput].lot}'></span></div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="showModalDeleteDataOutput(false, null)"><span data-translate="CANCEL"></span></button>
        <a href="" data-bb-handler="confirm" type="button" class="btn btn-primary"  ng-click="removeDataOutput()" data-translate="CONFIRM"></a>
      </div>
    </div>
  </div>
</div>

<div class="bootbox modal fade bootbox-alert in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="nothingToExport">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="nothingToExport = false;" style="margin-top: -10px;">×</button>
        <div class="bootbox-body" data-translate="NOTHING_NEW_TO_EXPORT"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="closeNothingNew()" data-translate="OK"></button>
      </div>
    </div>
  </div>
</div>
