<!-- Page to visualize all the manufacturing orders -->
<div id="page-heading">
  <ol class="breadcrumb ">
    <li><a href="#/" translate="DASHBOARD"></a></li>
    <li class="active" translate="ORDERS"></li>
  </ol>
  <h1 translate="ORDERS"></h1>
  <div class="options text-rigth-xs text-rigth-sm">
    <div class="btn-toolbar">
      <!-- Import new manufacturing orders -->
      <div class="btn-group bootstro" ng-if="!user.isSubco && rights.custo.addMO ||user.isSubco && rights.subco.addMO"
           data-bootstro-placement="bottom"
           data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
           data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
           data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
           data-bootstro-title="{{'ADD_ORDERS_TITLE' | translate}}"
           data-bootstro-content="{{'ADD_ORDERS_TEXT' | translate}}">
          <a href="" ng-click="openImport()" class="btn btn-primary">
          <i class="fa fa-cloud-upload"></i><span  translate="ADD"></span></span></a>
      </div>
      <!-- Export manufacturing orders -->
      <div class="btn-group hidden-xs bootstro" style="margin-left:5px;" ng-if="!user.isSubco && rights.custo.exportMO ||user.isSubco && rights.subco.exportMO"
           data-bootstro-placement="bottom"
           data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
           data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
           data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
           data-bootstro-title="{{'EXPORT_TITLE' | translate}}"
           data-bootstro-content="{{'EXPORT_TEXT' | translate}}">
        <a href="" class="btn btn-default" data-toggle="dropdown" ng-click="exportPO()">
          <i class="fa fa-cloud-download"></i><span class="span_icon" data-translate="EXPORT"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-12 col-20">
      <div class="panel panel-primary">
        <div class="panel-body">
          <!-- Options for the management of manufacturing orders -->
          <div id="ordersMana" class="row">
            <!-- Buttons for visualize a manufacturing order -->
              <div class="col-md-2 col-sm-3 col-xs-4">
                <a  href="#/orders/{{selectedOrder.key}}" class="btn btn-inverse-alt bootstro" ng-disabled="selectedOrder==null" style="margin-bottom:10px;"
                    data-bootstro-placement="right"
                    data-bootstro-width='300px'
                    data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                    data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                    data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                    data-bootstro-title="{{'VISUALIZE_ORDERS_TITLE' | translate}}"
                    data-bootstro-content="{{'VISUALIZE_ORDERS_TEXT' | translate}}">
                  <i class="fa fa-eye"></i> <span translate="DISPLAY"></span>
                </a>
              </div>

              <!-- List which allow to set the number of data on one page -->
              <div class="col-md-6 col-sm-5 col-xs-4">
                <div id="example_length" class="dataTables_length" ng-show="filteredPO.length > 10">
                  <label>
                    <select ng-model="pagination.size" size="1"  class="form-control">
                      <option value="10" ng-selected="pagination.size ==10">10</option>
                      <option value="25" ng-selected="pagination.size ==25">25</option>
                      <option value="50" ng-selected="pagination.size ==50">50</option>
                      <option value="100" ng-selected="pagination.size ==100">100</option>
                    </select><span class="span_icon hidden-xs" translate="MO_PER_PAGE"></span>
                  </label>
                </div>
              </div>


            <!-- Search form to find a production order in the table -->
            <div  class="col-md-4 text-right col-sm-4 col-xs-4">
              <label><input type="text" class="form-control bootstro" ng-model="search.orders" placeholder="{{'SEARCH' | translate}}..."
                            data-bootstro-placement="left"
                            data-bootstro-width='300px'
                            data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                            data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                            data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                            data-bootstro-title="{{'SEARCH_TITLE' | translate}}"
                            data-bootstro-content="{{'SEARCH_TEXT' | translate}}"></label>
            </div>
          </div>
          <!-- Datepickers -->
          <div class="panel-footer" style="margin-bottom:20px;">
            <div id="ordersDate" class="row">
              <div class="col-md-3"></div>

              <div class="col-md-6 bootstro"
                   data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                   data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                   data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                   data-bootstro-title="{{'RANGE_TITLE' | translate}}"
                   data-bootstro-content="{{'RANGE_TEXT' | translate}}">
                <div class="input-daterange input-group">
                  <span class="input-group-addon from_to" translate="FROM"></span>
                  <input type="text" ng-model="date.begin" class="input-small form-control hack" datepicker-append-to-body="true" show-button-bar="false" datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedBegin" ng-required="true"/>
                  <span class="input-group-addon" style="border-left: 0;cursor:pointer;" ng-click="openBegin($event)"><a href=""><i class="fa fa-calendar"></i></a></span>

                  <span class="input-group-addon from_to" translate="TO"></span>
                  <input type="text" ng-model="date.end" class="input-small form-control hack" datepicker-append-to-body="true" show-button-bar="false" datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedEnd" ng-required="true"/>
                  <span class="input-group-addon" style="cursor:pointer;" ng-click="openEnd($event)"><a href=""><i class="fa fa-calendar"></i></a></span>
                </div>
              </div>
            </div>
          </div>

          <!--  Alert message when there are no data -->
          <div class="alert alert-dismissable alert-info" ng-show="filteredPO.length == 0 && (search.orders == '' ||search.orders ==null)" translate="NO_PO"></div>
          <div class="alert alert-dismissable alert-info" ng-show="filteredPO.length == 0 && search.orders != '' && search.orders !=null" translate="NO_PO_SEARCH" translate-values='{ search: search.orders}'></div>

          <!-- Manufacturing orders table-->
          <div id="PO_table" class="table-responsive bootstro" ng-show="filteredPO.length > 0"
               data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
               data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
               data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
               data-bootstro-title="{{'ORDERS_TABLE_TITLE' | translate}}"
               data-bootstro-content="{{'ORDERS_TABLE_TEXT' | translate}}">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable" id="ordersTable">
              <thead>
              <tr role="row">
                <th ng-show="user.contacts.length > 1" class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a href="" ng-click="sortType = 'subco'; sortReverse = !sortReverse">
                    <span ng-if="!user.isSubco" translate="SUBCONTRACTOR"></span>
                    <span ng-if="user.isSubco" translate="CUSTOMER"></span>
                    <span ng-show="sortType == 'subco' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'subco' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" >
                  <a href="" ng-click="sortType = 'date'; sortReverse = !sortReverse">
                    <span translate="DATE"></span>
                    <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" >
                  <a href="" ng-click="sortType = 'priority'; sortReverse = !sortReverse" >
                    <span translate="PRIORITY"></span>
                    <span ng-show="sortType == 'priority' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'priority' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a href="" ng-click="sortType = 'num'; sortReverse = !sortReverse">
                    <span translate="NUMBER"></span>
                    <span ng-show="sortType == 'num' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'num' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" >
                  <a href="" ng-click="sortType = 'article'; sortReverse = !sortReverse" >
                    <span translate="ARTICLE"></span>
                    <span ng-show="sortType == 'article' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'article' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" >
                  <a href="" ng-click="sortType = 'lib'; sortReverse = !sortReverse">
                    <span translate="LABEL"></span>
                    <span ng-show="sortType == 'lib' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'lib' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a href="" ng-click="sortType = 'quantity'; sortReverse = !sortReverse">
                    <span translate="QUANTITY"></span><span> 1</span>
                    <span ng-show="sortType == 'quantity' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'quantity' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a href="" ng-click="sortType = 'quantity2'; sortReverse = !sortReverse">
                    <span translate="QUANTITY"></span><span> 2</span>
                    <span ng-show="sortType == 'quantity2' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'quantity2' && sortReverse" class="fa fa-caret-up"></span>
                  </a>
                </th>
              </tr>
              </thead>
              <tbody role="alert">
              <tr class="selectable" ng-repeat="ordre in filteredPO = (ordres | orderBy:sortType:sortReverse | filter:search.orders | filter:fil.subcoFilter | filter:fil.doFilter | isBetween:date.begin:date.end) | startFrom:(pagination.current-1)*pagination.size | limitTo:pagination.size"
                  ng-class="{'selected':ordre == selectedOrder}" ng-click="setSelectedOrder(ordre)">
                <td ng-show="!user.isSubco &&user.contacts.length > 1">{{ordre.subco}}</td>
                <td  ng-show="user.isSubco && user.contacts.length > 1">{{ordre.iddo}}</td>

                <td>{{ordre.date | date:'shortDate'}}</td>
                <td>{{ordre.priority}}</td>
                <td>{{ordre.num}}</td>
                <td>{{ordre.article}}</td>
                <td>{{ordre.lib}}</td>
                <td>{{ordre.quantity}} {{ordre.unit}}</td>
                <td>{{ordre.quantity2}} {{ordre.unit2}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- Pagination -->
          <div id="pagination" class="col-md-12" style="padding:0px;" ng-show="filteredPO.length > pagination.size">
            <div class="col-md-6 col-sm-4 center-xs info_pagination"><span translate="MO"></span> {{(pagination.current-1)*pagination.size+1}}–{{((pagination.current)*pagination.size < filteredPO.length) ?(pagination.current)*pagination.size :filteredPO.length}} / {{filteredPO.length}}</div>
            <div class="col-md-6 col-sm-8 center-xs text-right">
              <pagination  class="pagination" total-items="filteredPO.length" items-per-page="pagination.size" ng-model="pagination.current" max-size="maxSize" boundary-links="true" previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal box to import new manufacturing orders and set the subcontractors related to this new manufacturing orders-->
<div name="modal_import" class="bootbox modal fade bootbox-prompt in" ng-show="importPO">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="hideImportPO()" class="bootbox-close-button close">×</button>
        <h4 class="modal-title" translate="PO_IMPORT"></h4>
      </div>
      <div class="modal-body">
        <div class="progress progress-striped active" ng-show="!endProgress">
          <div class="progress-bar progress-bar-primary " role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': progress + '%' }">
          </div>
        </div>
        <div class="alert alert-dismissable alert-info" ng-show="endProgress && noImportData" translate="NO_IMPORT_DATA"></div>
        <div class="table-responsive" ng-show="endProgress && !noImportData">
          <table class="table table-striped table-bordered dataTable">
            <thead>
              <tr>
                <th translate="DATE"></th>
                <th translate="SUBCONTRACTOR"></th>
                <th translate="NUMBER"></th>
                <th translate="ARTICLE"></th>
                <th translate="LABEL"></th>
              </tr>
            </thead>
            <tbody>
              <tr  ng-repeat="ordre in import">
                <td>{{ordre.date}}</td>
                <td ng-class="ordre.subco == '' ? 'danger' : 'success'" style="cursor: pointer;" editable-select="ordre.subco" buttons="no" e-ng-options="contact as contact for contact in user.contacts">{{ordre.subco}}</td>
                <td>{{ordre.chrono}}</td>
                <td>{{ordre.article}}</td>
                <td>{{ordre.label}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-inverse" ng-click="hideImportPO()"><i class="fa fa-ban"></i><span class="span_icon" translate="CANCEL"></span></a>
        <a class="btn btn-primary" ng-if="!noImportData" ng-click="addImportPO()"><i class="fa fa-plus"></i><span class="span_icon" translate="ADD"></span></a>
      </div>
    </div>
  </div>
</div>

<div class="bootbox modal fade bootbox-alert in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="nothingToExport">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="nothingNewModal(false)" style="margin-top: -10px;">×</button>
        <div class="bootbox-body" translate="NOTHING_NEW_TO_EXPORT"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="nothingNewModal(false)" translate="OK"></button>
      </div>
    </div>
  </div>
</div>

<div class="bootbox modal fade bootbox-alert in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="successExport">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="successExportModal(false)" style="margin-top: -10px;">×</button>
        <div class="bootbox-body" translate="SUCCESS_EXPORT"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="successExportModal(false)" translate="OK"></button>
      </div>
    </div>
  </div>
</div>
