<div id="page-heading">

  <!-- Breadcrumb -->
  <ol class="breadcrumb ">
    <li><a href="#/" class="orangeTer" translate="DASHBOARD"></a></li>
    <li translate="STOCK"></li>
    <li class="active" translate="INVENTORIES"></li>
  </ol>

  <!-- Page title -->
  <h1 translate="INVENTORIES"></h1>

  <!-- Buttons to export data -->
  <div class="options text-rigth-xs text-rigth-sm">
    <div class="btn-toolbar">
      <div class="btn-group bootstro"
           ng-if="!user.isSubco && rights.custo.addInventory || user.isSubco && rights.subco.addInventory"
           data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
           data-bootstro-placement="bottom"
           data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
           data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
           data-bootstro-title="{{'ADD_INV_TITLE' | translate}}"
           data-bootstro-content="{{'ADD_INV_TEXT' | translate}}">
        <a href="" class="btn btn-orangeTer" data-toggle="dropdown" ng-click="modalAddInv(true)" ><i class="fa  fa-plus"></i><span class="span_icon" translate="ADD_INVENTORY"></span></a>
      </div>
      <div class="btn-group hidden-xs bootstro" style="margin-left:5px;" ng-if="!user.isSubco && rights.custo.exportInventory || user.isSubco && rights.subco.exportInventory"
           data-bootstro-placement="bottom"
           data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
           data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
           data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
           data-bootstro-title="{{'EXPORT_TITLE' | translate}}"
           data-bootstro-content="{{'EXPORT_TEXT' | translate}}">
        <a href="" ng-click="exportInv()" class="btn btn-default" data-toggle="dropdown"><i class="fa fa-cloud-download"></i><span class="span_icon" data-translate="EXPORT"></span></a>
      </div>
    </div>
  </div>

</div>

<div class="container">

  <div class="row">
  <!-- Panel which contains stock information of the subcontractor which is selected -->
  <div class="col-md-12 col-20">

    <div class="panel panel-orangeBis">
      <div class="panel-body">

        <!-- Tab which contains the subcontractor's inventories -->
          <div id="inventoriesMana" class="row">

            <!-- Buttons for add/ask or visualize an inventory-->
            <div class="col-md-2 col-sm-3 col-xs-4">
            <a data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
               data-bootstro-placement="right"
               data-bootstro-width="300px"
               data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
               data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
               data-bootstro-title="{{'VISUALIZE_INV_TITLE' | translate}}"
               data-bootstro-content="{{'VISUALIZE_INV_TEXT' | translate}}"
               ng-show="filteredInv.length > 0" href="#/stock/inventories/{{selectedInventory.key}}" class="btn btn-inverse-alt bootstro" ng-disabled="selectedInventory==null"><i class="fa fa-eye"></i> <span class="span_icon" translate="DISPLAY"></span></a>
            </div>

            <!-- List which allow to set the number of data on one page -->
            <div class="col-md-6 col-sm-5 col-xs-4">
              <div id="example_length" class=" dataTables_length" ng-show="filteredInv.length > 10">
                <label>
                  <select ng-model="pagination.size" size="1" aria-controls="example" class="form-control" >
                    <option value="10" ng-selected="pagination.size ==10">10</option>
                    <option value="25" ng-selected="pagination.size ==25">25</option>
                    <option value="50" ng-selected="pagination.size ==50">50</option>
                    <option value="100" ng-selected="pagination.size ==100">100</option>
                  </select> <span class="hidden-xs" translate="INVENTORIES_PER_PAGE"></span>
                </label>
              </div>
            </div>

            <!-- Input to search a data in the page -->
            <div class="col-md-4 text-right col-sm-4 col-xs-4" style="text-align: right;">
              <label><input type="text" aria-controls="example" class="form-control bootstro" ng-model="search.invs" placeholder="{{'SEARCH' | translate}}..."
                            data-bootstro-placement="left"
                            data-bootstro-width="300px"
                            data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                            data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                            data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                            data-bootstro-title="{{'SEARCH_TITLE' | translate}}"
                            data-bootstro-content="{{'SEARCH_TEXT' | translate}}"></label>
            </div>
          </div>

          <!-- Datepickers -->
          <div class="panel-footer" style="margin-bottom:20px;">
            <div id="inventoriesDate" class="row">
              <div class="col-md-3"></div>

              <div class="col-md-6 bootstro"
                   data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                   data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                   data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                   data-bootstro-title="{{'RANGE_TITLE' | translate}}"
                   data-bootstro-content="{{'RANGE_TEXT' | translate}}">
                <div class="input-daterange input-group orangeDate">
                  <span class="input-group-addon from_to" translate="FROM"></span>
                  <input type="text" ng-model="date.begin" class="input-small form-control" custom-class="'orangeDate'" datepicker-append-to-body="true" show-button-bar="false" datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedBegin" ng-required="true"/>

                  <span class="input-group-addon" style="border-left: 0;cursor:pointer;" ng-click="openBegin($event)"><a class="orangeTer"  href=""><i class="fa fa-calendar"></i></a></span>

                  <span class="input-group-addon from_to" translate="TO"></span>
                  <input type="text" ng-model="date.end" class="input-small form-control" custom-class="'orangeDate'" datepicker-append-to-body="true" show-button-bar="false" datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedEnd" ng-required="true"/>

                  <span class="input-group-addon" style="cursor:pointer;" ng-click="openEnd($event)"><a class="orangeTer"  href=""><i class="fa fa-calendar"></i></a></span>
                </div>
              </div>
            </div>
          </div>

          <!--  Alert message when there are no data -->
        <div class="alert alert-dismissable alert-warning" ng-show="filteredInv.length == 0 && (search.invs == '' || search.invs ==null)" translate="NO_INV"></div>
        <div class="alert alert-dismissable alert-warning" ng-show="filteredInv.length == 0 && search.invs != '' && search.invs !=null" translate="NO_INV_SEARCH" translate-values='{ search: search.invs}'></div>

          <!-- Inventories table -->
          <div id="dataInventories" class="table-responsive bootstro" ng-show="filteredInv.length > 0"
               data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
               data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
               data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
               data-bootstro-title="{{'INV_TABLE_TITLE' | translate}}"
               data-bootstro-content="{{'INV_TABLE_TEXT' | translate}}">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables dataTable"  aria-describedby="example_info">
              <thead>
              <tr role="row">
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1"  ng-show="user.contacts.length > 1">
                  <a class="orangeBis" href="" ng-click="sortTypeInventories = 'subco'; sortReverseInventories = !sortReverseInventories">
                    <span ng-if="!user.isSubco" translate="SUBCONTRACTOR"></span>
                    <span ng-if="user.isSubco" translate="CUSTOMER"></span>
                    <span ng-show="sortTypeInventories == 'subco' && !sortReverseInventories" class="fa fa-caret-down"></span>
                    <span ng-show="sortTypeInventories == 'subco' && sortReverseInventories" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" >
                  <a class="orangeBis" href="" ng-click="sortTypeInventories = 'date'; sortReverseInventories = !sortReverseInventories">
                    <span translate="DATE"></span>
                    <span ng-show="sortTypeInventories == 'date' && !sortReverseInventories" class="fa fa-caret-down"></span>
                    <span ng-show="sortTypeInventories == 'date' && sortReverseInventories" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a class="orangeBis" href="" ng-click="sortTypeInventories = 'heure'; sortReverseInventories = !sortReverseInventories">
                    <span translate="HOUR"></span>
                    <span ng-show="sortTypeInventories == 'heure' && !sortReverseInventories" class="fa fa-caret-down"></span>
                    <span ng-show="sortTypeInventories == 'heure' && sortReverseInventories" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a class="orangeBis" href="" ng-click="sortTypeInventories = 'depot'; sortReverseInventories = !sortReverseInventories">
                    <span translate="STORE"></span>
                    <span ng-show="sortTypeInventories == 'depot' && !sortReverseInventories" class="fa fa-caret-down"></span>
                    <span ng-show="sortTypeInventories == 'depot' && sortReverseInventories" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a class="orangeBis" href="" ng-click="sortTypeInventories = 'libelle'; sortReverseInventories = !sortReverseInventories">
                    <span translate="LABEL"></span>
                    <span ng-show="sortTypeInventories == 'libelle' && !sortReverseInventories" class="fa fa-caret-down"></span>
                    <span ng-show="sortTypeInventories == 'libelle' && sortReverseInventories" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a class="orangeBis" href="" ng-click="sortTypeInventories = 'clos'; sortReverseInventories = !sortReverseInventories">
                    <span translate="CLOSE"></span>
                    <span ng-show="sortTypeInventories == 'clos' && !sortReverseInventories" class="fa fa-caret-down"></span>
                    <span ng-show="sortTypeInventories == 'clos' && sortReverseInventories" class="fa fa-caret-up"></span>
                  </a>
                </th>
              </tr>
              </thead>
              <tbody role="alert" aria-live="polite" aria-relevant="all" >
              <tr class="selectableOrange" ng-repeat="inventory in filteredInv = (listInventories| orderBy:sortTypeInventories:sortReverseInventories | filter: search.invs | filter:fil.subcoFilter | filter:fil.doFilter | isBetween:date.begin:date.end) | startFrom:(pagination.current-1)*pagination.size | limitTo:pagination.size"  ng-class="{'selectedOrange':inventory == selectedInventory}" ng-click="setSelectedInventory(inventory);">
                <td  ng-show="!user.isSubco && user.contacts.length > 1">{{inventory.subco}}</td>
                <td  ng-show="user.isSubco && user.contacts.length > 1">{{inventory.iddo}}</td>
                <td>{{inventory.date | date:'shortDate'}}</td>
                <!--<td>{{inventory.chrono}}</td>-->
                <td>{{inventory.date | date:'shortTime' }}</td>
                <td>{{inventory.depot}}</td>
                <td>{{inventory.libelle}}</td>
                <td>{{inventory.clos}}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <!-- Pagination -->
          <div id="pageInventories" class="row" ng-show="filteredInv.length > pagination.size">
            <div class="col-md-6 col-sm-4 center-xs info_pagination" style="padding:15px;"><span translate="INVENTORIES"></span> {{(pagination.current-1)*pagination.size+1}}–{{((pagination.current)*pagination.size < filteredInv.length) ?(pagination.current)*pagination.size :filteredInv.length}} / {{filteredInv.length}}</div>
            <div class="col-md-6 col-sm-8 center-xs text-right">
              <pagination  class="paginationOrange" total-items="filteredInv.length" items-per-page="pagination.size" ng-model="pagination.current" max-size="maxSize" boundary-links="true"
                           previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}"></pagination>
            </div>
          </div>

        </div>
      </div>
  </div>
</div>
</div>


<!-- Modal box to ask a new inventory-->
<div class="bootbox modal fade bootbox-prompt in" ng-show="askInv">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="askPO = false" class="bootbox-close-button close">×</button>
        <h4 class="modal-title" translate="NEW_INV"></h4>
      </div>
      <div class="modal-body">
        <div class="bootbox-body">
            <!--en attente d'infos-->
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-inverse" ng-click="askInv = false"><i class="fa fa-ban"></i><span class="hidden-xs span_icon" translate="CANCEL"></span></a>
        <a class="btn btn-orangeTer" ng-click="askInv = false"><i class="fa fa-plus"></i><span class="hidden-xs span_icon" translate="ASK"></span></a>
      </div>
    </div>
  </div>
</div>

<!-- Modal box to create a new inventory-->
<div class="bootbox modal fade bootbox-prompt in" ng-show="askInv">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="modalAddInv(false)" class="bootbox-close-button close">×</button>
        <h4 class="modal-title" translate="NEW_INV"></h4>
      </div>
      <div class="modal-body">
        <div class="bootbox-body">
          <form class="bootbox-form" name="addForm" novalidate>
            <div class="row info-row">
              <div class="col-sm-12 info-row" ng-class="(addForm.subco.$invalid && validAddBtn)? 'has-error':''" ng-if="!user.isSubco">
               <span class="control-label" translate="SUBCONTRACTOR"></span>
                <select name="subco" size="1" class="form-control"  ng-model="newInv.subco" required>
                  <option value="{{contact}}" ng-repeat="contact in user.contacts | orderBy : 'company'" ng-selected="newInv.subco == contact">{{contact}}</option>
                </select>
              </div>
              <!--<div class="col-sm-12 info-row" ng-class="(addForm.iddo.$invalid && validAddBtn)? 'has-error':''" ng-if="user.isSubco">
                <span class="control-label" translate="CUSTOMER"></span>
                <select name="iddo" size="1" class="form-control"  ng-model="newInv.iddo" required>
                  <option value="{{contact}}" ng-repeat="contact in user.contacts | orderBy : 'company'" ng-selected="newInv.iddo == contact">{{contact}}</option>
                </select>
              </div> -->
              <div class="col-sm-6 info-row" ng-class="(addForm.date.$invalid && validAddBtn)? 'has-error':''">
                <span class="control-label" translate="DATE"></span>
                <div class="input-daterange input-group orangeDate">
                  <input class="input-small form-control"  custom-class="'orangeDate'" name="date" datepicker-append-to-body="false" show-button-bar="false" datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedAdd"
                         ng-model="date.add" type="text" required>
                  <span class="input-group-addon control-label" style="border-left: 0;" ng-click="openAdd($event)"><a class="orangeTer" href=""><i class="fa fa-calendar"></i></a></span>
                </div>
              </div>
             <div class="col-sm-6 info-row">
               <span class="control-label" translate="HOUR"></span>
               <div class="input-daterange input-group">
                 <input class="input-small form-control"  value="{{date.add| date:'shortTime'}}" type="text" required>
                 <span class="input-group-addon control-label dropdown-toggle" data-toggle="dropdown" style="border-left: 0;cursor:pointer;"
                       ng-click="openHour = !openHour; ">
                   <a class="orangeTer" href=""><i class="fa  fa-clock-o"></i></a>
                 </span>
                 <ul click-anywhere-but-here="openHour = false;" class="dropdown-menu" style="padding: 8px;" ng-style="{'display':(openHour)? 'block' : 'none'}">
                   <timepicker ng-model="date.add" style="text-align: center;" hour-step="1" minute-step="10" show-meridian="true"></timepicker>
                 </ul>
               </div>
             </div>
              <div class="col-sm-6 info-row" ng-class="(addForm.store.$invalid && validAddBtn)? 'has-error':''">
                <span class="control-label" translate="STORE"></span>
                <select name="store" size="1" class="form-control"  ng-model="newInv.depots" required>
                  <option value="{{stat.depot}}" ng-repeat="stat in status | orderBy : 'depot' | filter:newInv.subco |unique:'depot'" ng-selected="newInv.depots == stat.depot">{{stat.depot}}</option>
                  <option value="other" ng-selected="newInv.depots == 'others'" translate="OTHER"></option>
                </select>
              </div>
              <div class="col-sm-6 info-row">
                <span  ng-if="newInv.depots == 'other'" class="control-label" translate="NEW_STORE"></span>
                <input  ng-if="newInv.depots == 'other'" type="text" class="form-control"  ng-model="newInv.depot">
              </div>
              <div class="col-sm-12" ng-class="(addForm.wording.$invalid && validAddBtn)? 'has-error':''">
                <span class="control-label" translate="LABEL"></span>
                <input class="form-control" name="wording" type="text" ng-model="newInv.libelle" required>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-inverse" ng-click="modalAddInv(false)"><i class="fa fa-ban"></i><span class="span_icon" translate="CANCEL"></span></a>
        <a class="btn btn-orangeTer" ng-click="createInv(addForm.$valid)"><i class="fa fa-plus"></i><span class="span_icon" translate="ADD"></span></a>
      </div>
    </div>
  </div>
</div>

<div class="bootbox modal fade bootbox-alert in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="nothingToExport">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="nothingNewModal(false)" style="margin-top: -10px;">×</button>
        <div class="bootbox-body" translate="NOTHING_NEW_TO_EXPORT"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-orangeTer" ng-click="nothingNewModal(false)" translate="OK"></button>
      </div>
    </div>
  </div>
</div>

<div class="bootbox modal fade bootbox-alert in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="successExport">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="successExportModal(false)" style="margin-top: -10px;">×</button>
        <div class="bootbox-body" translate="SUCCESS_EXPORT"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-orangeTer" ng-click="successExportModal(false)" translate="OK"></button>
      </div>
    </div>
  </div>
</div>
