<div id="page-heading">

  <!-- Breadcrumb -->
  <ol class="breadcrumb ">
    <li><a class="orangeTer" href="#/" translate="DASHBOARD"></a></li>
    <li translate="STOCK"></li>
    <li><a class="orangeTer" href="#/stock/inventories" translate="INVENTORIES" ng-click="setRead_OneType('inventories')"></a></li>
    <li class="active"><span translate="INVENTORY"></span><span> {{inventory.chrono}}</span></li>
  </ol>

  <!-- Page title -->
  <h1><span translate="INVENTORY"></span><span> {{inventory.chrono}}</span></h1>

  <!-- Buttons to export data -->
  <div class="options text-rigth-xs text-rigth-sm">
    <div class="btn-toolbar">
      <div class="btn-group hidden-xs" ng-if="!user.isSubco">
        <a href="" ng-show="inventory.clos == 'Oui'" ng-click="exportInv()" class="btn btn-default" data-toggle="dropdown"><i class="fa fa-cloud-download"></i><span class=" span_icon" data-translate="EXPORT"></span></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12" style="padding-top:20px;">

      <!-- Information about the inventory -->
      <div id="infoInventory" class="col-lg-3">
        <div class="panel panel-gray bootstro"
             data-bootstro-placement="{{getBootstroPlacement()}}"
             data-bootstro-width="300px"
             data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
             data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
             data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
             data-bootstro-title="{{'INFO_INV_TITLE' | translate}}"
             data-bootstro-content="{{'INFO_INV_TEXT' | translate}}">

          <!--Title-->
          <div class="panel-heading" translate="INVENTORY_DETAILS"></div>

          <!-- Summary of the information -->
          <div class="panel-body">
            <div class="col-xs-12 info-row" ng-if="changeDone">
              <div class="alert alert-dismissable alert-success">
                <span translate="CHANGE_DONE"></span></span>
                <button type="button" class="close" ng-click="hideChangeDone()">×</button>
              </div>
            </div>
            <form action="#" name="invForm" class="form-horizontal" novalidate >
              <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 info-row" ng-show="!user.isSubco" ng-class="(saveBtn && invForm.subco.$invalid)? 'has-error' : ''">
                <span translate="SUBCONTRACTOR" class="control-label"></span><input type="text" name="subco" class="form-control" ng-model="inventory.subco" ng-disabled="true" required>
              </div>
              <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 info-row" ng-show="user.isSubco" ng-class="(saveBtn && invForm.iddo.$invalid)? 'has-error' : ''">
                <span translate="CUSTOMER" class="control-label"></span><input type="text" name="iddo" class="form-control" ng-model="inventory.iddo" ng-disabled="true" required>
              </div>

              <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 info-row" ng-class="(saveBtn && invForm.label.$invalid)? 'has-error' : ''">
                <span translate="LABEL" class="control-label"></span>
                <input type="text" class="form-control" required ng-model="inventory.libelle" name="label" ng-change="setChange()" ng-disabled="inventory.clos == 'Oui' || (!user.isSubco && !rights.custo.editInventory || user.isSubco && !rights.subco.editInventory)">
              </div>

              <div class="col-lg-6 col-md-3 col-sm-6 col-xs-6 info-row" ng-class="(saveBtn && invForm.date.$invalid)? 'has-error' : ''">
                <span translate="DATE" class="control-label"></span>
                <div class="input-daterange input-group">
                  <input  required name="date" ng-model="inventory.date" class="input-small form-control"  ng-disabled="inventory.clos == 'Oui'  || (!user.isSubco && !rights.custo.editInventory || user.isSubco && !rights.subco.editInventory)"  custom-class="'orangeDate'"
                         datepicker-append-to-body="false" show-button-bar="false"
                         ng-change="setChange()" datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedAdd"  type="text" >
                  <span ng-hide="inventory.clos == 'Oui' || (!user.isSubco && !rights.custo.editInventory || user.isSubco && !rights.subco.editInventory)" class="input-group-addon control-label" style="border-left: 0;cursor:pointer;"
                        ng-click="openDate($event)"><a class="orangeTer" href=""><i class="fa fa-calendar" style="margin-right: 3px;"></i></a></span>
                </div>
              </div>
                <div class="col-lg-6 col-md-3 col-sm-6 col-xs-6 info-row"  ng-class="(saveBtn && invForm.hourInput.$invalid)? 'has-error' : ''">
                  <span translate="HOUR" class="control-label"></span>
                  <div class="input-daterange input-group">
                    <input type="text" class="input-small form-control" required  value="{{inventory.date| date:'shortTime'}}"  ng-disabled="inventory.clos == 'Oui'  || (!user.isSubco && !rights.custo.editInventory || user.isSubco && !rights.subco.editInventory)">
                     <span class="input-group-addon control-label dropdown-toggle" data-toggle="dropdown" style="border-left: 0;cursor:pointer;" ng-hide="inventory.clos == 'Oui' || (!user.isSubco && !rights.custo.editInventory || user.isSubco && !rights.subco.editInventory)"
                           ng-click="openHour = !openHour; ">
                       <a class="orangeTer" href=""><i class="fa  fa-clock-o"  style="margin-right: 3px;"></i></a>
                     </span>
                      <ul click-anywhere-but-here="openHour = false;" class="dropdown-menu" style="padding: 8px;" ng-style="{'display':(openHour)? 'block' : 'none'}">
                        <timepicker ng-model="inventory.date" style="text-align: center;" hour-step="1" minute-step="10" show-meridian="true" ng-change="setChange()"></timepicker>
                      </ul>
                  </div>
                </div>
                <div class="col-lg-6 col-md-3 col-sm-6 col-xs-6 info-row" ng-class="(saveBtn && invForm.store.$invalid)? 'has-error' : ''">
                  <span translate="STORE" class="control-label"></span>
                  <select name="store" size="1" name="store" class="form-control" required ng-model="inventory.depot" ng-disabled="inventory.clos == 'Oui'  || (!user.isSubco && !rights.custo.editInventory || user.isSubco && !rights.subco.editInventory)" ng-change="setChange()">
                    <option value="{{stat.depot}}" ng-repeat="stat in status | orderBy : 'depot' | filter:inventory.subco | unique:'depot'" ng-selected="inventory.depot == stat.depot">{{stat.depot}}</option>
                  </select>
                </div>
              <div class="col-lg-6 col-md-3 col-sm-6 col-xs-6 info-row" ng-class="(saveBtn && invForm.close.$invalid)? 'has-error' : ''">
                <span translate="CLOSE" class="control-label"></span>
                <input name="close" type="text" class="form-control" ng-model="inventory.clos" ng-change="setChange()" ng-disabled="true" required>
              </div>
            </form>
          </div>

          <!-- Button to delete the inventory -->
          <div class="panel-footer txt-center" ng-if="(!user.isSubco && rights.custo.deleteInventory || user.isSubco && rights.subco.deleteInventory) || (!user.isSubco && rights.custo.editInventory || user.isSubco && rights.subco.editInventory)">
            <a href="" class="btn btn-orangeTer" ng-if="change" ng-click="saveChangeInventory(invForm.$valid)">
              <i class="fa  fa-check"></i><span class="span_icon" translate="SAVE"></span>
            </a>
            <a href="" class="btn btn-inverse-alt bootstro" ng-click="showModalDeleteInv()"
               data-bootstro-placement="top"
               data-bootstro-width="300px"
               data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
               data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
               data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
               data-bootstro-title="{{'DELETE_INV_TITLE' | translate}}"
               data-bootstro-content="{{'DELETE_INV_TEXT' | translate}}">
              <i class="fa  fa-times"></i><span class="span_icon" translate="DELETE"></span>
            </a>
          </div>
        </div>
      </div>

      <!-- Data presents in the inventory -->
      <div id="dataInventory" class="col-lg-9">
        <div class="panel panel-orangeBis">
          <div class="panel-body">

            <!-- Alert message when the inventory is close -->
            <div id="alertClose" class="row">
              <div class="alert alert-dismissable alert-success" ng-if="inventory.clos == 'Oui'">
               <span translate="INVENTORY_CLOSE" translate-values='{number:inventory.libelle}'></span></span>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              </div>
            </div>


            <div id="btnInventory" class="row" style="margin-bottom:20px;">
              <!-- Button to delete a data -->
              <div ng-class="(filteredData.length > 10)? 'col-xs-4' : 'col-xs-6'"
                   ng-if="inventory.clos == 'Non' && (!user.isSubco && rights.custo.deleteDataInventory || user.isSubco && rights.subco.deleteDataInventory) && (filteredData.length > 0 || (filteredData.length ==0 && search.data != ''))">
                <a href="" class="btn btn-inverse-alt bootstro" ng-disabled="selectedData == null || inventory.clos == 'Oui'" ng-click="showModalDeleteLine(true)"
                   data-bootstro-placement="right"
                   data-bootstro-width="300px"
                   data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                   data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                   data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                   data-bootstro-title="{{'DELETE_INV_LINE_TITLE' | translate}}"
                   data-bootstro-content="{{'DELETE_INV_LINE_TEXT' | translate}}">
                  <i class="fa fa-times"></i><span class="span_icon" translate="DELETE"></span>
                </a>
              </div>

              <!-- List which allow to set the number of data on one page -->
              <div ng-if="filteredData.length > 10" ng-class="(inventory.clos == 'Non' && (!user.isSubco && rights.custo.deleteDataInventory || user.isSubco && rights.subco.deleteDataInventory))? 'col-xs-4' : 'col-xs-6'">
                <div id="example_length" class="dataTables_length">
                  <label>
                    <select ng-model="pagination.size" size="1" aria-controls="example" class="form-control" >
                      <option value="10" ng-selected="pagination.size ==10">10</option>
                      <option value="25" ng-selected="pagination.size ==25">25</option>
                      <option value="50" ng-selected="pagination.size ==50">50</option>
                      <option value="100" ng-selected="pagination.size ==100">100</option>
                    </select> <span class="span_icon hidden-xs" translate="LINES_PER_PAGE"></span>
                  </label>
                </div>
              </div>

              <!-- Search form to find a data in the table -->
              <div ng-class="(inventory.clos == 'Non' && (!user.isSubco && rights.custo.deleteDataInventory || user.isSubco && rights.subco.deleteDataInventory) && filteredData.length > 10)? 'col-xs-4' :
              (inventory.clos == 'Non' && (!user.isSubco && rights.custo.deleteDataInventory || user.isSubco && rights.subco.deleteDataInventory) && filteredData.length < 10)? 'col-xs-6' :
              (inventory.clos == 'Oui' || (!user.isSubco && !rights.custo.deleteDataInventory || user.isSubco && !rights.subco.deleteDataInventory) && filteredData.length > 10)? 'col-xs-6' :
              'col-xs-12'" class="text-right">
                <label><input type="text" class="form-control bootstro" ng-model="search.data" placeholder="{{'SEARCH' | translate}}..."
                              data-bootstro-placement="left"
                              data-bootstro-width='300px'
                              data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                              data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                              data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                              data-bootstro-title="{{'SEARCH_TITLE' | translate}}"
                              data-bootstro-content="{{'SEARCH_TEXT' | translate}}"></label>
              </div>
            </div>

            <!-- Data table -->
            <div id="tableInventory" class="table-responsive">
              <div class="alert alert-dismissable alert-warning"  ng-if="filteredData.length == 0 && search.data == ''">
                <span translate="NO_DATA_INV"></span>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              </div>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables dataTable" aria-describedby="example_info"
                       ng-show="filteredData.length > 0 || (filteredData.length == 0 && search.data != '')"
                       ng-class="(filteredData.length > 0 || (filteredData.length == 0 && search.data != ''))? 'bootstro' : ''"
                       data-bootstro-placement="top"
                       data-bootstro-width="300px"
                       data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                       data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                       data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                       data-bootstro-title="{{'DATAINV_TABLE_TITLE' | translate}}"
                       data-bootstro-content="{{'DATAINV_TABLE_TEXT' | translate}}">
                <thead>
                <tr role="row">
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 100px;">
                    <a class="orangeBis" href="" ng-click="sortType = 'number'; sortReverse = !sortReverse">
                      <span translate="NUMBER"></span>
                      <span ng-show="sortType == 'number' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'number' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 202px;">
                    <a class="orangeBis" href="" ng-click="sortType = 'article'; sortReverse = !sortReverse">
                      <span translate="ARTICLE"></span>
                      <span ng-show="sortType == 'article' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'article' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 302px;">
                    <a class="orangeBis" href="" ng-click="sortType = 'libelle'; sortReverse = !sortReverse">
                      <span translate="LABEL"></span>
                      <span ng-show="sortType == 'libelle' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'libelle' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 202px;">
                    <a class="orangeBis" href="" ng-click="sortType = 'lot'; sortReverse = !sortReverse">
                      <span translate="BATCH"></span>
                      <span ng-show="sortType == 'lot' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'lot' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 150px;">
                    <a class="orangeBis" href="" ng-click="sortType = 'quantite1'; sortReverse = !sortReverse">
                      <span translate="QUANTITY"></span><span> 1</span>
                      <span ng-show="sortType == 'quantite1' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'quantite1' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 150px;">
                    <a class="orangeBis" href="" ng-click="sortType = 'quantite2'; sortReverse = !sortReverse">
                      <span translate="QUANTITY"></span><span> 2</span>
                      <span ng-show="sortType == 'quantite2' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'quantite2' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" >
                <tr class="selectableOrange"
                    ng-repeat="data in filteredData = (inventory.data | orderBy:sortType:sortReverse | filter : search.data) | startFrom:(pagination.current-1)*pagination.size | limitTo:pagination.size"
                    ng-class="{'selectedOrange':data == selectedData}"
                    ng-click="setSelectedData(data);">
                  <td>{{data.number}}</td>
                  <td>{{data.article}}</td>
                  <td>{{data.libelle}}</td>
                  <td>{{data.lot}}</td>
                  <td>{{data.quantite1}} {{data.unite1}}</td>
                  <td>{{data.quantite2}} {{data.unite2}}</td>
                </tr>
                </tbody>
              </table>
            </div>

            <!-- Pagination -->
            <div id="pageInventories" class="col-sm-12" ng-show="(inventory.data.length > pagination.size) && filteredData > 0">
              <div class="col-sm-3 center-xs info_pagination" style="padding:15px;" ><span translate="LINES"></span> {{(pagination.current-1)*pagination.size+1}}–{{((pagination.current)*pagination.size < inventory.data.length) ?(pagination.current)*pagination.size :inventory.data.length}} / {{inventory.data.length}}</div>
              <div class="col-sm-9 center-xs text-right">
                <pagination  class="paginationOrange" total-items="inventory.data.length"  direction-links="true" boundary-links="true"  items-per-page="pagination.size" ng-model="pagination.current" max-size="maxSize" boundary-links="true"
                             previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}"></pagination>
              </div>
            </div>

          </div>

          <!-- Footer 1 - Add a data or modify the one which is selected -->
          <div id="seeInventory" class="panel-footer bootstro"
               ng-if="!(((!user.isSubco && !rights.custo.addDataInventory || user.isSubco && !rights.subco.addDataInventory) && (selectedData == null || selectedData == '')) || ((selectedData == null || selectedData == '') && inventory.clos == 'Oui'))"
               data-bootstro-placement="top"
               data-bootstro-width="300px"
               data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
               data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
               data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
               data-bootstro-title="{{'INFO_DATA_INV_TITLE' | translate}}"
               data-bootstro-content="{{'INFO_DATA_INV_TEXT' | translate}}">
            <div class="col-xs-12 info-row" ng-if="changeDataDone">
              <div class="alert alert-dismissable alert-success">
                <span data-translate="CHANGE_DONE"></span>
                <button type="button" class="close" ng-click="hideChangeDataDone()">×</button>
              </div>
            </div>
            <form action="#" name="formInv" class="form-horizontal" novalidate>
                <div class="col-sm-2 info-row" ng-class="formInv.number.$invalid && validAddBtn? 'has-error' : ''" >
                  <span class="control-label" translate="NUMBER"></span>
                  <input name="number" ng-disabled="true"  type="text" class="form-control" ng-model="newData.number" ng-change="setChangeData()" required>
                </div>
                <div class="col-sm-3 col-xs-6 info-row" ng-class="formInv.article.$invalid && validAddBtn? 'has-error' : ''">
                  <span class="control-label" translate="ARTICLE"></span>
                  <input name="article" type="text" class="form-control" ng-model="newData.article"  ng-disabled="inventory.clos == 'Oui' || (!user.isSubco && !rights.custo.editDataInventory || user.isSubco && !rights.subco.editDataInventory)" ng-change="setChangeData()" required>
                </div>
                <div class="col-sm-3 col-xs-6 info-row" ng-class="formInv.lot.$invalid && validAddBtn? 'has-error' : ''">
                  <span class="control-label" translate="BATCH"></span>
                  <input name="lot" type="text" class="form-control" ng-model="newData.lot"  ng-disabled="inventory.clos == 'Oui'  || (!user.isSubco && !rights.custo.editDataInventory || user.isSubco && !rights.subco.editDataInventory)" ng-change="setChangeData()" required>
                </div>
                <div class="col-sm-4 info-row" ng-class="formInv.wording.$invalid && validAddBtn? 'has-error' : ''">
                  <span class="control-label" translate="LABEL"></span>
                  <input name="wording" type="text" class="form-control" ng-model="newData.libelle"  ng-disabled="inventory.clos == 'Oui'  || (!user.isSubco && !rights.custo.editDataInventory || user.isSubco && !rights.subco.editDataInventory)" ng-change="setChangeData()" required>
                  </div>
                <div class="col-sm-3 col-xs-8 info-row" ng-class="formInv.quantity1.$invalid && validAddBtn? 'has-error' : ''">
                  <span class="control-label" translate="QUANTITY"></span><span class="control-label"> 1</span>
                  <input name="quantity1" type="number" class="form-control" step="any" min="0.001"
                         ng-model="newData.quantite1"
                         ng-disabled="inventory.clos == 'Oui'  || (!user.isSubco && !rights.custo.editDataInventory || user.isSubco && !rights.subco.editDataInventory)"
                         ng-change="setChangeData()"
                         required>
                </div>
                <div class="col-sm-2 col-xs-4 info-row"  ng-class="formInv.unit1.$invalid && validAddBtn? 'has-error' : ''">
                  <span class="control-label" translate="UNIT"></span><span class="control-label"> 1</span>
                  <select name="unit1" size="1" class="form-control"  ng-model="newData.unite1" ng-options="unit for unit in units" ng-disabled="inventory.clos == 'Oui'  || (!user.isSubco && !rights.custo.editDataInventory || user.isSubco && !rights.subco.editDataInventory)" ng-change="setChangeData()" required></select>
                </div>
                <div class="col-sm-3 col-xs-8 info-row"  ng-class="formInv.quantity2.$invalid && validAddBtn? 'has-error' : ''">
                  <span class="control-label" translate="QUANTITY"></span><span class="control-label"> 2</span>
                  <input name="quantity2" type="number" class="form-control" step="any" min="0.001"
                         ng-model="newData.quantite2"
                         ng-disabled="inventory.clos == 'Oui'  || (!user.isSubco && !rights.custo.editDataInventory || user.isSubco && !rights.subco.editDataInventory)"
                         ng-change="setChangeData()">
                </div>
                <div class="col-sm-2 col-xs-4 info-row"  ng-class="formInv.unit2.$invalid && validAddBtn? 'has-error' : ''">
                  <span class="control-label" translate="UNIT"></span><span class="control-label"> 2</span>
                  <select name="unit2" size="1" class="form-control"  ng-model="newData.unite2" ng-options="unit for unit in units" ng-disabled="inventory.clos == 'Oui'  || (!user.isSubco && !rights.custo.editDataInventory || user.isSubco && !rights.subco.editDataInventory)" ng-change="setChangeData()"></select>
                </div>
                <div class="col-sm-8 col-xs-12 info-row"  ng-class="formInv.comment.$invalid && validAddBtn? 'has-error' : ''">
                  <span class="control-label" translate="COMMENT"></span>
                  <input name="comment" type="text" class="form-control" ng-model="newData.commentaire" ng-disabled="inventory.clos == 'Oui'  || (!user.isSubco && !rights.custo.editDataInventory || user.isSubco && !rights.subco.editDataInventory)" ng-change="setChangeData()">
                </div>
                <div class="col-sm-4 col-xs-12  text-right info-row"><br>
                  <div class="btn-group">
                  <a href="" class="btn btn-success" ng-click="addLineInv(formInv.$valid)" ng-if="selectedData == null && (!user.isSubco && rights.custo.addDataInventory || user.isSubco && rights.subco.addDataInventory) && inventory.clos == 'Non'">
                    <i class="fa  fa-plus"></i><span class="span_icon" translate="ADD"></span>
                  </a>
                  <a href="" class="btn btn-inverse" ng-click="saveChangeData()" ng-show="changeData">
                    <i class="fa fa-check"></i><span class="span_icon" translate="SAVE"></span>
                  </a>
                  </div>
                </div>
            </form>
          </div>

          <!-- Footer 2 - Close the inventory -->
          <div id="closeInventory" class="panel-footer center-xs" style="background-color:#fff; text-align:right;" ng-if="inventory.clos == 'Non' && (!user.isSubco && rights.custo.closeInventory || user.isSubco && rights.subco.closeInventory)">
            <div class="btn-group bootstro"
                 data-bootstro-placement="top"
                 data-bootstro-width="300px"
                 data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                 data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                 data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                 data-bootstro-title="{{'CLOSE_INV_TITLE' | translate}}"
                 data-bootstro-content="{{'CLOSE_INV_TEXT' | translate}}">
            <a href="" class="btn btn-orange" ng-click="showModalCloseInv(true)"><i class="fa fa-check"></i><span class="span_icon" translate="CLOSE_INVENTORY"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal box to confirm the closure of the inventory -->
<div class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="showModalClosure">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="showModalCloseInv(false)" style="margin-top: -10px;">×</button>
        <div class="bootbox-body" translate="CLOSE_INVENTORY_QUESTION"  translate-values='{number: inventory.chrono}'></div></div><div class="modal-footer">
      <button data-bb-handler="cancel" type="button" class="btn btn-default" ng-click="showModalCloseInv(false)" translate="CANCEL"></button>
      <button data-bb-handler="confirm" type="button" class="btn btn-orangeTer"  ng-click="closeInventory()" translate="CONFIRM"></button>
    </div>
    </div>
  </div>
</div>

<!-- Modal box to confirm the validation of the deletion of the inventory -->
<div class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="showModalInv">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="showModalInv = false" style="margin-top: -10px;">×</button>
        <div class="bootbox-body"><span translate="DELETE_INVENTORY" translate-values='{number: inventory.libelle}'></span></div>
      </div>
      <div class="modal-footer">
        <button data-bb-handler="cancel" type="button" class="btn btn-default" ng-click="showModalInv = false"><span translate="CANCEL"></span></button>
        <a href="#/stock/inventories" data-bb-handler="confirm" type="button" class="btn btn-orangeTer"  ng-click="deleteInv()" translate="CONFIRM" ng-click="setRead_OneType('inventories')"></a>
    </div>
      </div>
  </div>
</div>

<!-- Modal box to confirm the validation of the deletion of the line of the inventory -->
<div class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="showDeleteLine">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="showModalDeleteLine(false)" style="margin-top: -10px;">×</button>
        <div class="bootbox-body"><span translate="DELETE_LINE_INVENTORY"></span></div>
      </div>
      <div class="modal-footer">
        <button data-bb-handler="cancel" type="button" class="btn btn-default" ng-click="showModalDeleteLine(false)"><span translate="CANCEL"></span></button>
        <a href="" data-bb-handler="confirm" type="button" class="btn btn-orangeTer"  ng-click="deleteData()" translate="CONFIRM"></a>
      </div>
    </div>
  </div>
</div>

<div class="bootbox modal fade bootbox-alert in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="nothingToExport">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="nothingToExport = false;" style="margin-top: -10px;">×</button>
        <div class="bootbox-body" translate="NOTHING_NEW_TO_EXPORT"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-orangeTer" ng-click="closeNothingNew()" translate="OK"></button>
      </div>
    </div>
  </div>
</div>

<div class="bootbox modal fade bootbox-alert in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="successExport">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="closeSuccessExport()" style="margin-top: -10px;">×</button>
        <div class="bootbox-body" translate="SUCCESS_EXPORT"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-orangeTer" ng-click="closeSuccessExport()" translate="OK"></button>
      </div>
    </div>
  </div>
</div>
