<div id="page-heading">

  <!-- Breadcrumb -->
  <ol class="breadcrumb ">
    <li><a href="#/" class="orangeTer" translate="DASHBOARD"></a></li>
    <li translate="STOCK"></li>
    <li class="active" translate="STOCK_STATUS"></li>
  </ol>

  <!-- Page title -->
  <h1 translate="STOCK_STATUS"></h1>

  <!-- Buttons to export data
  <div class="options text-rigth-xs text-rigth-sm" ng-if="fil.subcoFilter != null && fil.subcoFilter != ''">
    <div class="btn-toolbar">
      <div class="btn-group">
        <a href="" class="btn btn-default" data-toggle="dropdown"><i class="fa fa-cloud-download"></i><span class="span_icon" data-translate="EXPORT"></span></a>
      </div>
    </div>
  </div>-->

</div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-20">

    <!--  Alert message when there are no select subcontractor -->
    <div id="noSubco" class="alert alert-dismissable alert-warning" ng-if="fil.subcoFilter == null || fil.subcoFilter == ''" translate="ANY_SUBCONTRACTOR"></div>

    <div class="panel panel-orangeBis" ng-if="fil.subcoFilter != null && fil.subcoFilter != ''">

      <!-- Tab which contains the stock state data -->
      <div class="panel-body">


          <div id="btnStockStatus" class="row">

            <!-- List which allow to set the number of data on one page -->
            <div class="col-md-3 col-sm-5 col-xs-4 ">
                <span class="hidden-xs" translate="STORE_CHOICE"></span>
                <label class="span_icon bootstro"
                       data-bootstro-placement="right"
                       data-bootstro-width="300px"
                       data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                       data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                       data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                       data-bootstro-title="{{'STORE_CHOICE_TITLE' | translate}}"
                       data-bootstro-content="{{'STORE_CHOICE_TEXT' | translate}}">
                  <select ng-model="filter.store" size="1" aria-controls="example" class="form-control">
                    <option value="" ng-selected="filter.store == ''" translate="ALL"></option>
                    <option value="{{store}}" ng-repeat="store in getStores() | orderBy : 'store'" ng-selected="filter.store == store">{{store}}</option>
                  </select>
                </label>
            </div>

            <!-- List which allow to set the number of data on one page -->
            <div class="col-md-5 col-sm-4 col-xs-4">
              <div class=" dataTables_length"  >
                <label ng-if="filteredStock.length > 10">
                  <select ng-model="pagination.size" size="1" aria-controls="example" class="form-control" >
                    <option value="10" ng-selected="pagination.size ==10">10</option>
                    <option value="25" ng-selected="pagination.size ==25">25</option>
                    <option value="50" ng-selected="pagination.size ==50">50</option>
                    <option value="100" ng-selected="pagination.size ==100">100</option>
                  </select> <span class="hidden-xs" translate="LINES_PER_PAGE"></span>
                </label>
              </div>
            </div>

            <!-- Input to search a data in the page -->
            <div class="col-md-4 text-right col-sm-3 col-xs-4 " style="margin-bottom:10px;">
              <label class="bootstro"
                     data-bootstro-placement="left"
                     data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                     data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                     data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                     data-bootstro-title="{{'SEARCH_TITLE' | translate}}"
                     data-bootstro-content="{{'SEARCH_TEXT' | translate}}">
                <input type="text" aria-controls="example" class="form-control" ng-model="search.status" placeholder="{{'SEARCH' | translate}}...">
              </label>
            </div>
          </div>
        <!--  Alert message when there are no data -->
       <div class="alert alert-dismissable alert-warning" ng-if="filteredStock.length == 0 && search.status != '' && search.status !=null" translate="NO_STATUS_SEARCH" translate-values='{ search: search.status, store:filter.store}'></div>
        <div class="alert alert-dismissable alert-warning" ng-if="filteredStock.length == 0 && (search.status == '' || search.status ==null)" translate="NO_STATUS"></div>

          <!-- Data table -->
          <div id="dataStockStatus" class="table-responsive bootstro" ng-show="filteredStock.length>0"
               data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
               data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
               data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
               data-bootstro-title="{{'STATUS_TABLE_TITLE' | translate}}"
               data-bootstro-content="{{'STATUS_TABLE_TEXT' | translate}}">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables dataTable" id="example" aria-describedby="example_info">
              <thead>
              <tr role="row">
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a class="orangeBis" href="" ng-click="sortTypeStatus = 'depot'; sortReverseStatus = !sortReverseStatus">
                    <span translate="STORE"></span>
                    <span ng-if="sortTypeStatus == 'depot' && !sortReverseStatus" class="fa fa-caret-down"></span>
                    <span ng-if="sortTypeStatus == 'depot' && sortReverseStatus" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a class="orangeBis" href="" ng-click="sortTypeStatus = 'article'; sortReverseStatus = !sortReverseStatus">
                    <span translate="ARTICLE"></span>
                    <span ng-if="sortTypeStatus == 'article' && !sortReverseStatus" class="fa fa-caret-down"></span>
                    <span ng-if="sortTypeStatus == 'article' && sortReverseStatus" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a class="orangeBis" href="" ng-click="sortTypeStatus = 'libelle'; sortReverseStatus = !sortReverseStatus">
                    <span translate="LABEL"></span>
                    <span ng-if="sortTypeStatus == 'libelle' && !sortReverseStatus" class="fa fa-caret-down"></span>
                    <span ng-if="sortTypeStatus == 'libelle' && sortReverseStatus" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a class="orangeBis" href="" ng-click="sortTypeStatus = 'lot'; sortReverseStatus = !sortReverseStatus">
                    <span translate="BATCH"></span>
                    <span ng-if="sortTypeStatus == 'lot' && !sortReverseStatus" class="fa fa-caret-down"></span>
                    <span ng-if="sortTypeStatus == 'lot' && sortReverseStatus" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a class="orangeBis" href="" ng-click="sortTypeStatus = 'quantite'; sortReverseStatus = !sortReverseStatus">
                    <span translate="QUANTITY"></span>
                    <span ng-if="sortTypeStatus == 'quantite' && !sortReverseStatus" class="fa fa-caret-down"></span>
                    <span ng-if="sortTypeStatus == 'quantite' && sortReverseStatus" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a class="orangeBis" href="" ng-click="sortTypeStatus = 'statut'; sortReverseStatus = !sortReverseStatus">
                    <span translate="STATUS"></span>
                    <span ng-if="sortTypeStatus == 'statut' && !sortReverseStatus" class="fa fa-caret-down"></span>
                    <span ng-if="sortTypeStatus == 'statut' && sortReverseStatus" class="fa fa-caret-up"></span>
                  </a>
                </th>
              </tr>
              </thead>
              <tbody role="alert" aria-live="polite" aria-relevant="all" >
              <tr class="gradeA" ng-repeat="stock in filteredStock = (stateStock| orderBy:sortTypeStatus:sortReverseStatus |filter: search.status | filter:fil.subcoFilter | filter: filter.store) | startFrom:(pagination.current-1)*pagination.size | limitTo:pagination.size">
                <td>{{stock.depot}}</td>
                <td>{{stock.article}}</td>
                <td>{{stock.libelle}}</td>
                <td>{{stock.lot}}</td>
                <td>{{stock.quantite}} {{stock.unite}}</td>
                <td>{{stock.statut}}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <!-- Pagination -->
          <div id="pageStatus" class="row" ng-if="filteredStock.length > pagination.size">
            <div class="col-md-6 col-sm-4 center-xs info_pagination" style="padding:15px;" ><span translate="LINES"></span> {{(pagination.current-1)*pagination.size+1}}–{{((pagination.current)*pagination.size < filteredStock.length) ?(pagination.current)*pagination.size :filteredStock.length}} / {{filteredStock.length}}</div>
            <div class="col-md-6 col-sm-8 center-xs text-right">
              <pagination  class="paginationOrange" total-items="filteredStock.length" items-per-page="pagination.size" ng-model="pagination.current" max-size="maxSize" boundary-links="true"
                           previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' |translate}}"></pagination>
            </div>
          </div>

        </div>
      </div>

    </div>
      <div class="col-md-12 col-20" style="height:200px;"></div>
  </div>
</div>

