<div id="page-heading">
  <ol class="breadcrumb ">
    <li class="active" translate="DASHBOARD"> </li>
  </ol>
  <h1 translate="WEB_PORTAL"></h1>
  <div class="options center-xs center-sm margin-sm margin-xs">
      <div id="dateRange" class="btn-group bootstro" style="margin-left:50px;" ng-class="dateRange ? 'open' : ''"
           data-bootstro-placement="bottom"
           data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
           data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
           data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
           data-bootstro-title="{{'RANGE_TITLE' | translate}}"
           data-bootstro-content="{{'RANGE_TEXT' | translate}}">
        <a href=""  ng-click="open()" class="btn btn-default dropdown-toggle"><i class="fa fa-calendar-o"></i><span><span ng-if="date.begin.getTime() != date.end.getTime()">{{date.begin | date:'mediumDate'}} - </span>{{date.end | date:'mediumDate'}}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu" style="padding:0px; width: 250px;">
            <div class="col-md-12 col-20">
                  <div class="row range" ng-class="format == 0 ? 'active' : ''" ng-click="setDate(0)" translate="TODAY"></div>
                  <div class="row range" ng-class="format == 1 ? 'active' : ''" ng-click="setDate(1)" translate="YESTERDAY"></div>
                  <div class="row range" ng-class="format == 2 ? 'active' : ''" ng-click="setDate(2)" translate="LAST_7_DAYS"></div>
                  <div class="row range" ng-class="format == 3 ? 'active' : ''" ng-click="setDate(3)" translate="LAST_30_DAYS"></div>
                  <div class="row range" ng-class="format == 4 ? 'active' : ''" ng-click="setDate(4)" translate="THIS_MONTH"></div>
                  <div class="row range" ng-class="format == 5 ? 'active' : ''" ng-click="setDate(5)" translate="LAST_MONTH"></div>
                  <div class="row range" ng-class="format > 5 ? 'active' : ''" ng-click="setDate(6)" translate="CUSTOM_RANGE"></div>
                  <div class="row">
                    <div class="input-daterange input-group">
                      <span class="input-group-addon from_to" translate="FROM"></span>
                      <div class="hackyhack">
                        <input type="text" ng-model="date.begin" ng-click="openBegin($event)"  date-format="shortDate" date-type="string" class="form-control" style="font-size:12px;cursor:pointer;" datepicker-append-to-body="false" show-button-bar="false" datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedBegin" ng-required="true"/>
                      </div>
                      <span class="input-group-addon from_to" translate="TO"></span>
                      <div class="hackyhack">
                        <input  type="text" ng-model="date.end" ng-click="openEnd($event)" class="form-control" style="font-size:12px;cursor:pointer;" datepicker-append-to-body="false" show-button-bar="false" datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedEnd" ng-required="true"/>

                      </div>
                    </div>
                  </div>

                  <div class="row" style="text-align: center;margin-top: 10px;">
                    <div class="btn-toolbar">
                      <button class="btn-default btn btn-small" ng-click="cancel()" translate="CANCEL"></button>&nbsp;<button class="btn-success btn btn-small" ng-click="setDate(7)" translate="APPLY"></button>
                    </div>
                  </div>
            </div>
          </ul>
      </div>
      <div class="btn-group hidden-xs hidden-sm">
        <a href="#/settings" class="btn btn-default hidden-xs"><i class="fa fa-cog"></i></a>
      </div>
    </div>
</div>

<div class="container">
  <div class="col-xl-12  col-20" style="padding-right:10px;padding-left:10px;">
    <div class="row bootstro"
         data-bootstro-placement="bottom"
         data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
         data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
         data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
         data-bootstro-title="{{'TILES_TITLE' | translate}}"
         data-bootstro-content="{{'TILES_TEXT' | translate}}">
      <div id="tile1" class="col-lg-2 col-sm-4 col-xs-6"  ng-show="settings.orders == '1'">
        <a class="info-tiles tiles-primary" href="#/orders" style="margin-top:5px;margin-bottom:5px;" ng-click="setRead_OneType('orders')">
          <div class="tiles-heading" translate="ORDERS_2"></div>
          <div class="tiles-body">
            <div class="pull-left"> <i class="fa fa-file-text"></i></div>
            <div class="text-center">{{filteredPO.length}}</div>
            <small translate="IN_PROGRESS"></small>
          </div>
        </a>
      </div>
      <div id="tile2" class="col-lg-2 col-sm-4 col-xs-6" ng-show="settings.stock == '1'">
        <a class="info-tiles tiles-orange" href="#/stock/inventories" style="margin-top:5px;margin-bottom:5px;" ng-click="setRead_OneType('inventories')">
          <div class="tiles-heading" translate="INVENTORIES"></div>
          <div class="tiles-body">
            <div class="pull-left"> <i class="fa fa-tasks"></i></div>
            <div class="text-center">{{filteredInv.length}}</div>
            <small translate="IN_PROGRESS"></small>
          </div>
        </a>
      </div>
      <div id="tile3" class="col-lg-2 col-sm-4 col-xs-6"  ng-show="settings.quality == '1'">
        <a class="info-tiles tiles-danger" href="#/quality" style="margin-top:5px;margin-bottom:5px;" ng-click="setRead_OneType('quality')">
          <div class="tiles-heading" translate="QUALITY"> </div>
          <div class="tiles-body">
            <div class="pull-left"> <i class="fa fa-thumbs-up"></i></div>
            <div class="text-center">{{filteredQua.length}}</div>
            <small>écarts</small>
          </div>
        </a>
      </div>
      <!--<div id="tile4" class="col-lg-2 col-sm-4 col-xs-6" ng-show="settings.reception == '1'" >
        <a class="info-tiles tiles-success" href="#/reception" style="margin-top:5px;margin-bottom:5px;" ng-click="setRead_OneType('reception')">
          <div class="tiles-heading" translate="RECEPTION"> </div>
          <div class="tiles-body">
            <div class="pull-left"> <i class="fa fa-barcode"></i></div>
            <div class="text-center">{{filteredRec.length}}</div>
            <small translate="DECLARED"></small>
          </div>
        </a>
      </div> -->
      <div id="tile5" class="col-lg-2 col-sm-4 col-xs-6" ng-show="settings.orders == '1'">
        <div ng-if="!user.isSubco" style="display:none;" ng-repeat="notification in nbCons1 = (notifs | filter:fil.subcoFilter |filter:tileCons | isBetween:date.begin:date.end)">{{notification}}</div>
        <div ng-if="user.isSubco" style="display:none;"  ng-repeat="notification in nbCons2 = (notifs | filter:fil.doFilter |filter:tileCons | isBetween:date.begin:date.end)">{{notification}}</div>
        <a class="info-tiles tiles-info" href="#/orders" style="margin-top:5px;margin-bottom:5px;" ng-click="setRead_OneType('orders')">
          <div class="tiles-heading" translate="CONSUMPTIONS"> </div>
          <div class="tiles-body">
            <div class="pull-left"> <i class="fa fa-sign-in"></i></div>
            <div  ng-if="!user.isSubco" class="text-center">{{nbCons1.length}}</div>
            <div  ng-if="user.isSubco" class="text-center">{{nbCons2.length}}</div>
            <small translate="VALIDATED"></small>
          </div>
        </a>
      </div>
      <div id="tile6" class="col-lg-2 col-sm-4 col-xs-6" ng-show="settings.orders == '1'">
        <div ng-if="!user.isSubco" style="display:none;" ng-repeat="notification in nbFab1 = (notifs | filter:fil.subcoFilter |filter:tileProd | isBetween:date.begin:date.end)">{{notification}}</div>
        <div ng-if="user.isSubco" style="display:none;" ng-repeat="notification in nbFab2 = (notifs| filter:fil.doFilter |filter:tileProd | isBetween:date.begin:date.end)">{{notification}}</div>
        <a class="info-tiles tiles-inverse" href="#/orders" style="margin-top:5px;margin-bottom:5px;" ng-click="setRead_OneType('orders')">
          <div class="tiles-heading" translate="PRODUCTIONS"></div>
          <div class="tiles-body">
            <div class="pull-left"> <i class="fa fa-sign-out"></i></div>
            <div ng-if="!user.isSubco" class="text-center">{{nbFab1.length}}</div>
            <div ng-if="user.isSubco" class="text-center">{{nbFab2.length}}</div>
            <small translate="VALIDATED"></small>
          </div>
        </a>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;" >
      <div class="col-lg-6">
    <div class="col-md-12" style="padding:0px!important;" ng-show="settings.orders == '1'"  >
      <div id="ordersArray" class="panel panel-default bootstro"
           data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
           data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
           data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
           data-bootstro-title="{{'ORDERS_MOD_TITLE' | translate}}"
           data-bootstro-content="{{'ORDERS_MOD_TEXT' | translate}}">
        <div class="panel-body">
          <div style="margin-bottom:15px;"><h4 class="label label-primary notification" style="font-size:122%" translate="ORDERS"></h4> <small>(</small><small translate="IN_PROGRESS"></small><small>)</small></div>
          <div class="panel-footer">
            <div class="alert alert-dismissable alert-info" ng-show="filteredPO.length == 0" translate="NO_ORDER_FOR_NOW"></div>
            <div class="table-responsive" ng-show="filteredPO.length > 0">
              <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables dataTable"  aria-describedby="example_info" >
                <thead style="background-color: white;">
                <tr role="row">
                  <th ng-show="user.contacts.length > 1" class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" >
                    <a href="" style="font-weight:500;" ng-click="sortType = 'subco'; sortReverse = !sortReverse">
                      <span ng-if="!user.isSubco" translate="SUBCONTRACTOR"></span>
                      <span ng-if="user.isSubco" translate="CUSTOMER"></span>
                      <span ng-show="sortType == 'subco' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'subco' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" >
                    <a href="" style="font-weight:500;" ng-click="sortType = 'date'; sortReverse = !sortReverse">
                      <span translate="DATE"></span>
                      <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" >
                    <a href="" style="font-weight:500;" ng-click="sortType = 'priority'; sortReverse = !sortReverse">
                      <span translate="PRIORITY"></span>
                      <span ng-show="sortType == 'priority' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'priority' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                    <a href="" style="font-weight:500;" ng-click="sortType = 'num'; sortReverse = !sortReverse">
                      <span translate="NUMBER"></span>
                      <span ng-show="sortType == 'num' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'num' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" >
                    <a href="" style="font-weight:500;" ng-click="sortType = 'article'; sortReverse = !sortReverse">
                      <span translate="ARTICLE"></span>
                      <span ng-show="sortType == 'article' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'article' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" >
                    <a href="" style="font-weight:500;" ng-click="sortType = 'lib'; sortReverse = !sortReverse">
                      <span translate="LABEL"></span>
                      <span ng-show="sortType == 'lib' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'lib' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                </tr>
                </thead>
                <tbody role="alert">
                <tr ng-repeat="ordre in filteredPO = (orders| orderBy:sortType:sortReverse | filter:fil.subcoFilter | filter:fil.doFilter | isBetween:date.begin:date.end)  | startFrom:(pagination.currentOrders-1)*pagination.size | limitTo:pagination.size" ng-class="{'selected':ordre == selectedOrder}">
                  <td ng-show="!user.isSubco && user.contacts.length > 1">{{ordre.subco}}</td>
                  <td  ng-show="user.isSubco && user.contacts.length > 1">{{ordre.iddo}}</td>

                  <td>{{ordre.date | date:'shortDate'}}</td>
                  <td>{{ordre.priority}}</td>
                  <td>{{ordre.num}}</td>
                  <td>{{ordre.article}}</td>
                  <td>{{ordre.lib}}</td>
                </tr>
                </tbody>
              </table>
            </div>


            <!-- Pagination -->
            <div class="row" ng-show="filteredPO.length > pagination.size">
              <div class=" col-sm-4 center-xs info_pagination" style="padding:15px;" ><span translate="MO"></span> {{(pagination.currentOrders-1)*pagination.size+1}}–{{((pagination.currentOrders)*pagination.size < filteredPO.length) ?(pagination.currentOrders)*pagination.size :filteredPO.length}} / {{filteredPO.length}}</div>
              <div class=" col-sm-8 center-xs text-right">
                <pagination  class="pagination" total-items="filteredPO.length" direction-links="false" boundary-links="true" items-per-page="pagination.size" ng-model="pagination.currentOrders" max-size="maxSize"  previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}"></pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-md-12"  style="padding:0px!important;" ng-show="settings.reception == '1'">-->
      <!--<div id="receptionsArray" class="panel panel-default bootstro"-->
           <!--data-bootstro-nextButtonText="{{'NEXT' | translate}} »"-->
           <!--data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"-->
           <!--data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"-->
           <!--data-bootstro-title="{{'RECEP_MOD_TITLE' | translate}}"-->
           <!--data-bootstro-content="{{'RECEP_MOD_TEXT' | translate}}">-->
        <!--<div class="panel-body">-->
          <!--<div ><h4 class="label label-success notification" style="font-size:140%" translate="RECEPTION"></h4> </div>-->
        <!--</div> -->
        <!--<div class="panel-footer">-->
          <!--<div class="alert alert-dismissable alert-success" ng-show="filteredRec.length == 0" translate="NO_RECEPTION"></div>-->
            <!--&lt;!&ndash; Differences table &ndash;&gt;-->
            <!--<div id="dataReception" class="table-responsive" ng-show="filteredRec.length > 0">-->
              <!--<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables dataTable" id="example" aria-describedby="example_info">-->
                <!--<thead>-->
                <!--<tr role="row">-->
                  <!--<th ng-show="user.contacts.length > 1" class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 202px;">-->
                    <!--<a href="" style="font-weight:500;" class="success" ng-click="sortTypeRecep = 'subco'; sortReverseRecep = !sortReverseRecep">-->
                      <!--<span ng-if="!user.isSubco" translate="SUBCONTRACTOR"></span>-->
                      <!--<span ng-if="user.isSubco" translate="CUSTOMER"></span>-->
                      <!--<span ng-show="sortTypeRecep == 'subco' && !sortReverseRecep" class="fa fa-caret-down"></span>-->
                      <!--<span ng-show="sortTypeRecep == 'subco' && sortReverseRecep" class="fa fa-caret-up"></span>-->
                    <!--</a>-->
                  <!--</th>-->
                  <!--<th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 202px;">-->
                    <!--<a href="" style="font-weight:500;" class="success" ng-click="sortTypeRecep = 'date'; sortReverseRecep = !sortReverseRecep">-->
                      <!--<span translate="DATE"></span>-->
                      <!--<span ng-show="sortTypeRecep == 'date' && !sortReverseRecep" class="fa fa-caret-down"></span>-->
                      <!--<span ng-show="sortTypeRecep == 'date' && sortReverseRecep" class="fa fa-caret-up"></span>-->
                    <!--</a>-->
                  <!--</th>-->
                  <!--<th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 102px;">-->
                    <!--<a href="" style="font-weight:500;" class="success"  ng-click="sortTypeRecep = 'command'; sortReverseRecep = !sortReverseRecep">-->
                      <!--<span translate="COMMAND"></span>-->
                      <!--<span ng-show="sortTypeRecep == 'number' && !sortReverseRecep" class="fa fa-caret-down"></span>-->
                      <!--<span ng-show="sortTypeRecep == 'number' && sortReverseRecep" class="fa fa-caret-up"></span>-->
                    <!--</a>-->
                  <!--</th>-->

                  <!--<th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 202px;">-->
                    <!--<a href="" style="font-weight:500;" class="success" ng-click="sortTypeRecep = 'article'; sortReverseRecep = !sortReverseRecep">-->
                      <!--<span translate="ARTICLE"></span>-->
                      <!--<span ng-show="sortTypeRecep == 'article' && !sortReverseRecep" class="fa fa-caret-down"></span>-->
                      <!--<span ng-show="sortTypeRecep == 'article' && sortReverseRecep" class="fa fa-caret-up"></span>-->
                    <!--</a>-->
                  <!--</th>-->
                  <!--<th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 302px;">-->
                    <!--<a href="" style="font-weight:500;" class="success" ng-click="sortTypeRecep = 'wording'; sortReverseRecep = !sortReverseRecep">-->
                      <!--<span translate="LABEL"></span>-->
                      <!--<span ng-show="sortTypeRecep == 'wording' && !sortReverseRecep" class="fa fa-caret-down"></span>-->
                      <!--<span ng-show="sortTypeRecep == 'wording' && sortReverseRecep" class="fa fa-caret-up"></span>-->
                    <!--</a>-->
                  <!--</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody role="alert" aria-live="polite" aria-relevant="all" >-->
                <!--<tr  ng-repeat="reception in filteredRec = (receptions | orderBy:sortTypeRecep:sortReverseRecep | filter:fil.subcoFilter | filter:fil.doFilter  | isBetween:date.begin:date.end) | startFrom:(pagination.currentRecep-1)*pagination.size | limitTo:pagination.size">-->
                  <!--<td ng-show="!user.isSubco && user.contacts.length > 1">{{reception.subco}}</td>-->
                  <!--<td  ng-show="user.isSubco && user.contacts.length > 1">{{reception.iddo}}</td>-->

                  <!--<td>{{reception.date | date:'shortDate'}}</td>-->
                  <!--<td>{{reception.command}}</td>-->
                  <!--<td>{{reception.article}}</td>-->
                  <!--<td>{{reception.wording}}</td>-->
                <!--</tr>-->
                <!--</tbody>-->
              <!--</table>-->
          <!--</div>-->
          <!--&lt;!&ndash; Pagination &ndash;&gt;-->
          <!--<div class="row" ng-show="filteredRec.length > pagination.size">-->
            <!--<div class=" col-sm-4 center-xs info_pagination" style="padding:15px;" ><span translate="RECEPTIONS"></span> {{(pagination.currentRecep-1)*pagination.size+1}}–{{((pagination.currentRecep)*pagination.size < filteredRec.length) ?(pagination.currentRecep)*pagination.size :filteredRec.length}} / {{filteredRec.length}}</div>-->
            <!--<div class=" col-sm-8 center-xs text-right">-->
              <!--<pagination  class="paginationSuccess" total-items="filteredRec.length" direction-links="false" boundary-links="true" items-per-page="pagination.size" ng-model="pagination.currentRecep" max-size="maxSize" previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}"></pagination>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <div class="col-lg-6">

    <div class="col-md-12" style="padding:0px!important;" ng-show="settings.stock == '1'">
      <div id="inventoriesArray" class="panel panel-default bootstro"
           data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
           data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
           data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
           data-bootstro-title="{{'STOCK_MOD_TITLE' | translate}}"
           data-bootstro-content="{{'STOCK_MOD_TEXT' | translate}}">
        <div class="panel-body">
          <div ><h4 class="label label-orangeBis notification" style="font-size:140%" translate="INVENTORIES"></h4> <small>(</small><small translate="IN_PROGRESS"></small><small>)</small></div>
        </div>
        <div class="panel-footer">
          <div class="alert alert-dismissable alert-warning" ng-show="filteredInv.length == 0" translate="NO_INVENTORY"></div>
          <div id="dataInventories" class="table-responsive" ng-show="filteredInv.length>0">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables dataTable"  aria-describedby="example_info" >
              <thead style="background-color: white; ">
              <tr role="row">
                <th  ng-show="user.contacts.length > 1" class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a class="orangeTer" style="font-weight:500;" href="" ng-click="sortTypeInventories = 'subco'; sortReverseInventories = !sortReverseInventories">
                    <span ng-if="!user.isSubco" translate="SUBCONTRACTOR"></span>
                    <span ng-if="user.isSubco" translate="CUSTOMER"></span>
                    <span ng-show="sortTypeInventories == 'subco' && !sortReverseInventories" class="fa fa-caret-down"></span>
                    <span ng-show="sortTypeInventories == 'subco' && sortReverseInventories" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" >
                  <a class="orangeTer" style="font-weight:500;"  href="" ng-click="sortTypeInventories = 'date'; sortReverseInventories = !sortReverseInventories">
                    <span translate="DATE"></span>
                    <span ng-show="sortTypeInventories == 'date' && !sortReverseInventories" class="fa fa-caret-down"></span>
                    <span ng-show="sortTypeInventories == 'date' && sortReverseInventories" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" >
                  <a class="orangeTer" style="font-weight:500;" href="" ng-click="sortTypeInventories = 'chrono'; sortReverseInventories = !sortReverseInventories">
                    <span translate="NUMBER"></span>
                    <span ng-show="sortTypeInventories == 'chrono' && !sortReverseInventories" class="fa fa-caret-down"></span>
                    <span ng-show="sortTypeInventories == 'chrono' && sortReverseInventories" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a class="orangeTer" style="font-weight:500;" href="" ng-click="sortTypeInventories = 'depot'; sortReverseInventories = !sortReverseInventories">
                    <span translate="STATUS"></span>
                    <span ng-show="sortTypeInventories == 'depot' && !sortReverseInventories" class="fa fa-caret-down"></span>
                    <span ng-show="sortTypeInventories == 'depot' && sortReverseInventories" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a class="orangeTer" style="font-weight:500;" href="" ng-click="sortTypeInventories = 'libelle'; sortReverseInventories = !sortReverseInventories">
                    <span translate="LABEL"></span>
                    <span ng-show="sortTypeInventories == 'libelle' && !sortReverseInventories" class="fa fa-caret-down"></span>
                    <span ng-show="sortTypeInventories == 'libelle' && sortReverseInventories" class="fa fa-caret-up"></span>
                  </a>
                </th>
              </tr>
              </thead>
              <tbody role="alert" aria-live="polite" aria-relevant="all" >
              <tr ng-repeat="inventory in filteredInv = (inventories| orderBy:sortTypeInventories:sortReverseInventories | filter:fil.subcoFilter | filter:fil.doFilter | isBetween:date.begin:date.end) | startFrom:(pagination.currentInv-1)*pagination.size | limitTo:pagination.size  ">
                <td  ng-show="!user.isSubco && user.contacts.length > 1">{{inventory.subco}}</td>
                <td  ng-show="user.isSubco && user.contacts.length > 1">{{inventory.iddo}}</td>

                <td>{{inventory.date | date:'shortDate'}}</td>
                <td>{{inventory.chrono}}</td>
                <td>{{inventory.depot}}</td>
                <td>{{inventory.libelle}}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <!-- Pagination -->
          <div class="row" ng-show="filteredInv.length > pagination.size">
            <div class=" col-sm-4 center-xs info_pagination" style="padding:15px;"><span translate="INVENTORIES"></span> {{(pagination.currentInv-1)*pagination.size+1}}–{{((pagination.currentInv)*pagination.size < filteredInv.length) ?(pagination.currentInv)*pagination.size :filteredInv.length}} / {{filteredInv.length}}</div>
            <div class=" col-sm-8 center-xs text-right">
              <pagination class="paginationOrange" total-items="filteredInv.length" direction-links="false" boundary-links="true" items-per-page="pagination.size" ng-model="pagination.currentInv" max-size="maxSize"  previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="padding:0px!important;" ng-show="settings.quality == '1'">
      <div id="qualityArray" class="panel panel-default bootstro"
           data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
           data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
           data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
           data-bootstro-title="{{'QUALITY_MOD_TITLE' | translate}}"
           data-bootstro-content="{{'QUALITY_MOD_TEXT' | translate}}">
        <div class="panel-body">
          <div ><h4 class="label label-danger notification" style="font-size:140%" translate="QUALITY"></h4></div>
        </div>
        <div class="panel-footer">
          <div class="alert alert-dismissable alert-danger" ng-show="filteredQua.length == 0" translate="NO_GAP"></div>
          <div  class="table-responsive" ng-show="filteredQua.length>0">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables dataTable">
              <thead style="background-color: white;">
              <tr role="row">
                <th  ng-show="user.contacts.length > 1" class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 252px;">
                  <a href="" style="font-weight:500;" class="danger" ng-click="sortTypeQua = 'subco'; sortReverseQua = !sortReverseQua">
                    <span ng-if="!user.isSubco" translate="SUBCONTRACTOR"></span>
                    <span ng-if="user.isSubco" translate="CUSTOMER"></span>
                    <span ng-show="sortTypeQua == 'subco' && !sortReverseQua" class="fa fa-caret-down"></span>
                    <span ng-show="sortTypeQua == 'subco' && sortReverseQua" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 202px;">
                  <a href="" style="font-weight:500;" class="danger" ng-click="sortTypeQua = 'date'; sortReverseQua = !sortReverseQua">
                    <span translate="DATE"></span>
                    <span ng-show="sortTypeQua == 'date' && !sortReverseQua" class="fa fa-caret-down"></span>
                    <span ng-show="sortTypeQua == 'date' && sortReverseQua" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 202px;">
                  <a href="" style="font-weight:500;" class="danger" ng-click="sortTypeQua = 'article'; sortReverseQua = !sortReverseQua">
                    <span translate="ARTICLE"></span>
                    <span ng-show="sortTypeQua == 'article' && !sortReverseQua" class="fa fa-caret-down"></span>
                    <span ng-show="sortTypeQua == 'article' && sortReverseQua" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 302px;">
                  <a href="" style="font-weight:500;" class="danger" ng-click="sortTypeQua = 'libelle'; sortReverseQua = !sortReverseQua">
                    <span translate="LABEL"></span>
                    <span ng-show="sortTypeQua == 'libelle' && !sortReverseQua" class="fa fa-caret-down"></span>
                    <span ng-show="sortTypeQua == 'libelle' && sortReverseQua" class="fa fa-caret-up"></span>
                  </a>
                </th>
                <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 202px;">
                  <a href="" style="font-weight:500;" class="danger"  ng-click="sortTypeQua = 'lot'; sortReverseQua = !sortReverseQua">
                    <span translate="BATCH"></span>
                    <span ng-show="sortTypeQua == 'lot' && !sortReverseQua" class="fa fa-caret-down"></span>
                    <span ng-show="sortTypeQua == 'lot' && sortReverseQua" class="fa fa-caret-up"></span>
                  </a>
                </th>
              </tr>
              </thead>
              <tbody role="alert" aria-live="polite" aria-relevant="all">
              <tr ng-repeat="gap in filteredQua = (differences| orderBy:sortTypeQua:sortReverseQua | filter:fil.subcoFilter | filter:fil.doFilter | isBetween:date.begin:date.end) | startFrom:(pagination.currentQua-1)*pagination.size | limitTo:pagination.size">
                <td  ng-show="!user.isSubco &&user.contacts.length > 1">{{gap.subco}}</td>
                <td  ng-show="user.isSubco && user.contacts.length > 1">{{gap.iddo}}</td>

                <td>{{gap.date | date:'shortDate'}}</td>
                <td>{{gap.article}}</td>
                <td>{{gap.libelle}}</td>
                <td>{{gap.lot}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- Pagination -->
          <div id="pagination" class="row" ng-show="filteredQua.length > pagination.size">
            <div class="col-sm-4 center-xs info_pagination" style="padding:15px;">Écarts {{(pagination.currentQua-1)*pagination.size+1}}–{{((pagination.currentQua)*pagination.size < filteredQua.length) ?(pagination.currentQua)*pagination.size :filteredQua.length}} / {{filteredQua.length}}</div>
            <div class="col-sm-8 center-xs text-right">
              <pagination  class="paginationDanger" total-items="filteredQua.length" direction-links="false" boundary-links="true"  items-per-page="pagination.size" ng-model="pagination.currentQua" max-size="maxSize" previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' |translate}}"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12"></div>
  </div>

</div>
</div>
