<!-- Horizontal bar -->
<header class="navbar navbar-inverse " ng-class="(header.fixed) ? 'navbar-fixed-top' : 'navbar-static-top'" role="banner">
  <a id="leftmenu-trigger" class="tooltips" ng-click="changementBarre()"></a>

  <!-- Displays user's informations -->
  <ul class="nav navbar-nav pull-right toolbar" style="width: 200px;">
    <li class="dropdown">
      <a href="" class="dropdown-toggle tooltips" data-toggle="dropdown"><img style="margin-left:5px;" src="../../images/flag/{{adm.language}}.png"></a>
      <ul class="dropdown-menu arrow dropdown-menu-form" id="demo-dropdown" style="width: 70px;min-width:70px;">
        <li><a href="" ng-click="switchLanguage('fr');changeLanguage('fr');">FR<img style="margin-left:5px;" src="../../images/flag/fr.png"></a></li>
        <li><a href="" ng-click="switchLanguage('en-gb');changeLanguage('en-gb');">EN<img style="margin-left:5px;" src="../../images/flag/gb.png"></a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="" class="dropdown-toggle username" data-toggle="dropdown"><span class="hidden-xs">{{user.company}}</span><img ng-src="{{absolutePath}}{{user.img}}" alt="User_Logo"></a>
      <ul class="dropdown-menu userinfo arrow" style="min-width:250px;">
        <li class="username">
          <div class="pull-left"><img ng-src="{{absolutePath}}{{user.img}}" alt="Logo"></div>
          <div class="pull-right"><h5><span translate="HELLO_USER" translate-values='{"name" : user.company}'></span></h5></div>
        </li>
        <li class="userlinks">
          <ul class="dropdown-menu">
            <li><a href="" ng-click="startHelp()"><span translate="HELP"></span><i class="pull-right fa fa-question-circle"></i></a></li>
            <li class="divider"></li>
            <li><a href="" ng-click="logout()" class="text-right"><i class="pull-left fa fa-power-off" style="margin-top:5px;"></i><span translate="SIGN_OUT"></span></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="dropdown demodrop">
      <a href="" class="dropdown-toggle tooltips" data-toggle="dropdown" data-original-title="" title="" ><i class="fa fa-magic"></i></a>

      <ul class="dropdown-menu arrow dropdown-menu-form" style="min-width:180px;" ng-click="$event.stopPropagation()">
        <li>
          <div class="col-xs-12" translate="HOR_MENU"></div>
          <div class="col-xs-12 row" style="margin-top: 5px;margin-right: 5px;margin-bottom: 26px;">
            <div class="col-xs-3">
            <a href="" class="badge badge-black rond" ng-style="{'border':((color.header=='black')? '2px solid #4d4d4d' : '0px')}" ng-click="saveColor('black', color.leftbar)">
              <i ng-show="color.header=='black'" class="fa fa-check rondCheck"></i>
            </a>
          </div>
            <div class="col-xs-3">
              <a href="" class="badge badge-normalH rond" ng-style="{'border':((color.header=='normal')? '2px solid #4d4d4d' : '0px')}" ng-click="saveColor('normal', color.leftbar)">
                <i ng-show="color.header=='normal'" class="fa fa-check rondCheck"></i>
              </a>
            </div>
            <div class="col-xs-3">
              <a href="" class="badge badge-red rond" ng-style="{'border':((color.header=='red')? '2px solid #4d4d4d' : '0px')}" ng-click="saveColor('red', color.leftbar)">
                <i ng-show="color.header=='red'" class="fa fa-check rondCheck"></i>
              </a>
            </div>
            <div class="col-xs-3">
              <a href="" class="badge badge-blue rond" ng-style="{'border':((color.header=='blue')? '2px solid #4d4d4d' : '0px')}" ng-click="saveColor('blue', color.leftbar)">
                <i ng-show="color.header=='blue'" class="fa fa-check rondCheck"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="divider"></li>
        <li>
          <div class="col-xs-12" translate="VERT_MENU"></div>
          <div class="col-xs-12 row" style="margin-top: 5px;margin-right: 5px;margin-bottom: 26px;">
          <div class="col-xs-3">
            <a href="" class="badge badge-normalL rond" style="border:2px solid #4d4d4d;" ng-click="saveColor(color.header, 'normal')">
              <i ng-show="color.leftbar=='normal'" class="fa fa-check rondCheckBlack"></i>
            </a>
          </div>
          <div class="col-xs-3">
            <a href="" class="badge badge-steel rond" ng-style="{'border':((color.leftbar=='steel')? '2px solid #4d4d4d' : '0px')}" ng-click="saveColor(color.header, 'steel')">
              <i ng-show="color.leftbar=='steel'" class="fa fa-check rondCheck"></i>
            </a>
          </div>
          <div class="col-xs-3">
            <a href="" class="badge badge-lavender rond" ng-style="{'border':((color.leftbar=='lavender')? '2px solid #4d4d4d' : '0px')}" ng-click="saveColor(color.header, 'lavender')">
              <i ng-show="color.leftbar=='lavender'" class="fa fa-check rondCheck"></i>
            </a>
          </div>
          <div class="col-xs-3">
            <a href="" class="badge badge-green rond" ng-style="{'border':((color.leftbar=='green')? '2px solid #4d4d4d' : '0px')}" ng-click="saveColor(color.header, 'green')">
              <i ng-show="color.leftbar=='green'" class="fa fa-check rondCheck"></i>
            </a>
          </div>
            </div>
        </li>
        <li class="divider"></li>
        <li>
          <div class="col-xs-12" translate="FIX_HOR_MENU"></div>
          <div class="col-xs-12 row" style="margin-top: 5px;margin-right: 5px;margin-bottom: 7px;margin-left: 19px;"><span class="classic"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="header.fixed" ng-change="saveFixed()"><toggle-switch></toggle-switch></div>
        </li>
      </ul>
    </li>
  </ul>

</header>
