<div id="page-heading">
  <ol class="breadcrumb ">
    <li translate="MANAGEMENT"></li>
    <li class="active" translate="TRAD_INTERFACE"></li>
  </ol>
  <h1 translate="TRAD_INTERFACE"></h1>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12 col-20">
      <div class="panel panel-gray">
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>
</div>
