<div id="page-heading">

  <!-- Breadcrumb -->
  <ol class="breadcrumb ">
    <li><a href="#/" class="successTer" translate="DASHBOARD"></a></li>
    <li><a href="#/reception" class="successTer"  translate="RECEPTION" ng-click="setRead_OneType('reception')"></a></li>
    <li class="active"><span translate="RECEPTION"></span> <span>{{reception.command}}</span></li>

  </ol>

  <!-- Page title -->
  <h1><span translate="RECEPTION"></span> <span>{{reception.command}}</span></h1>

  <!-- Buttons to export data -->
  <div class="options text-rigth-xs text-rigth-sm">
    <div class="btn-toolbar">
      <div class="btn-group hidden-xs" ng-if="(!user.isSubco && rights.custo.exportReception || user.isSubco && rights.subco.exportReception) && (reception.validated)">
        <a href="" class="btn btn-default" ng-click="exportRec(true)" data-toggle="dropdown"><i class="fa fa-cloud-download"></i><span class="hidden-xs span_icon" data-translate="EXPORT"></span></a>
      </div>
    </div>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-12" style="padding-top:20px;">

      <!-- Information about the reception -->
      <div id="infoReception" class="col-lg-4">
        <div class="panel panel-gray bootstro"
             data-bootstro-placement="{{getBootstroPlacement()}}"
             data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
             data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
             data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
             data-bootstro-title="{{'INFO_RECEP_TITLE' | translate}}"
             data-bootstro-content="{{'INFO_RECEP_TEXT' | translate}}">

          <!--Title-->
          <div class="panel-heading" translate="RECEPTION_DETAILS"></div>

          <!-- Summary of the information -->
          <div class="panel-body">
            <div class="col-xs-12 info-row" ng-show="changeDone">
              <div class="alert alert-dismissable alert-success">
                <span translate="CHANGE_DONE"></span></span>
                <button type="button" class="close" ng-click="hideChangeDone()">×</button>
              </div>
            </div>
            <form action="#" name="recepForm" class="form-horizontal" novalidate>
              <div class="row">

                <div class="col-xs-6 info-row" ng-class="(saveBtn && recepForm.command.$invalid)? 'has-error':''">
                  <span class="control-label" translate="COMMAND"></span>
                  <input name="command"  ng-disabled="(!user.isSubco && !rights.custo.editReception || user.isSubco && !rights.subco.editReception) || reception.validated" class="bootbox-input bootbox-input-text form-control" ng-model="reception.command" type="text" required ng-change="setChange()">
                </div>

                <div class="col-xs-6 info-row" ng-class="(saveBtn && recepForm.date.$invalid)? 'has-error':''">
                  <span translate="DATE"></span>
                  <div class="input-daterange input-group">
                    <input class="form-control"  ng-disabled="(!user.isSubco && !rights.custo.editReception || user.isSubco && !rights.subco.editReception) || reception.validated"  name="date" custom-class="'success'" datepicker-append-to-body="false" show-button-bar="false" ng-change="setChange()"
                           datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedAdd" ng-model="reception.date" type="text" required>
                    <span ng-hide="(!user.isSubco && !rights.custo.editReception || user.isSubco && !rights.subco.editReception) || reception.validated" class="input-group-addon control-label" style="border-left: 0;cursor:pointer;"
                          ng-click="openDate($event)"><a class="success"href=""><i class="fa fa-calendar" style="margin-right: 3px;"></i></a></span>
                  </div>
                </div>

                <div class="col-xs-12 info-row" ng-show="!user.isSubco"><span class="control-label" translate="SUBCONTRACTOR"></span><input type="text" class="form-control" ng-model="reception.subco" ng-disabled="true"></div>
                <div class="col-xs-12 info-row" ng-show="user.isSubco"><span class="control-label" translate="CUSTOMER"></span><input type="text" class="form-control" ng-model="reception.iddo" ng-disabled="true"></div>


                <div class="col-xs-12 info-row" ng-class="(saveBtn && recepForm.delivery.$invalid)? 'has-error':''">
                  <span class="control-label" translate="DELIVERY_BY"></span>
                  <input name="delivery" ng-disabled="(!user.isSubco && !rights.custo.editReception || user.isSubco && !rights.subco.editReception) || reception.validated" class="bootbox-input bootbox-input-text form-control" ng-model="reception.deliveryBy" type="text" required ng-change="setChange()">
                </div>
                <div class="col-sm-4 col-xs-12info-row" ng-class="(saveBtn && recepForm.article.$invalid)? 'has-error':''">
                  <span class="control-label" translate="ARTICLE"></span>
                  <input name="article" ng-disabled="(!user.isSubco && !rights.custo.editReception || user.isSubco && !rights.subco.editReception) || reception.validated" class="bootbox-input bootbox-input-text form-control" ng-model="reception.article" type="text" required ng-change="setChange()">
                </div>
                <div class="col-sm-8 col-xs-12 info-row" ng-class="(saveBtn && recepForm.wording.$invalid)? 'has-error':''">
                  <span class="control-label" translate="LABEL"></span>
                  <input name="wording" ng-disabled="(!user.isSubco && !rights.custo.editReception || user.isSubco && !rights.subco.editReception) || reception.validated" class="bootbox-input bootbox-input-text form-control" ng-model="reception.wording" type="text" required ng-change="setChange()">
                </div>
                <div class="col-sm-6 col-xs-8 info-row" ng-class="(saveBtn && recepForm.quantity.$invalid)? 'has-error':''">
                  <span class="control-label" translate="QUANTITY"></span>
                  <input name="quantity" ng-disabled="(!user.isSubco && !rights.custo.editReception || user.isSubco && !rights.subco.editReception) || reception.validated" type="number" class="bootbox-input bootbox-input-text form-control" step="any" min="0.001" ng-change="setChange()"
                         ng-model="reception.quantity"
                         required>
                </div>
                <div class="col-sm-6 col-xs-4 info-row" ng-class="(saveBtn && recepForm.unit.$invalid)? 'has-error':''">
                  <span class="control-label" translate="UNIT"></span>
                  <select name="unit" size="1" class="form-control" ng-disabled="(!user.isSubco && !rights.custo.editReception || user.isSubco && !rights.subco.editReception) ||  reception.validated" ng-model="reception.unit" ng-options="unit for unit in units" required ng-change="setChange()"></select>
                </div>
              </div>
            </form>
          </div>
          <div class="panel-footer text-center" ng-if="!user.isSubco && rights.custo.deleteReception || user.isSubco && rights.subco.deleteReception">
            <a href="" class="btn btn-success" ng-click="saveChange(recepForm.$valid)" ng-if="change">
              <i class="fa  fa-check"></i><span class="span_icon" translate="SAVE"></span>
            </a>
            <a href="" class="btn btn-inverse-alt" ng-click="showModalDeleteRecep(true)">
              <i class="fa  fa-times"></i><span class="span_icon" translate="DELETE"></span>
            </a>
          </div>
        </div>
      </div>

      <div id="dataReception" class="col-lg-8">
        <div class="panel panel-success">
          <div class="panel-body">

            <!-- Alert message when the inventory is close -->
            <div id="alertClose" class="row" ng-show="reception.validated">
              <div class="alert alert-dismissable alert-success">
                <span translate="RECEPTION_VALID" translate-values='{number:reception.command}'></span></span>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              </div>
            </div>


            <div id="btnReception" class="row" style="margin-bottom:20px;">

              <!-- List which allow to set the number of data on one page -->
              <div ng-show="filteredData.length > 10"  class="col-xs-8">
                <div id="example_length" class=" dataTables_length" >
                  <label>
                    <select ng-model="pagination.size" size="1" aria-controls="example" class="form-control" >
                      <option value="10" ng-selected="pagination.size ==10">10</option>
                      <option value="25" ng-selected="pagination.size ==25">25</option>
                      <option value="50" ng-selected="pagination.size ==50">50</option>
                      <option value="100" ng-selected="pagination.size ==100">100</option>
                    </select> <span class=" span_icon hidden-xs" translate="LINES_PER_PAGE"></span>
                  </label>
                </div>
              </div>

              <!-- Search form to find a data in the table -->
              <div ng-class="(filteredData.length > 10)? 'col-xs-4' : 'col-xs-12'" class="text-right">
                <label><input type="text" class="form-control" ng-model="search.recep" placeholder="{{'SEARCH' | translate}}..."></label>
              </div>
            </div>

            <div id="tableReception" class="table-responsive bootstro"
                 data-bootstro-placement="top"
                 data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                 data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                 data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                 data-bootstro-title="{{'TABLE_ONERECEP_TITLE' | translate}}"
                 data-bootstro-content="{{'TABLE_ONERECEP_TEXT' | translate}}">
              <table class="table table-striped table-bordered datatables dataTable tableLot">
                <thead>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:10%;"
                      ng-if="(!reception.validated) && ((!user.isSubco && rights.custo.editDataReception || user.isSubco && rights.subco.editDataReception) || (!user.isSubco && rights.custo.deleteDataReception || user.isSubco && rights.subco.deleteDataReception))"
                      translate="EDIT"></th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:30%;">
                    <a href="" class="success" ng-click="sortType = 'lot'; sortReverse = !sortReverse">
                      <span translate="BATCH"></span>
                      <span ng-show="sortType == 'lot' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'lot' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:20%;">
                    <a href="" class="success" ng-click="sortType = 'quantity1'; sortReverse = !sortReverse">
                      <span translate="QUANTITY"></span><span> 1</span>
                      <span ng-show="sortType == 'quantity1' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'quantity1' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:10%;">
                    <a href="" class="success" ng-click="sortType = 'unit1'; sortReverse = !sortReverse">
                      <span translate="UNIT"></span><span> 1</span>
                      <span ng-show="sortType == 'unit1' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'unit1' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:20%;">
                    <a href="" class="success" ng-click="sortType = 'quantity2'; sortReverse = !sortReverse">
                      <span translate="QUANTITY"></span><span> 2</span>
                      <span ng-show="sortType == 'quantity2' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'quantity2' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width:10%;">
                    <a href="" class="success" ng-click="sortType = 'unit2'; sortReverse = !sortReverse">
                      <span translate="UNIT"></span><span> 2</span>
                      <span ng-show="sortType == 'unit2' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'unit2' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                </thead>
                <tbody>
                <tr ng-repeat="data in filteredData =( reception.data | filter:search.recep  | orderBy:sortType:sortReverse )">
                  <td style="white-space: nowrap"
                      ng-show="(!reception.validated) && ((!user.isSubco && rights.custo.editDataReception || user.isSubco && rights.subco.editDataReception) || (!user.isSubco && rights.custo.deleteDataReception || user.isSubco && rights.subco.deleteDataReception))">
                    <!-- form-->
                    <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == data">
                      <button tooltip="{{'SAVE' | translate}}" type="submit" ng-click="saveData(data)" ng-disabled="rowform.$waiting" class="btn btn-success-alt" style="padding:8px;padding-top:3px;padding-bottom:3px;">
                        <i class="fa fa-check"></i>
                      </button>
                      <button tooltip="{{'CANCEL' | translate}}" type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn btn-inverse-alt" style="padding:8px;padding-top:3px;padding-bottom:3px;">
                        <i class="fa fa-ban"></i>
                      </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                      <button tooltip="{{'EDIT' | translate}}" class="btn btn-inverse-alt" ng-click="rowform.$show()" style="padding:8px;padding-top:3px;padding-bottom:3px;"
                              ng-if="!user.isSubco && rights.custo.editDataReception || user.isSubco && rights.subco.editDataReception"><i class="fa fa-pencil"></i></button>
                      <button tooltip="{{'DELETE' | translate}}" class="btn btn-danger-alt" ng-click="showModalDeleteLine(true,data)" style="padding:8px;padding-top:3px;padding-bottom:3px;"
                              ng-if="!user.isSubco && rights.custo.deleteDataReception || user.isSubco && rights.subco.deleteDataReception"><i class="fa fa-times"></i></button>
                    </div>
                  </td>
                  <td ng-class="data.lot == '' ? 'danger' : ''"><span editable-text="data.lot" e-form="rowform" onaftersave="saveData(data)">{{data.lot}}</span></td>
                  <td ng-class="((data.quantity1 == '') || (data.quantity1 == 0))? 'danger' : ''"><span editable-number="data.quantity1" e-min="0" e-form="rowform"  onaftersave="saveData(data)">{{data.quantity1}}</span></td>
                  <td><span editable-select="data.unit1" e-ng-options="unit for unit in units" e-form="rowform" onaftersave="saveData(data)">{{data.unit1}}</span></td>
                  <td><span editable-number="data.quantity2" e-form="rowform" e-min="0" onaftersave="saveData(data)">{{data.quantity2}}</span></td>
                  <td><span editable-select="data.unit2" e-ng-options="unit for unit in units" e-form="rowform" onaftersave="saveData(data)">{{data.unit2}}</span></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="text-right" ng-if="!user.isSubco && rights.custo.addDataReception || user.isSubco && rights.subco.addDataReception">
              <a href="" ng-click="addData()" class="btn btn-inverse" ng-disabled="reception.validated"><i class="fa fa-plus"></i><span class="span_icon" translate="ADD"></span></a>
            </div>
            <!-- Pagination -->
            <div id="pageReception" class="row" ng-show="filteredData.length > pagination.size">
              <div class="col-md-6 col-sm-4 center-xs info_pagination" style="padding:15px;"><span translate="RECEPTIONS"></span> {{(pagination.current-1)*pagination.size+1}}–{{((pagination.current)*pagination.size < filteredData.length) ?(pagination.current)*pagination.size :filteredData.length}} / {{filteredData.length}}</div>
              <div class="col-md-6 col-sm-8 center-xs text-right">
                <pagination  class="paginationSuccess" total-items="filteredData.length" items-per-page="pagination.size" ng-model="pagination.current" max-size="maxSize" boundary-links="true"
                             previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}"></pagination>
              </div>
            </div>
          </div>
          <div class="panel-footer text-center" ng-if="!user.isSubco && rights.custo.validationReception || user.isSubco && rights.subco.validationReception">
            <a href="" class="btn btn-success" ng-click="showModalValidation = true" ng-disabled="reception.validated"><i class="fa fa-check"></i><span class="span_icon" translate="VALIDATE_RECEPTION"></span></a>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>


<!-- Modal box to confirm the validation of the outputs -->
<div class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="showModalDelete">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="showModalDeleteRecep(false)" style="margin-top: -10px;">×</button>
        <div class="bootbox-body" translate="DELETE_RECEPTION" translate-values='{number : reception.command}'></div></div><div class="modal-footer">
      <a class="btn btn-default" ng-click="showModalDelete(false)"><span translate="CANCEL"></span></a>
      <a href="#/reception" class="btn btn-success" ng-click="deleteReception()" translate="CONFIRM" ng-click="setRead_OneType('reception')"></a>
    </div>
    </div>
  </div>
</div>

<div class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="modalDeleteLine">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="showModalDeleteLine(false,null)" style="margin-top: -10px;">×</button>
        <div class="bootbox-body" translate="DELETE_LINE_RECEPTION"></div></div><div class="modal-footer">
      <a class="btn btn-default" ng-click="showModalDeleteLine(false,null)"><span translate="CANCEL"></span></a>
      <a href="" class="btn btn-success" ng-click="removeData()" translate="CONFIRM"></a>
    </div>
    </div>
  </div>
</div>


<!-- Modal box to confirm the validation of the outputs -->
<div class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="showModalValidation">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="showModalValidation = false" style="margin-top: -10px;">×</button>
        <div class="bootbox-body" translate="VALIDATE_RECEPTION_QUESTION" translate-values='{number : reception.command}'></div></div><div class="modal-footer">
      <a class="btn btn-default" ng-click="showModalValidation = false"><span translate="CANCEL"></span></a>
      <a class="btn btn-success"  ng-click="validateReception()" translate="CONFIRM"></a>
    </div>
    </div>
  </div>
</div>

<div class="bootbox modal fade bootbox-alert in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="successExport">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="exportRec(false)" style="margin-top: -10px;">×</button>
        <!--<div class="bootbox-body" translate="SUCCESS_EXPORT"></div>-->
        Non implémenté.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="exportRec(false)" translate="OK"></button>
      </div>
    </div>
  </div>
</div>
