<!-- Footer -->
<footer role="contentinfo">
  <div class="clearfix">
    <ul class="list-unstyled list-inline pull-left">
      <li>VIF © 2015</li>
    </ul>
    <a href="" ng-click="goToTop()" class="pull-right btn btn-inverse-alt btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></a>
  </div>
</footer>
