
<div id="page-heading">
  <ol class="breadcrumb ">
    <li translate="MANAGEMENT"></li>
    <li class="active" translate="USER_MANAGEMENT"></li>
  </ol>
  <h1 translate="USER_MANAGEMENT"></h1>
  <div id="usersAdd" class="options text-rigth-xs text-rigth-sm">
    <div class="btn-toolbar">
      <div class="btn-group">
        <a href="" ng-click="addContact = true;" class="btn btn-sky">
          <i class="fa fa-plus"></i><span translate="ADD"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-20">
    <div class="panel panel-gray">
      <div class="panel-body">
        <div id="usersMana" class="row" style="margin-bottom:20px;">

          <div class="col-md-4 col-sm-3 col-xs-4">
            <a  href="" class="btn btn-inverse-alt" ng-disabled="selectedUser==null" ng-click="viewUser = true" style="margin-bottom:10px;">
              <i class="fa fa-eye"></i> <span translate="DISPLAY"></span>
            </a>
          </div>

          <!-- List which allow to set the number of data on one page -->
          <div class="col-md-4 col-sm-5 col-xs-4">
            <div id="example_length" class="dataTables_length" ng-if="filteredUsers.length > 16">
              <label>
                <select ng-model="pagination.size" size="1"  class="form-control">
                  <option value="16" ng-selected="pagination.size ==16">16</option>
                  <option value="32" ng-selected="pagination.size ==32">32</option>
                  <option value="48" ng-selected="pagination.size ==48">48</option>
                  <option value="90" ng-selected="pagination.size ==90">90</option>
                </select><span class="span_icon hidden-xs" translate="USERS_PER_PAGE"></span>
              </label>
            </div>
          </div>

          <div  class="col-md-4 text-right col-sm-4 col-xs-4">
            <label><input type="text" class="form-control" ng-model="search.user" placeholder="{{'SEARCH' | translate}}..."></label>
          </div>
        </div>

        <div class="panel-footer" id="filtreEvent" style=margin-bottom:20px;">
          <div id="filterType" class="row">
            <div class="col-xs-12 text-center">
              <a href="" class="badge badge-sky rondBig"  style="border:3px solid #4d4d4d;" ng-click="filter.do = !filter.do">
                <i class="fa rondCheckBigBlack" ng-class="(filter.do)? 'fa-check':'fa-ban'"></i>
              </a>
              <span translate="PRIME_CONTRACTOR"  style="margin-right:10px;"></span>
              <a href="" class="badge badge-success rondBig" style="border:3px solid #4d4d4d;" ng-click="filter.subco = !filter.subco">
                <i class="fa fa-check rondCheckBigBlack" ng-class="(filter.subco)? 'fa-check':'fa-ban'"></i>
              </a>
              <span translate="SUBCONTRACTOR"></span>
            </div>
          </div>
        </div>

        <div id="usersData" class="row">
          <div ng-if="filteredUsers.length == 0 && search.user != ''" class="alert alert-dismissable alert-info" translate="NO_USERS" translate-values='{ data: search.user}'></div>
      <div class="col-lg-3 col-md-4 col-sm-6 " ng-if="filteredUsers.length > 0"
           ng-repeat="user in filteredUsers = (users | orderBy:'company' | filter:search.user | filter:displayItem)  |startFrom:(pagination.current-1)*pagination.size | limitTo:pagination.size"
           ng-click="setSelectedUser(user);">

        <a class="info-tiles" ng-class ="selectedUser == user ? 'tiles-inverse':((user.isSubco)? 'tiles-success' : 'tiles-sky')" href="">
          <div class="tiles-heading">
            <div class="pull-left">{{user.company}}</div>
            <div class="pull-right"><i class="fa" ng-class ="selectedUser == user ? 'fa-dot-circle-o':'fa-circle-o'"></i></div>
          </div>
          <div class="tiles-body bis" style="text-align: left;">
            <span style="font-weight: bold;">{{user.firstName}} {{user.name}}</span><br>
            {{user.function}}<br>
            {{user.mail}}<br>
            <hr>
            <div class="col-md-6 col-sm-6 col-xs-6">
              {{user.phone_1}}<br>
              {{user.phone_2}}<br>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6"  style="text-align: right;">
              <img ng-src="{{absolutePath}}{{user.img}}" style="width:56px;height:34px;">
            </div>
          </div>
        </a>
      </div>
          <!-- Pagination -->
          <div id="pagination" class="col-md-12" style="padding:0px;" ng-show="filteredUsers.length > pagination.size">
            <div class="col-md-6 col-sm-4 center-xs info_pagination"><span translate="USERS"></span> {{(pagination.current-1)*pagination.size+1}}–{{((pagination.current)*pagination.size < filteredUsers.length) ?(pagination.current)*pagination.size :filteredUsers.length}} / {{filteredUsers.length}}</div>
            <div class="col-md-6 col-sm-8 center-xs text-right">
              <pagination  class="paginationSky" total-items="filteredUsers.length" items-per-page="pagination.size" ng-model="pagination.current" max-size="maxSize" boundary-links="true" previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}"></pagination>
            </div>
          </div>

        </div>
      </div>
    </div>
    </div>
  </div>
</div>


<!-- Modal box to add a new contact -->
<div id="dataTable" class="bootbox modal fade bootbox-prompt in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="addContact">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="cancelNewContact()" class="bootbox-close-button close">×</button>
        <h4 class="modal-title" translate="ADD_CONTACT"></h4>
      </div>
      <div class="modal-body">
        <div>
          <form class="bootbox-form" name="addContactForm" novalidate ng-init="setForm(this)">
            <div class="row info-row">
              <div class="col-md-12"  ng-class="addContactForm.company.$invalid && pressBtn || sameCompany? 'has-error':''"><span class="control-label" translate="COMPANY"></span>
                <input name="company" style="margin-bottom:5px;" class="bootbox-input bootbox-input-text form-control" pattern="[A-Za-z0-9]{1,}" ng-model="newContact.company" type="text" required>
                <span class="control-label" ng-if="sameCompany"><i class="fa fa-times-circle"></i><span class="span_icon" translate="SAME_COMPANY"></span></span>
                <span class="control-label" ng-if="addContactForm.company.$invalid && pressBtn"><i class="fa fa-times-circle"></i><span class="span_icon" translate="WRONG_FORM"></span></span>
              </div>
              <div class="col-md-12" ng-class="addContactForm.mail.$invalid && pressBtn? 'has-error':''"><span class="control-label" translate="EMAIL"></span>
                <input name="mail" class="bootbox-input bootbox-input-text form-control" ng-model="newContact.mail" type="email" required>
              </div>
              <div class="col-sm-2" ng-class="addContactForm.mail.$invalid && pressBtn? 'has-error':''" style="margin-top: 10px;"><span  class="control-label" translate="PROFILE"></span></div>
              <div class="col-sm-4">
                <div class="radio"><label><input type="radio" name="optionsRadios"  ng-model="newContact.isSubco" value="false" checked=""><span translate="PRIME_CONTRACTOR"></span></label></div>
              </div>
              <div class="col-sm-4">
                <div class="radio"><label><input type="radio" name="optionsRadios"  ng-model="newContact.isSubco" value="true"><span translate="SUBCONTRACTOR"></span></label></div>
              </div>
              </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button data-bb-handler="cancel" type="button" class="btn btn-inverse" ng-click="cancelNewContact()"><i class="fa fa-ban"></i> <span style="margin-left:5px;" translate="CANCEL"></span></button>
        <button data-bb-handler="confirm" type="button" class="btn btn-sky"  ng-click="addNewContact()"><i class="fa fa-plus"></i> <span class="span_icon" translate="ADD"></span></button>
      </div>
    </div>
  </div>
</div>


<!-- Modal box to visualize an user -->
<div  class="bootbox modal fade bootbox-prompt in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="viewUser">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="cancelViewUser()" class="bootbox-close-button close">×</button>
        <h4 class="modal-title">{{selectedUser.company}}</h4>
      </div>
      <div class="modal-body" style="padding-bottom: 0;">
        <div class="row info-row">
          <div  style="text-align: center;">
          <form>
            <label for="fileInput">
              <img tooltip="{{'CHANGE_IMG' | translate}}" ng-src="{{absolutePath}}{{selectedUser.img}}" style="width:100px;height:54px;cursor:pointer;" />
              <input id="fileInput" type="file" accept="image/*" name="file" ng-model="file.data" style="display:none;" onchange="angular.element(this).scope().saveFile(this);"/>
            </label>
          </form>
          </div>
          <div class="col-md-6 col-sm-6 info-row"><span translate="COMPANY"></span> <input type="text" class="form-control" ng-model="selectedUser.company" ng-disabled="true" ng-change="saveChange()"></div>
          <div class="col-md-6 col-sm-6 info-row"><span translate="FUNCTION"></span> <input type="text" class="form-control"  ng-model="selectedUser.function" ng-change="saveChange()"></div>
          <div class="col-md-6 col-xs-6 info-row" ng-if="!selectedUser.isSubco"><span translate="SOCIETY"></span> <input type="text" class="form-control" ng-model="selectedUser.society"  ng-change="saveChange()"></div>
          <div class="col-md-6 col-xs-6 info-row" ng-if="!selectedUser.isSubco"><span translate="ESTABLISHMENT"></span> <input type="text" class="form-control"  ng-model="selectedUser.establishment" ng-change="saveChange()"></div>
          <div class="col-md-6 col-xs-6 info-row"><span translate="NAME"></span> <input type="text" class="form-control" ng-model="selectedUser.name" ng-change="saveChange()"></div>
          <div class="col-md-6 col-xs-6 info-row"><span translate="FIRST_NAME"></span> <input type="text" class="form-control" ng-model="selectedUser.firstName" ng-change="saveChange()"></div>
          <div class="col-sm-12 info-row"><span translate="EMAIL"></span> <input type="mail" class="form-control" ng-model="selectedUser.mail" ng-change="saveChange()"></div>
          <div class="col-md-6 col-sm-6 info-row"><span translate="FIXED"></span> <input type="text" class="form-control"  ng-model="selectedUser.phone_1" ng-change="saveChange()"></div>
          <div class="col-md-6 col-sm-6 info-row"><span translate="MOBILE"></span> <input type="text" class="form-control"  ng-model="selectedUser.phone_2" ng-change="saveChange()"></div>
          <div class="col-sm-12 info-row">
            <span ng-if="selectedUser.contacts.length > 1" translate="CONTACTS"></span>
            <span ng-if="selectedUser.contacts.length <= 1" translate="CONTACT"></span>

            <div class="panel panel-gray" ng-if="selectedUser.contacts.length > 0">
              <div class="panel-body" style="padding-left:0px;padding-right:0px;padding-top:10px;padding-bottom:10px;">
                <div class="row" style="margin-bottom: 6px;">
                  <div class="dataTables_length col-xs-6">
                    <label ng-if="selectedUser.contacts.length > 16">
                      <select ng-model="pagination.sizeC" size="1"  class="form-control" style="margin-left: 22px;">
                        <option value="16" ng-selected="pagination.sizeC ==16">16</option>
                        <option value="32" ng-selected="pagination.sizeC ==32">32</option>
                        <option value="48" ng-selected="pagination.sizeC ==48">48</option>
                        <option value="90" ng-selected="pagination.sizeC ==90">90</option>
                      </select><span class="span_icon hidden-xs" translate="CONTACTS_PER_PAGE"></span>
                    </label>
                  </div>
                  <div  class="text-right  col-xs-6" >
                    <label style="margin-right: 10px;"><input type="text" class="form-control" ng-model="search.contact" placeholder="{{'SEARCH' | translate}}..."></label>
                  </div>
                </div>
                <div class="col-sm-4"
                     ng-repeat="contact in selectedUser.contacts | startFrom:(pagination.currentC-1)*pagination.sizeC | limitTo:pagination.sizeC | filter:search.contact">

                  <a class="info-tiles" ng-class ="(selectedUser.isSubco)? 'tiles-sky' : 'tiles-success'">
                    <div class="tiles-heading" style="border-bottom-right-radius: 2px;border-bottom-left-radius: 2px;">{{contact}}</div>
                  </a>
                </div>
                <!-- Pagination -->
                <div  class="col-md-12" style="padding:0px;" ng-show="selectedUser.contacts.length > pagination.sizeC">
                  <div class="col-md-6 col-sm-4 center-xs info_pagination"><span translate="CONTACTS"></span> {{(pagination.currentC-1)*pagination.sizeC+1}}–{{((pagination.currentC)*pagination.sizeC < selectedUser.contacts.length) ?(pagination.currentC)*pagination.sizeC :selectedUser.contacts.length}} / {{selectedUser.contacts.length}}</div>
                  <div class="col-md-6 col-sm-8 center-xs text-right">
                    <pagination  class="paginationSky pagination-sm" total-items="selectedUser.contacts.length" items-per-page="pagination.sizeC" ng-model="pagination.currentC" max-size="maxSize" direction-links="false" boundary-links="true" previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}"></pagination>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button data-bb-handler="cancel" type="button" class="btn btn-inverse" ng-click="cancelViewUser()"><i class="fa fa-ban"></i> <span style="margin-left:5px;" translate="CANCEL"></span></button>
        <button data-bb-handler="confirm" type="button" class="btn btn-inverse-alt"  ng-click="showModalDelete = true;viewUser=false;"><i class="fa fa-times"></i> <span class="span_icon" translate="DELETE"></span></button>
      </div>
      </div>
    </div>
  </div>


<!-- Modal box to confirm the deletion of the contact -->
<div class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="showModalDelete">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="showModalDelete = false" style="margin-top: -10px;">×</button>
        <div class="bootbox-body"> <span translate="DELETE_CONTACT"  translate-values='{ name: selectedUser.company}'></span></div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="showModalDelete = false;"><span translate="CANCEL"></span></button>
        <a href="" data-bb-handler="confirm" type="button" class="btn btn-sky"  ng-click="deleteUser()" translate="CONFIRM"></a>
      </div>
    </div>
  </div>
</div>
