<!-- Vertical bar -->
<nav id="page-leftbar" role="navigation">
  <ul class="acc-menu" id="sidebar" >
    <li ng-class="menuClass('users')"><a href="#/users"><i class="fa fa-user"></i><span translate="USER_MANAGEMENT"></span></a></li>
    <li ng-class="(openRights ? 'open' : '') + ' ' + menuClass('rights') + ' ' +'hasChild'">
      <a href="" ng-click="openRights = !openRights" ><i class="fa fa-check-square-o"></i><span translate="RIGHTS_MANAGEMENT"></span></a>
      <ul class="acc-menu" ng-style="{'display':((disp.barre || (petit && openRights))?'block':'')}" ng-show="openRights || !disp.barre">
        <li ng-class="menuClass('custo')"><a href="#/rights/custo"><span translate="PRIME_CONTRACTOR"></span></a></li>
        <li ng-class="menuClass('subco')"><a href="#/rights/subco"><span translate="SUBCONTRACTOR"></span></a></li>
      </ul>
    </li>
    <li ng-class="menuClass('traduction')"><a href="#/traduction" ><i class="fa fa-comments-o"></i><span translate="TRAD_INTERFACE"></span></a></li>
  </ul>
</nav>
