<div id="page-heading">
  <ol class="breadcrumb ">
    <li translate="MANAGEMENT"></li>
    <li translate="RIGHTS_MANAGEMENT">s</li>
    <li class="active" translate="PRIME_CONTRACTOR"></li>
  </ol>
  <h1 translate="PRIMECO_RIGHTS"></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-20">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 translate="ORDERS"></h4>
          <div class="options">
            <a href="" ng-click="setTab('orders')"><i class="fa" ng-class="orders? 'fa-chevron-down' : 'fa-chevron-left'"></i></a>
          </div>
        </div>
        <div class="panel-body" ng-show="orders">
          <form action="" class="form-horizontal row-border" style="border-radius: 0px;">
            <div class="form-group">
              <label class="col-xs-12" style="font-weight:bold;" translate="ORDERS"></label>
              <label class="col-md-1 col-xs-3 control-label" translate="ADD"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.addMO" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="EDIT"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.editMO" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="DELETE"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.deleteMO" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="EXPORT"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.exportMO" ng-change="saveRights()"><toggle-switch></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-12" style="font-weight:bold;" translate="PRODUCTION_INPUTS"></label>
              <label class="col-md-1 col-xs-3 control-label" translate="ADD"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.addEntry" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="EDIT"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.editEntry" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="DELETE"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.deleteEntry" ng-change="saveRights()"><toggle-switch></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-12" style="font-weight:bold;" translate="BATCH_MANAGEMENT_ENTRIES"></label>
              <label class="col-md-1 col-xs-3 control-label" translate="ADD"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.addDataEntry" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="EDIT"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.editDataEntry" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="DELETE"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.deleteDataEntry" ng-change="saveRights()"><toggle-switch></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-12" style="font-weight:bold;" translate="OUTPUTS_MANUFACTURING"></label>
              <label class="col-md-1 col-xs-3 control-label" translate="ADD"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.addOutput" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="EDIT"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.editOutput" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="DELETE"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.deleteOutput" ng-change="saveRights()"><toggle-switch></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-12" style="font-weight:bold;" translate="BATCH_MANAGEMENT_OUTPUTS"></label>
              <label class="col-md-1 col-xs-3 control-label" translate="ADD"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.addDataOutput" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="EDIT"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.editDataOutput" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="DELETE"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.deleteDataOutput" ng-change="saveRights()"><toggle-switch></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-12" style="font-weight:bold;" translate="VALIDATION"></label>
              <label class="col-md-4 col-xs-6 control-label" translate="VALIDATE_PRODUCTION_INPUTS"></label>
              <div class="col-md-2 col-xs-5 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.validationEntry" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-4 col-xs-6 control-label" translate="VALIDATE_OUTPUTS_MANUFACTURING"></label>
              <div class="col-md-2 col-xs-6 info-row">
                <span class="primary"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.validationOutput" ng-change="saveRights()"><toggle-switch></span>
              </div>
            </div>
          </form>
        </div>
      </div>


      <div class="panel panel-orangeBis">
        <div class="panel-heading">
          <h4 translate="STOCK"></h4>
          <div class="options">
            <a href="" ng-click="setTab('stock')"><i class="fa" ng-class="stock? 'fa-chevron-down' : 'fa-chevron-left'"></i></a>
          </div>
        </div>
        <div class="panel-footer" ng-show="stock">
          <form action="" class="form-horizontal row-border" style="border-radius: 0px;">
            <div class="form-group">
              <label class="col-xs-12" style="font-weight:bold;" translate="INVENTORY"></label>
              <label class="col-md-1 col-xs-3 control-label" translate="ADD"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="stock"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.addInventory" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="EDIT"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="stock"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.editInventory" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="DELETE"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="stock"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.deleteInventory" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="EXPORT"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="stock"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.exportInventory" ng-change="saveRights()"><toggle-switch></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-12" style="font-weight:bold;">Données de l'inventaire</label>
              <label class="col-md-1 col-xs-3 control-label" translate="ADD"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="stock"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.addDataInventory" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="EDIT"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="stock"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.editDataInventory" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="DELETE"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="stock"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.deleteDataInventory" ng-change="saveRights()"><toggle-switch></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-12" style="font-weight:bold;"  translate="VALIDATION"></label>
              <label class="col-xs-4 info-row control-label" translate="CLOSE_INVENTORY"></label>
              <div class="col-xs-3 info-row">
                <span class="stock"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.closeInventory" ng-change="saveRights()"><toggle-switch></span>
              </div>
            </div>
          </form>
        </div>
      </div>


      <div class="panel panel-danger">
        <div class="panel-heading">
          <h4 translate="QUALITY"></h4>
          <div class="options">
            <a href="" ng-click="setTab('quality')"><i class="fa" ng-class="quality? 'fa-chevron-down' : 'fa-chevron-left'"></i></a>
          </div>
        </div>
        <div class="panel-footer" ng-show="quality">
          <form action="" class="form-horizontal row-border" style="border-radius: 0px;">
            <div class="form-group">
              <label class="col-xs-12" style="font-weight:bold;" translate="QUALITY"></label>
              <label class="col-md-1 col-xs-3 control-label" translate="ADD"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="danger"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.addDeviation" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="EDIT"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="danger"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.editDeviation" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="DELETE"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="danger"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.deleteDeviation" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="EXPORT"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="danger"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.exportDeviation" ng-change="saveRights()"><toggle-switch></span>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!--<div class="panel panel-success">
        <div class="panel-heading">
          <h4 translate="RECEPTION"></h4>
          <div class="options">
            <a href="" ng-click="setTab('reception')"><i class="fa" ng-class="reception? 'fa-chevron-down' : 'fa-chevron-left'"></i></a>
          </div>
        </div>
        <div class="panel-footer" ng-show="reception">
          <form action="" class="form-horizontal row-border" style="border-radius: 0px;">
            <div class="form-group">
              <label class="col-xs-12" style="font-weight:bold;" translate="RECEPTION"></label>
              <label class="col-md-1 col-xs-3 control-label" translate="ADD"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="success"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.addReception" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="EDIT"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="success"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.editReception" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="DELETE"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="success"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.deleteReception" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="EXPORT"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="success"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.exportReception" ng-change="saveRights()"><toggle-switch></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-12" style="font-weight:bold;" translate="TABLE_ONERECEP_TITLE"></label>
              <label class="col-md-1 col-xs-3 control-label" translate="ADD"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="success"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.addDataReception" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="EDIT"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="success"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.editDataReception" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="DELETE"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="success"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.deleteDataReception" ng-change="saveRights()"><toggle-switch></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-12" style="font-weight:bold;"  translate="VALIDATION"></label>
              <label class="col-xs-4 info-row control-label" translate="VALIDATE_RECEPTION"></label>
              <div class="col-xs-3 info-row">
                <span class="success"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.validationReception" ng-change="saveRights()"><toggle-switch></span>
              </div>
            </div>
          </form>
        </div>
      </div> -->

      <div class="panel panel-midnightblue">
        <div class="panel-heading">
          <h4 translate="CALENDAR"></h4>
          <div class="options">
            <a href="" ng-click="setTab('calendar')"><i class="fa" ng-class="calendar? 'fa-chevron-down' : 'fa-chevron-left'"></i></a>
          </div>
        </div>
        <div class="panel-footer" ng-show="calendar">
          <form action="" class="form-horizontal row-border" style="border-radius: 0px;">
            <div class="form-group">
              <label class="col-xs-12" style="font-weight:bold;" translate="EVENTS"></label>
              <label class="col-md-1 col-xs-3 control-label" translate="ADD"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="midnightblue"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.addEvent" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="EDIT"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="midnightblue"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.editEvent" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="DELETE"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="midnightblue"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.deleteEvent" ng-change="saveRights()"><toggle-switch></span>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="panel panel-green">
        <div class="panel-heading">
          <h4 translate="ACCOUNT"></h4>
          <div class="options">
            <a href="" ng-click="setTab('account')"><i class="fa" ng-class="account? 'fa-chevron-down' : 'fa-chevron-left'"></i></a>
          </div>
        </div>
        <div class="panel-footer" ng-show="account">
          <form action="" class="form-horizontal row-border" style="border-radius: 0px;">
            <div class="form-group">
              <label class="col-xs-12" style="font-weight:bold;" translate="CONTACTS"></label>
              <label class="col-md-1 col-xs-3 control-label" translate="ADD"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="green"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.addContact" ng-change="saveRights()"><toggle-switch></span>
              </div>
              <label class="col-md-1 col-xs-3 control-label" translate="DELETE"></label>
              <div class="col-md-2 col-xs-3 info-row">
                <span class="green"><toggle-switch off-label="{{'NO' | translate}}" on-label="{{'YES' | translate}}" ng-model="rights.custo.deleteContact" ng-change="saveRights()"><toggle-switch></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
