<div class="row">
  <div id="btnLanguage" class="col-lg-12 col-md-12 col-20" style="text-align: right;">
    <a href="" class="btn" ng-class="language == 'fr' ? 'btn-inverse' : 'btn-default'" ng_click="switchLanguage('fr');language='fr'">Français<img style="margin-left:10px;" src="../../images/flag/fr.png"></a>
    <a href="" class="btn" ng-class="language == 'en-gb' ? 'btn-inverse' : 'btn-default'" ng_click="switchLanguage('en-gb');language='en-gb'">English<img style="margin-left:10px;" src="../../images/flag/gb.png"></a>
    <!--<a href="" class="btn" ng-class="language == 'de' ? 'btn-inverse' : 'btn-default'" ng_click="switchLanguage('de');language='de'">Deustch<img style="margin-left:10px;" src="../../images/flag/de.png"></a>-->
  </div>
</div>
<!--<button class="btn btn-sky" ng-click="down()">Télécharger</button>-->
<div class="verticalcenter">
  <a href="http://www.vif.fr"><img src="../../images/contacts/logo.png" alt="Logo" class="brand"></a>
  <div class="panel panel-orangeBis">
    <div class="panel-body">
      <h4 class="text-center" style="margin-bottom: 25px;" translate="LOGINTOSTART"></h4>

      <form action="#" name="connexionForm" class="form-horizontal" style="margin-bottom: 0px !important;" novalidate>
        <!-- USERNAME -->
        <div class="form-group">
          <div class="col-md-12" style="padding:0px 10px 0px 10px!important;">
            <div class="input-group"  ng-class="(connexionForm.name.$invalid || !validUser) && oneClic ? 'has-error':''">
              <span class="input-group-addon" style="min-width: 44px;"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" name="name" ng-model="connexion.id" placeholder="{{'USERNAME' | translate}}"  required>
            </div>
          </div>
        </div>

        <!-- PASSWORD -->
        <div class="form-group">
          <div class="col-md-12" style="padding:0px 10px 0px 10px!important;">
            <div class="input-group" ng-class="(connexionForm.password.$invalid || !validPassword) && oneClic ? 'has-error':''" >
              <span class="input-group-addon" style="min-width: 44px;"><i class="fa fa-lock"></i></span>
              <input type="password" class="form-control" name="password" ng-model="connexion.mdp" placeholder="{{'PASSWORD' | translate}}" ng-minlength="3" ng-maxlength="20" required>
            </div>
          </div>
        </div>

        <div class="clearfix">
          <div class="pull-right"><label><input type="checkbox"  style="cursor:pointer;" checked=""><span class="span_icon" translate="KEEP_LOG"></span></label></div>
        </div>
      </form>

    </div>
    <div class="panel-footer">
      <a href="#/password" class="pull-left btn btn-link orangeTer" style="padding-left:0" translate="PASSWORD_FORGET"></a>
      <div class="pull-right">
        <a href="" ng-click="reset()" class="btn btn-default" translate="CANCEL"></a>
        <a href="" class="btn btn-orangeTer" ng-click="submitForm(connexionForm.$valid)" translate="LOGIN"></a>
      </div>
    </div>
  </div>
</div>
