<div id="page-heading">

  <!-- Breadcrumb -->
  <ol class="breadcrumb ">
    <li><a href="#/" class="successTer" translate="DASHBOARD"></a></li>
    <li class="active" translate="RECEPTION"></li>
  </ol>

  <!-- Page title -->
  <h1 translate="RECEPTION"></h1>

  <!-- Buttons to export data -->
  <div class="options text-rigth-xs text-rigth-sm">
    <div class="btn-toolbar">
      <div class="btn-group bootstro"
           ng-if="!user.isSubco && rights.custo.addReception || user.isSubco && rights.subco.addReception"
           data-bootstro-placement="bottom"
           data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
           data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
           data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
           data-bootstro-title="{{'ADD_RECEP_TITLE' | translate}}"
           data-bootstro-content="{{'ADD_RECEP_TEXT' | translate}}">
        <a href="" class="btn btn-success " ng-click="viewAddRec()"><i class="fa fa-plus"></i><span translate="ADD">  </span></a>
      </div>
      <div class="btn-group hidden-xs bootstro" style="margin-left:5px;" ng-if="!user.isSubco && rights.custo.exportReception || user.isSubco && rights.subco.exportReception"
           data-bootstro-placement="bottom"
           data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
           data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
           data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
           data-bootstro-title="{{'EXPORT_TITLE' | translate}}"
           data-bootstro-content="{{'EXPORT_TEXT' | translate}}">
        <a href="" ng-click="modalSuccessExport(true)" class="btn btn-default" data-toggle="dropdown"><i class="fa fa-cloud-download"></i><span class="hidden-xs span_icon" data-translate="EXPORT"></span></a>
      </div>
    </div>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-20">
      <div class="panel panel-success">
        <div class="panel-body collapse in" style="display: block;">
          <div id="example_wrapper" class="dataTables_wrapper" role="grid">
            <div id="receptionMana" class="row">

              <!-- Buttons for add or visualize a differences -->
              <div class="col-md-2 col-sm-3 col-xs-4">
                <!-- Visualize one production order ng-click="openView()" -->
                <a href="#/reception/{{selectedReception.key}}" ng-show="filteredReception.length > 0" class="btn btn-inverse-alt bootstro"  ng-disabled="selectedReception==null" style="margin-bottom:10px;"
                   data-bootstro-placement="right"
                   data-bootstro-width="300px"
                   data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                   data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                   data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                   data-bootstro-title="{{'VISUALIZE_RECEP_TITLE' | translate}}"
                   data-bootstro-content="{{'VISUALIZE_RECEP_TEXT' | translate}}">
                  <i class="fa fa-eye"></i><span class="span_icon" translate="DISPLAY"></span></a>
              </div>
              <!-- List which allow to set the number of data on one page -->
              <div class="col-md-6 col-sm-5 col-xs-4">
                <div id="example_length" class="dataTables_length" ng-show="filteredReception.length > 10">
                  <label>
                    <select ng-model="pagination.size" size="1" aria-controls="example" class="form-control">
                      <option value="10" ng-selected="pagination.size ==10">10</option>
                      <option value="25" ng-selected="pagination.size ==25">25</option>
                      <option value="50" ng-selected="pagination.size ==50">50</option>
                      <option value="100" ng-selected="pagination.size ==100">100</option>
                    </select><span class="span_icon hidden-xs" translate="PO_PER_PAGE"></span>
                  </label>
                </div>
              </div>

              <div class="col-md-4 text-right col-sm-4 col-xs-4">
                <div class="dataTables_filter" id="example_filter">
                  <label>
                    <input type="text" aria-controls="example" class="form-control bootstro" ng-model="search.receps" placeholder="{{'SEARCH' | translate}}..."
                           data-bootstro-placement="left"
                           data-bootstro-width="300px"
                           data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                           data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                           data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                           data-bootstro-title="{{'SEARCH_TITLE' | translate}}"
                           data-bootstro-content="{{'SEARCH_TEXT' | translate}}">
                  </label>
                </div>
              </div>
            </div>

            <!-- Datepickers -->
            <div class="panel-footer" style="margin-bottom:20px;">
              <div id="receptionDate" class="row">
                <div class="col-md-3"></div>

                <div class="col-md-6 bootstro"
                     data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                     data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                     data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                     data-bootstro-title="{{'RANGE_TITLE' | translate}}"
                     data-bootstro-content="{{'RANGE_TEXT' | translate}}">
                  <div class="input-daterange input-group">
                    <span class="input-group-addon from_to" translate="FROM"></span>
                    <input type="text" ng-model="date.begin" class="input-small form-control" custom-class="'success'" datepicker-append-to-body="true" show-button-bar="false" datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedBeginRecep" ng-required="true"/>
                    <span class="input-group-addon" style="border-left: 0;cursor:pointer;" ng-click="openBeginRecep($event)"><a class="success"  href=""><i class="fa fa-calendar"></i></a></span>

                    <span class="input-group-addon from_to" translate="TO"></span>
                    <input type="text" ng-model="date.end" class="input-small form-control" custom-class="'success'" datepicker-append-to-body="true" show-button-bar="false" datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedEndRecep" ng-required="true"/>
                    <span class="input-group-addon" style="cursor:pointer;" ng-click="openEndRecep($event)"><a class="success"  href=""><i class="fa fa-calendar"></i></a></span>
                  </div>
                </div>
              </div>
            </div>

            <!--  Alert message when there are no data -->
            <div class="alert alert-dismissable alert-success" ng-show="filteredReception.length == 0 && search.receps != '' && search.receps !=null" translate="NO_RECEPTION_SEARCH" translate-values='{ search: search.receps}'></div>
            <div class="alert alert-dismissable alert-success" ng-show="filteredReception.length == 0 && (search.receps == '' || search.receps == null)" translate="NO_RECEPTION"></div>

            <!-- Differences table -->
            <div id="receptionTable" class="table-responsive bootstro" ng-show="filteredReception.length > 0"
                 data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                 data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                 data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                 data-bootstro-title="{{'RECEP_TABLE_TITLE' | translate}}"
                 data-bootstro-content="{{'RECEP_TABLE_TEXT' | translate}}">
              <table class="table table-striped table-bordered datatables dataTable">
                <thead>
                <tr role="row">
                  <th ng-show="user.contacts.length > 1" class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 202px;">
                    <a href="" class="success" ng-click="sortTypeRecep = 'subco'; sortReverseRecep = !sortReverseRecep">
                      <span ng-if="!user.isSubco" translate="SUBCONTRACTOR"></span>
                      <span ng-if="user.isSubco" translate="CUSTOMER"></span>
                      <span ng-show="sortTypeRecep == 'subco' && !sortReverseRecep" class="fa fa-caret-down"></span>
                      <span ng-show="sortTypeRecep == 'subco' && sortReverseRecep" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 202px;">
                    <a href="" class="success" ng-click="sortTypeRecep = 'date'; sortReverseRecep = !sortReverseRecep">
                      <span translate="DATE"></span>
                      <span ng-show="sortTypeRecep == 'date' && !sortReverseRecep" class="fa fa-caret-down"></span>
                      <span ng-show="sortTypeRecep == 'date' && sortReverseRecep" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <!--<th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 102px;">
                    <a href="" class="success"  ng-click="sortTypeRecep = 'number'; sortReverseRecep = !sortReverseRecep">
                      <span translate="NUMBER"></span>
                      <span ng-show="sortTypeRecep == 'number' && !sortReverseRecep" class="fa fa-caret-down"></span>
                      <span ng-show="sortTypeRecep == 'number' && sortReverseRecep" class="fa fa-caret-up"></span>
                    </a>
                  </th>-->
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 102px;">
                    <a href="" class="success"  ng-click="sortTypeRecep = 'command'; sortReverseRecep = !sortReverseRecep">
                      <span translate="COMMAND"></span>
                      <span ng-show="sortTypeRecep == 'command' && !sortReverseRecep" class="fa fa-caret-down"></span>
                      <span ng-show="sortTypeRecep == 'command' && sortReverseRecep" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 102px;">
                    <a href="" class="success"  ng-click="sortTypeRecep = 'deliveryBy'; sortReverseRecep = !sortReverseRecep">
                      <span translate="DELIVERY_BY"></span>
                      <span ng-show="sortTypeRecep == 'deliveryBy' && !sortReverseRecep" class="fa fa-caret-down"></span>
                      <span ng-show="sortTypeRecep == 'deliveryBy' && sortReverseRecep" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 202px;">
                    <a href="" class="success" ng-click="sortTypeRecep = 'article'; sortReverseRecep = !sortReverseRecep">
                      <span translate="ARTICLE"></span>
                      <span ng-show="sortTypeRecep == 'article' && !sortReverseRecep" class="fa fa-caret-down"></span>
                      <span ng-show="sortTypeRecep == 'article' && sortReverseRecep" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 302px;">
                    <a href="" class="success" ng-click="sortTypeRecep = 'libelle'; sortReverseRecep = !sortReverseRecep">
                      <span translate="LABEL"></span>
                      <span ng-show="sortTypeRecep == 'libelle' && !sortReverseRecep" class="fa fa-caret-down"></span>
                      <span ng-show="sortTypeRecep == 'libelle' && sortReverseRecep" class="fa fa-caret-up"></span>
                    </a>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0" rowspan="1" colspan="1" style="width: 102px;">
                    <a href="" class="success"  ng-click="sortTypeRecep = 'quantite'; sortReverseRecep = !sortReverseRecep">
                      <span translate="QUANTITY"></span>
                      <span ng-show="sortTypeRecep == 'quantite' && !sortReverseRecep" class="fa fa-caret-down"></span>
                      <span ng-show="sortTypeRecep == 'quantite' && sortReverseRecep" class="fa fa-caret-up"></span>
                    </a>
                  </th>

                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" >
                <tr class="selectableSuccess" ng-repeat="reception in filteredReception = (receptions | orderBy:sortTypeRecep:sortReverseRecep | filter: search.receps | filter:fil.subcoFilter | filter:fil.doFilter  | isBetween:date.begin:date.end) | startFrom:(pagination.current-1)*pagination.size | limitTo:pagination.size" style="cursor: pointer;"  ng-class="{'selectedSuccess':reception == selectedReception}" ng-click="setSelectedReception(reception)">
                  <td ng-show="!user.isSubco &&user.contacts.length > 1">{{reception.subco}}</td>
                  <td  ng-show="user.isSubco && user.contacts.length > 1">{{reception.iddo}}</td>

                  <td>{{reception.date | date:'shortDate'}}</td>
                  <!--<td>{{reception.number}}</td>-->
                  <td>{{reception.command}}</td>
                  <td>{{reception.deliveryBy}}</td>
                  <td>{{reception.article}}</td>
                  <td>{{reception.wording}}</td>
                  <td>{{reception.quantity}} {{reception.unit}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- Pagination -->
            <div id="pageReception" class="row" ng-show="filteredReception.length > pagination.size">
              <div class="col-md-6 col-sm-4 center-xs info_pagination" style="padding:15px;"><span translate="RECEPTIONS"></span> {{(pagination.current-1)*pagination.size+1}}–{{((pagination.current)*pagination.size < filteredReception.length) ?(pagination.current)*pagination.size :filteredReception.length}} / {{filteredReception.length}}</div>
              <div class="col-md-6 col-sm-8 center-xs text-right">
                <pagination  class="paginationSuccess" total-items="filteredReception.length" items-per-page="pagination.size" ng-model="pagination.current" max-size="maxSize" boundary-links="true"
                             previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}"></pagination>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal box to view or add a new reception-->
<div class="bootbox modal fade bootbox-prompt in" ng-show="showRec" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="closeAddRec()" class="bootbox-close-button close">×</button>
        <h4 class="modal-title"  translate="NEW_RECEPTION_BOX"></h4>
      </div>
      <div class="modal-body">
        <form class="bootbox-form" name="viewForm" novalidate>
          <div class="row">
            <div class="col-sm-8 info-row" ng-if="!user.isSubco" ng-class="(validAddBtn && (selectedReception.subco == '' || selectedReception.subco == null))? 'has-error':''">
              <span class="control-label" translate="SUBCONTRACTOR"></span>
              <select name="subco" size="1" class="form-control"  ng-model="selectedReception.subco">
                <option value="{{contact}}" ng-repeat="contact in user.contacts | orderBy : 'company'" ng-selected="selectedReception.subco == contact">{{contact}}</option>
              </select>
            </div>
            <div class="col-sm-8 info-row" ng-if="user.isSubco" ng-class="(validAddBtn && viewForm.iddo.$invalid)? 'has-error':''">
              <span class="control-label" translate="CUSTOMER"></span>
              <select name="iddo" size="1" class="form-control"  ng-model="selectedReception.iddo" required>
                <option value="{{contact}}" ng-repeat="contact in user.contacts | orderBy : 'company'" ng-selected="selectedReception.iddo == contact || (selectedReception.iddo == null && fil.doFilter == contact)">{{contact}}</option>
              </select>
            </div>
            <div class="col-sm-4 info-row" ng-class="(validAddBtn && viewForm.date.$invalid)? 'has-error':''">
              <span class="control-label" translate="DATE"></span>
              <div class="input-daterange input-group">
                <input  class="input-small form-control" name="date" datepicker-append-to-body="false" custom-class="'success'"
                       show-button-bar="false" datepicker-popup="shortDate" datepicker-options="dateOptions1" is-open="openedAdd" ng-model="date.add" type="text" required>
                <span class="input-group-addon control-label" style="border-left: 0;cursor:pointer;" ng-click="openAdd($event)"><a class="success" href=""><i class="fa fa-calendar"></i></a></span>
              </div>
            </div>
            <div class="col-xs-3 info-row" ng-class="(validAddBtn && viewForm.command.$invalid)? 'has-error':''">
              <span class="control-label" translate="COMMAND"></span>
              <input name="command"  class="bootbox-input bootbox-input-text form-control" ng-model="selectedReception.command" type="text" required>
            </div>
            <div class="col-xs-9 info-row" ng-class="(validAddBtn && viewForm.delivery.$invalid)? 'has-error':''">
              <span class="control-label" translate="DELIVERY_BY"></span>
              <input name="delivery"  class="bootbox-input bootbox-input-text form-control" ng-model="selectedReception.deliveryBy" type="text" required>
            </div>
            <div class="col-sm-4 info-row" ng-class="(validAddBtn && viewForm.article.$invalid)? 'has-error':''">
              <span class="control-label" translate="ARTICLE"></span>
              <input name="article" class="bootbox-input bootbox-input-text form-control" ng-model="selectedReception.article" type="text" required>
            </div>
            <div class="col-sm-8 info-row" ng-class="(validAddBtn && viewForm.wording.$invalid)? 'has-error':''">
              <span class="control-label" translate="LABEL"></span>
              <input name="wording"  class="bootbox-input bootbox-input-text form-control" ng-model="selectedReception.wording" type="text" required>
            </div>
            <div class="col-sm-4 col-xs-8 info-row" ng-class="(validAddBtn && viewForm.quantity.$invalid)? 'has-error':''">
              <span class="control-label" translate="QUANTITY"></span>
              <input name="quantity" type="number" class="bootbox-input bootbox-input-text form-control" step="any" min="0.001"
                     ng-model="selectedReception.quantity"
                     required>
            </div>
            <div class="col-sm-2 col-xs-4 info-row" ng-class="(validAddBtn && viewForm.unit.$invalid)? 'has-error':''">
              <span class="control-label" translate="UNIT"></span>
              <select name="unit" size="1" class="form-control"  ng-model="selectedReception.unit" ng-options="unit for unit in units" required></select>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div ng-show="addAction">
          <a class="btn btn-inverse" ng-click="closeAddRec();"><i class="fa fa-ban"></i><span class="span_icon" translate="CANCEL"></span></a>
          <a class="btn btn-success" ng-click="addRec(viewForm.$valid)"><i class="fa fa-plus"></i><span class="span_icon" translate="ADD"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="bootbox modal fade bootbox-alert in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="successExport">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="modalSuccessExport(false)" style="margin-top: -10px;">×</button>
        <!--<div class="bootbox-body" translate="SUCCESS_EXPORT"></div>-->
        Non implémenté.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="modalSuccessExport(false)" translate="OK"></button>
      </div>
    </div>
  </div>
</div>
