<div id="page-heading">
    <ol class="breadcrumb ">
      <li><a href="#/" class="midnightblue" translate="DASHBOARD"></a></li>
      <li class="active" translate="CALENDAR"></li>
    </ol>
    <h1 translate="CALENDAR"></h1>
    <div class="options text-rigth-xs text-rigth-sm">
      <div ng-if="!user.isSubco && rights.custo.addEvent || user.isSubco && rights.subco.addEvent"
           class="btn-group bootstro"
           data-bootstro-placement="bottom"
           data-bootstro-placement="bottom"
           data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
           data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
           data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
           data-bootstro-title="{{'NEW_EVENT_TITLE' | translate}}"
           data-bootstro-content="{{'NEW_EVENT_TEXT' | translate}}">
        <a href="" class="btn btn-midnightblue" data-toggle="dropdown" ng-click="openNewEvent(null)"><i class="fa  fa-plus"></i><span class="span_icon" translate="CREATE_EVENT"></span></a>
      </div>
      <div class="btn-group">
        <a href="#/settings" class="btn btn-default"><i class="fa fa-cog"></i></a>
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-20">
      <div class="panel panel-midnightblue">
        <div class="panel-body">
        <h2 class="text-center ng-binding"><span ng-show="calendarView=='week'" translate="WEEK"></span> {{calendar.title}}</h2>

          <div id="calendarMana" class="row">
            <div class="col-md-6 text-center">
              <div class="btn-group bootstro"
                   data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                   data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                   data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                   data-bootstro-title="{{'CHANGE_CAL_TITLE' | translate}}"
                   data-bootstro-content="{{'CHANGE_CAL_TEXT' | translate}}">
                <button class="btn btn-midnightblue" mwl-date-modifier="" date="calendar.day" decrement="calendar.view"><span translate="PREVIOUS"></span></button>
                <button class="btn btn-midnightblue-alt" mwl-date-modifier="" date="calendar.day" set-to-today=""><span translate="TODAY"></span></button>
                <button class="btn btn-midnightblue" mwl-date-modifier="" date="calendar.day" increment="calendar.view"><span translate="NEXT"></span></button>
              </div>
            </div>

            <br class="visible-xs visible-sm">

            <div class="col-md-6 text-center">
              <div class="btn-group bootstro"
                   data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                   data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                   data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                   data-bootstro-title="{{'CAL_VIEW_TITLE' | translate}}"
                   data-bootstro-content="{{'CAL_VIEW_TEXT' | translate}}">
                <label class="btn btn-midnightblue" ng-model="calendar.view" btn-radio="'year'"><span translate="YEAR"></span></label>
                <label class="btn btn-midnightblue" ng-model="calendar.view" btn-radio="'month'"><span translate="MONTH"></span></label>
                <label class="btn btn-midnightblue" ng-model="calendar.view" btn-radio="'week'"><span  translate="WEEK"></span></label>
                <label class="btn btn-midnightblue" ng-model="calendar.view" btn-radio="'day'"><span  translate="DAY"></span></label>
              </div>
            </div>
          </div>
          <br>

          <div class="panel-footer bootstro" id="filtreEvent" style=margin-bottom:20px;"
               data-bootstro-placement="bottom"
               data-bootstro-width="300px"
               data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
               data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
               data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
               data-bootstro-title="{{'CAL_FILTER_TITLE' | translate}}"
               data-bootstro-content="{{'CAL_FILTER_TEXT' | translate}}">
            <div id="ordersDate" class="row">
              <div class="col-xs-12 text-center ">
                <a href="" class="badge badge-danger rondBig" style="margin-right:10px;border:3px solid #4d4d4d" ng-click="filter.danger = !filter.danger; reloadCal();">
                  <i class="fa rondCheckBigBlack" ng-class="(filter.danger)? 'fa-check':'fa-ban'"></i>
                </a>
                <a href="" class="badge badge-orange rondBig" style="margin-right:10px;border:3px solid #4d4d4d" ng-click="filter.orange = !filter.orange; reloadCal();">
                  <i class="fa rondCheckBigBlack" ng-class="(filter.orange)? 'fa-check ':'fa-ban'"></i>
                </a>
                <a href="" class="badge badge-success rondBig" style="margin-right:10px;border:3px solid #4d4d4d" ng-click="filter.green = !filter.green; reloadCal();">
                  <i class="fa rondCheckBigBlack" ng-class="(filter.green)? 'fa-check':'fa-ban'"></i>
                </a>
                <a href="" class="badge badge-primary rondBig" style="margin-right:10px;border:3px solid #4d4d4d" ng-click="filter.primary = !filter.primary; reloadCal();">
                  <i class="fa rondCheckBigBlack" ng-class="(filter.primary)? 'fa-check':'fa-ban'"></i>
                </a>
                <a href="" class="badge badge-warning rondBig" style="margin-right:10px;border:3px solid #4d4d4d" ng-click="filter.yellow = !filter.yellow; reloadCal();">
                  <i class="fa rondCheckBigBlack" ng-class="(filter.yellow)? 'fa-check':'fa-ban'"></i>
                </a>
                <a href="" class="badge badge-gray rondBig" style="margin-right:10px;border:3px solid #4d4d4d" ng-click="filter.gray = !filter.gray; reloadCal();">
                  <i class="fa rondCheckBigBlack" ng-class="(filter.gray)? 'fa-check':'fa-ban'"></i>
                </a>
                <a href="" class="badge badge-info rondBig" style="margin-right:10px;border:3px solid #4d4d4d" ng-click="filter.blue = !filter.blue; reloadCal();">
                  <i class="fa rondCheckBigBlack" ng-class="(filter.blue)? 'fa-check':'fa-ban'"></i>
                </a>
              </div>
            </div>
          </div>

          <div id="calendar" class="bootstro"
               data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
               data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
               data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
               data-bootstro-title="{{'CAL_TITLE' | translate}}"
               data-bootstro-content="{{'CAL_TEXT' | translate}}">
          <mwl-calendar
            events="events"
            view="calendar.view"
            view-title="calendar.title"
            current-day="calendar.day"
            on-event-click="eventClicked(calendarEvent)"
            on-event-drop="eventDropped(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            edit-event-html="'<i class=\'fa fa-pencil\'></i>'"
            delete-event-html="'<i class=\'fa fa-times\'></i>'"
            on-edit-event-click="openNewEvent(calendarEvent)"
            on-delete-event-click="eventDeleted(calendarEvent)"
            day-view-start="08:00"
            day-view-end="18:00"
            day-view-split="30"
            auto-open="false">
          </div>

          </div>
    </div>
    </div>
  </div>
</div>

<!-- Modal box to import manually a new production orders -->
<div class="bootbox modal fade bootbox-prompt in" ng-show="addEvent">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="addEvent = false" class="bootbox-close-button close">×</button>
        <h4 class="modal-title" translate="NEW_EVENT" ng-if="!editModal"></h4>
        <h4 class="modal-title" translate="EDIT_EVENT" ng-if="editModal"></h4>
      </div>
      <div class="modal-body">
         <form class="bootbox-form" name="addForm" novalidate>
           <div class="row">
              <div class="col-md-12 info-row" style="margin-bottom:10px;" ng-class="(addForm.wording.$invalid && validAddBtn)? 'has-error':''">
                <span class="control-label" translate="LABEL"></span>
                <input name="wording"  class="bootbox-input bootbox-input-text form-control" ng-model="newEvent.title" type="text" required>
              </div>
              <div class="col-md-6 info-row" style="margin-bottom:10px;" ng-class="(addForm.date.$invalid && validAddBtn)? 'has-error':''">
                <span class="control-label" translate="BEGIN_DATE"></span>
                <div class="input-daterange input-group">
                  <input class="input-small form-control"   name="date" datepicker-append-to-body="false" show-button-bar="false" datepicker-popup="shortDate"
                         datepicker-options="dateOptions1"  custom-class="'midnightblue'"  is-open="openedBegin" ng-model="newEvent.beginDate" type="text" required>
                  <span class="input-group-addon control-label" style="border-left: 0;cursor:pointer;" ng-click="openBegin($event)"><a class="midnightblue" href=""><i class="fa fa-calendar"></i></a></span>
                </div>
              </div>

              <div class="col-md-6" style="margin-bottom:10px;" ng-class="(addForm.priority.$invalid && validAddBtn)? 'has-error':''">
                <span class="control-label" translate="BEGIN_HOUR"></span>
                <div class="input-daterange input-group">
                  <input class="input-small form-control" value="{{newEvent.beginDate| date:'shortTime'}}"  type="text" required>
                  <span class="input-group-addon control-label dropdown-toggle " data-toggle="dropdown" style="border-left: 0;cursor:pointer;" aria-expanded="true"
                        ng-click="openBeginHour = !openBeginHour;openEndHour = false">
                    <a class="midnightblue" href=""><i class="fa  fa-clock-o"></i></a></span>
                  <ul click-anywhere-but-here="openBeginHour = false" class="dropdown-menu" style="padding: 8px;" ng-style="{'display':(openBeginHour)? 'block' : 'none'}">
                    <timepicker ng-model="newEvent.beginDate" style="text-align: center;"  hour-step="1" minute-step="10" show-meridian="true"></timepicker>
                  </ul>
                </div>
              </div>
             <div class="col-md-6 info-row" style="margin-bottom:10px;" ng-class="(addForm.date.$invalid && validAddBtn)? 'has-error':''">
               <span class="control-label" translate="END_DATE"></span>
               <div class="input-daterange input-group">
                 <input class="input-small form-control"   name="date" datepicker-append-to-body="false"
                        show-button-bar="false" datepicker-popup="shortDate" datepicker-options="dateOptions1"
                        is-open="openedEnd" ng-model="newEvent.endDate" type="text" required>
                 <span class="input-group-addon control-label" style="border-left: 0;cursor:pointer;" ng-click="openEnd($event)"><a class="midnightblue" href=""><i class="fa fa-calendar"></i></a></span>
               </div>
             </div>
             <div class="col-md-6" style="margin-bottom:10px;" ng-class="(addForm.priority.$invalid && validAddBtn)? 'has-error':''">
               <span class="control-label" translate="END_HOUR"></span>
               <div class="input-daterange input-group">
                 <input class="input-small form-control"  value="{{newEvent.endDate| date:'shortTime'}}" type="text" required>
                 <span class="input-group-addon control-label dropdown-toggle" data-toggle="dropdown" style="border-left: 0;cursor:pointer;"
                       ng-click="openEndHour = !openEndHour; openBeginHour=false;">
                   <a class="midnightblue" href=""><i class="fa  fa-clock-o"></i></a>
                 </span>
                 <ul click-anywhere-but-here="openEndHour = false;" class="dropdown-menu" style="padding: 8px;" ng-style="{'display':(openEndHour)? 'block' : 'none'}">
                   <timepicker ng-model="newEvent.endDate" style="text-align: center;" hour-step="1" minute-step="10" show-meridian="true"></timepicker>
                 </ul>
               </div>
             </div>
              <div class="col-md-12 info-row" style="margin-bottom:10px;" ng-show="!user.isSubco">
                <span class="control-label" translate="SUBCONTRACTOR"></span>
                <select name="subco" size="1" class="form-control"  ng-model="newEvent.subco">
                  <option value="" ng-selected="newEvent.subco == ''" translate="NO_SUBCO"></option>
                  <option value="{{contact}}" ng-repeat="contact in user.contacts | orderBy : 'company'" ng-selected="newEvent.subco == contact">{{contact}}</option>
                </select>
              </div>
             <div class="col-md-12 info-row" style="margin-bottom:10px;" ng-show="user.isSubco">
               <span class="control-label" translate="SHARE"></span>
               <select name="subco" size="1" class="form-control"  ng-model="newEvent.subco">
                 <option value="" ng-selected="newEvent.subco == ''" translate="PERSONNAL"></option>
                 <option value="{{contact}}" ng-repeat="contact in user.contacts | orderBy : 'company'" ng-selected="newEvent.subco == contact">{{contact}}</option>
               </select>
             </div>
             <div class="col-md-12" style="margin-bottom:10px;">
               <span class="control-label" translate="COLOR_EVENT"></span>
             </div>
              <div class="col-md-12 info-row text-center" style="margin-bottom:10px;">
                <label class="radio-inline" style="margin-top:5px;">
                <span class="badge badge-success" style="border-radius: 15px;width:30px;height:30px;"
                      ng-style="{'border':((newEvent.color=='green')? '2px solid #4d4d4d' : '0px')}"
                      ng-click="setColor('green')">
                 <i ng-show="newEvent.color=='green'" class="fa fa-check" style="margin-top: 4px;color:#4d4d4d;"></i>
                </span>
              </label>
              <label class="radio-inline" style="margin-top:5px;">
                <span class="badge badge-info"  style=" border-radius: 15px;width:30px;height:30px;vertical-align: middle;"
                      ng-style="{'border':((newEvent.color=='blue')? '2px solid #4d4d4d' : '0px')}" ng-click="setColor('blue')">
                  <i ng-show="newEvent.color=='blue'" class="fa fa-check" style="margin-top: 4px;color:#4d4d4d;"></i>
                </span>
              </label>
              <label class="radio-inline" style="margin-top:5px;">
                <span class="badge badge-danger"  style=" border-radius: 15px;width:30px;height:30px;" ng-style="{'border':((newEvent.color=='danger')? '2px solid #4d4d4d' : '0px')}" ng-click="setColor('danger')">
                 <i ng-show="newEvent.color=='danger'" class="fa fa-check" style="margin-top: 4px;color:#4d4d4d;"></i>
                </span>
              </label>
              <label class="radio-inline" style="margin-top:5px;">
                <span class="badge badge-warning"  style=" border-radius: 15px;width:30px;height:30px;" ng-style="{'border':((newEvent.color=='yellow')? '2px solid #4d4d4d' : '0px')}" ng-click="setColor('yellow')">
                 <i ng-show="newEvent.color=='yellow'" class="fa fa-check" style="margin-top: 4px;color:#4d4d4d;"></i></span>
              </label>
              <label class="radio-inline" style="margin-top:5px;">
                <span class="badge badge-gray"  style=" border-radius: 15px;width:30px;height:30px;" ng-style="{'border':((newEvent.color=='gray')? '2px solid #4d4d4d' : '0px')}" ng-click="setColor('gray')">
                 <i ng-show="newEvent.color=='gray'" class="fa fa-check" style="margin-top: 4px;color:#4d4d4d;"></i></span>
              </label>
              <label class="radio-inline" style="margin-top:5px;">
              <span class="badge badge-primary"  style=" border-radius: 15px;width:30px;height:30px;" ng-style="{'border':((newEvent.color=='primary')? '2px solid #4d4d4d' : '0px')}" ng-click="setColor('primary')">
               <i ng-show="newEvent.color=='primary'" class="fa fa-check" style="margin-top: 4px;color:#4d4d4d;"></i></span>
              </label>
              <label class="radio-inline" style="margin-top:5px;">
              <span class="badge badge-orange"  style=" border-radius: 15px;width:30px;height:30px;" ng-style="{'border':((newEvent.color=='orange')? '2px solid #4d4d4d' : '0px')}" ng-click="setColor('orange')">
               <i ng-show="newEvent.color=='orange'" class="fa fa-check" style="margin-top: 4px;color:#4d4d4d;"></i></span>
              </label>
              </div>
           </div>
          </form>
      </div>
      <div class="modal-footer">
        <a class="btn btn-inverse" ng-click="addEvent = false"><i class="fa fa-ban"></i><span class=" span_icon" translate="CANCEL"></span></a>
        <a class="btn btn-midnightblue" ng-if="!editModal" ng-click="createEvent(addForm.$valid)"><i class="fa fa-plus"></i><span class="span_icon" translate="ADD"></span></a>
        <a class="btn btn-midnightblue" ng-if="editModal" ng-click="modifyEvent(addForm.$valid)"><i class="fa fa-check"></i><span class="span_icon" translate="EDIT"></span></a>
      </div>
    </div>
  </div>
</div>

<!-- Modal box to confirm the deletion of the event -->
<div class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="delEvt">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="delEvt = false" style="margin-top: -10px;">×</button>
        <div class="bootbox-body"> <span translate="DELETE_EVENT"  translate-values='{ title: saveEvent.title}'></span></div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="delEvt = false"><span translate="CANCEL"></span></button>
        <a href="" data-bb-handler="confirm" type="button" class="btn btn-midnightblue"  ng-click="deleteEvent()" translate="CONFIRM"></a>
      </div>
    </div>
  </div>
</div>
