<div id="page-heading">
  <ol class="breadcrumb ">
    <li><a class="green" href="#/" translate="DASHBOARD"></a></li>
    <li class="active" translate="ACCOUNT"></li>
  </ol>
  <h1 translate="ACCOUNT"></h1>
  <div class="options text-rigth-xs text-rigth-sm">
    <div class="btn-toolbar">
      <!-- Button to add data -->
      <div class="btn-group bootstro" ng-if="!user.isSubco && rights.custo.addContact ||user.isSubco && rights.subco.addContact"
           data-bootstro-placement="bottom"
           data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
           data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
           data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
           data-bootstro-title="{{'ADD_CONTACT_TITLE' | translate}}"
           data-bootstro-content="{{'ADD_CONTACT_TEXT' | translate}}">
        <a href="" class="btn btn-green" ng-click="showAddContact()" style="margin-right:5px;"><i class="fa  fa-plus"></i><span translate="ADD_CONTACT"></span></a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-20" style="padding-right:10px;padding-left:10px;">

      <!-- Display user's informations -->
      <div class="col-lg-4">
          <div id="accountInfo" class="panel panel-gray bootstro"
               data-bootstro-placement="{{getPlacementBootstro_Info()}}"
               data-bootstro-width="300px"
               data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
               data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
               data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
               data-bootstro-title="{{'INFO_TITLE' | translate}}"
               data-bootstro-content="{{'INFO_TEXT' | translate}}">
            <div class="panel-heading">
              <div class="options">
                <ul class="nav nav-tabs">
                  <li class="active ">
                    <a href="" data-toggle="tab" ng-click="data = true;security = false;"><i class="fa fa-info icon-highlight icon-highlight-default"></i><span translate="INFORMATIONS"></span> </a>
                  </li>
                  <li>
                    <a href="" data-toggle="tab" ng-click="data = false;security = true;"><i class="fa fa-lock icon-highlight icon-highlight-default"></i><span translate="SECURITY"></span> </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="panel-body">
              <div class="tab-content">
                <div class="tab-pane active" id="data" ng-show="data">
                  <div class="row info-row" style="text-align: center;">
                    <form>
                      <label for="fileInput">
                        <img tooltip="{{'CHANGE_IMG' | translate}}" ng-src="{{absolutePath}}{{user.img}}" style="width:100px;height:54px;cursor:pointer;" />
                        <input id="fileInput" type="file" accept="image/*" name="file" ng-model="file.data" style="display:none;" onchange="angular.element(this).scope().saveFile(this);"/>
                      </label>
                    </form>
                  </div><!--this.form.submit()-->
                    <div class="col-md-6 col-sm-6 info-row"><span translate="COMPANY"></span> <input type="text" class="form-control" ng-model="user.company" ng-disabled="true" ng-change="setChange()"></div>
                    <div class="col-md-6 col-sm-6 info-row"><span translate="FUNCTION"></span> <input type="text" class="form-control"  ng-model="user.function" ng-change="setChange()"></div>
                    <div class="col-md-6 col-xs-6 info-row" ng-if="!user.isSubco"><span translate="SOCIETY"></span> <input type="text" class="form-control" ng-model="user.society"  ng-change="setChange()"></div>
                    <div class="col-md-6 col-xs-6 info-row" ng-if="!user.isSubco"><span translate="ESTABLISHMENT"></span> <input type="text" class="form-control"  ng-model="user.establishment" ng-change="setChange()"></div>
                    <div class="col-md-6 col-xs-6 info-row"><span translate="NAME"></span> <input type="text" class="form-control" ng-model="user.name" ng-change="setChange()"></div>
                    <div class="col-md-6 col-xs-6 info-row"><span translate="FIRST_NAME"></span> <input type="text" class="form-control" ng-model="user.firstName" ng-change="setChange()"></div>
                    <div class="col-sm-12 info-row"><span translate="EMAIL"></span> <input type="mail" class="form-control" ng-model="user.mail" ng-change="setChange()"></div>
                    <div class="col-md-6 col-sm-6 info-row"><span translate="FIXED"></span> <input type="text" class="form-control"  ng-model="user.phone_1" ng-change="setChange()"></div>
                    <div class="col-md-6 col-sm-6 info-row"><span translate="MOBILE"></span> <input type="text" class="form-control"  ng-model="user.phone_2" ng-change="setChange()"></div>
                </div>
                <!-- Change password -->
                <div class="tab-pane active" id="security" ng-show="security">
                  <div class="alert alert-dismissable alert-warning" translate="SAFETY_PASSWORD"></div>
                  <div class="alert alert-dismissable alert-success" ng-if="passwordUpd" translate="PASSWORD_MAJ"></div>
                  <div class="col-md-12">
                    <form  action="#"  name="updatePasswordForm" novalidate>
                      <div class="row info-row" ng-class="updatePasswordForm.zeroPass.$invalid && btnValid || (errorPass && btnValid) ? 'has-error' : ''">
                        <span class="control-label" translate="OLD_PASSWORD"></span> <input type="password" name="zeroPass" ng-minlength="3" ng-maxlength="20" ng-model="password.oldPass" class="form-control" required>
                      </div>
                      <div class="row info-row" ng-class="updatePasswordForm.firstPass.$invalid && btnValid? 'has-error' : ''">
                        <span class="control-label" translate="NEW_PASSWORD"></span>
                        <input type="password" class="form-control" name="firstPass" ng-minlength="3" ng-maxlength="20" ng-model="password.newPass" required>
                      </div>
                      <div class="row info-row" ng-show="password.newPass.length > 0">
                        <span class="control-label" translate="PASSWORD_STRENGTH"></span>
                        <div class="col-md-10" style=" margin-top: 7px;">
                          <div  class="progress">
                            <div ng-password-strength="password.newPass" mode="bootstrap" strength="pourcent"  inner-class="progress-bar" outer-class-prefix="progress-bar-" inner-class-prefix="progress-bar-"></div>
                          </div>
                        </div>
                        <div class="col-md-2"> <strong>{{pourcent}}%</strong></div>
                      </div>
                      <div class="row info-row"  ng-class="updatePasswordForm.secondPass.$invalid && btnValid? 'has-error' : ''">
                        <span class="control-label" translate="CONFIRM"></span>
                        <input type="password" class="form-control" name="secondPass" ng-model="password.repeatPass" ng-minlength="3" ng-maxlength="20" password-match="password.newPass" required>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel-footer" style="text-align: center;" ng-show="security">
              <a href="" class="btn btn-inverse-alt" style="margin-right:10px;"  ng-click="cancelUpdate()">
                <i class="fa  fa-ban"></i><span class="span_icon" translate="CANCEL"></span>
              </a>
              <a href="" class="btn btn-sky" style="margin-right:10px;"  ng-click="passwordUpdate(updatePasswordForm.$valid);">
                <i class="fa  fa-refresh"></i><span class="span_icon" translate="UPDATE_PASSWORD"></span>
              </a>
            </div>
            <div class="panel-footer" style="text-align: center;" ng-if="data &&  change">
              <a href="" class="btn btn-sky" ng-click="saveChange(true)">
                <i class="fa  fa-check"></i><span class="span_icon" translate="SAVE_MODIFICATIONS"></span>
              </a>
            </div>
          </div>
        </div>

      <!-- Display the contacts list -->
      <div id="contactsInfo" class="col-lg-8">
        <div class="panel panel-green bootstro"
             data-bootstro-placement="{{getPlacementBootstro_Contact()}}"
             data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
             data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
             data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
             data-bootstro-title="{{'CONTACTS_TITLE' | translate}}"
             data-bootstro-content="{{'CONTACTS_TEXT' | translate}}">
          <div class="panel-heading" ng-if="contacts.length > 1" translate="CONTACTS"></div>
          <div class="panel-heading" ng-if="contacts.length <= 1" translate="CONTACT"></div>
          <div class="panel-body">
            <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;margin-bottom:20px;">
              <div class="col-xs-4">
                <a ng-if="!user.isSubco && rights.custo.deleteContact ||user.isSubco && rights.subco.deleteContact" href="" class="btn btn-inverse-alt bootstro"
                   ng-disabled="selectedContact == null" ng-click="showModalDelete(true)"
                   data-bootstro-placement="right"
                   data-bootstro-width="300px"
                   data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                   data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                   data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                   data-bootstro-title="{{'DELETE_CONTACT_TITLE' | translate}}"
                   data-bootstro-content="{{'DELETE_CONTACT_TEXT' | translate}}">
                  <i class="fa fa-times"></i><span class="span_icon" translate="DELETE"></span>
                </a>
              </div>
              <div class=" col-xs-4">
                <div id="example_length" class="dataTables_length" ng-if="filteredContacts.length > 16">
                  <label>
                    <select ng-model="pagination.size" size="1"  class="form-control">
                      <option value="16" ng-selected="pagination.size ==16">16</option>
                      <option value="32" ng-selected="pagination.size ==32">32</option>
                      <option value="48" ng-selected="pagination.size ==48">48</option>
                      <option value="90" ng-selected="pagination.size ==90">90</option>
                    </select><span class="span_icon hidden-xs" translate="CONTACTS_PER_PAGE"></span>
                  </label>
                </div>
              </div>
              <div class="col-xs-4" ng-if="contacts.length > 1">
                <input style="width:150px;float:right;" type="text" aria-controls="example" class="form-control bootstro" ng-model="search.contact" placeholder="{{'SEARCH' | translate}}..."
                       data-bootstro-placement="left"
                       data-bootstro-width="300px"
                       data-bootstro-nextButtonText="{{'NEXT' | translate}} »"
                       data-bootstro-prevButtonText="« {{'PREVIOUS' | translate}}"
                       data-bootstro-finishButtonText = "{{'OK_HELP' | translate}}"
                       data-bootstro-title="{{'SEARCH_TITLE' | translate}}"
                       data-bootstro-content="{{'SEARCH_CONTACT_TEXT' | translate}}">
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
              <!--  Alert message when there are no contact -->
              <div  ng-show="filteredContacts.length == 0 && search.contact != ''" class="alert alert-dismissable alert-info" translate="NO_CONTACT" translate-values='{ search: search.contact}'></div>
              <div  ng-show="filteredContacts.length == 0 && search.contact == ''" class="alert alert-dismissable alert-info" translate="ANY_CONTACT"></div>
            </div>
            <div ng-class="!user.isSubco ? 'col-xs-12 col-md-4 col-sm-6 col-lg-4' : 'col-xs-12 col-md-6 col-sm-8 col-lg-5'"
                 ng-repeat="contact in filteredContacts = (contacts | orderBy:'company' | filter:search.contact) | startFrom:(pagination.current-1)*pagination.size | limitTo:pagination.size"
                 ng-click="setSelectedContact(contact);">

              <a class="info-tiles" ng-class ="selectedContact == contact ? 'tiles-inverse':'tiles-sky'" href="">
                <div class="tiles-heading">
                  <div class="pull-left">{{contact.company}}</div>
                  <div class="pull-right"><i class="fa" ng-class ="selectedContact == contact ? 'fa-dot-circle-o':'fa-circle-o'"></i></div>
                </div>
                <div class="tiles-body bis" style="text-align: left;">
                  <span style="font-weight: bold;">{{contact.firstName}} {{contact.name}}</span><br>
                    {{contact.function}}<br>
                    {{contact.mail}}<br>
                  <hr>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    {{contact.phone_1}}<br>
                    {{contact.phone_2}}<br>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6"  style="text-align: right;">
                    <img ng-src="{{absolutePath}}{{contact.img}}" style="width:56px;height:34px;">
                  </div>
                </div>
              </a>
            </div>

            <!-- Pagination -->
            <div id="pagination" class="col-md-12" style="padding:0px;" ng-show="filteredContacts.length > pagination.size">
              <div class="col-md-6 col-sm-4 center-xs info_pagination"><span translate="CONTACTS"></span> {{(pagination.current-1)*pagination.size+1}}–{{((pagination.current)*pagination.size < filteredContacts.length) ?(pagination.current)*pagination.size :filteredContacts.length}} / {{filteredContacts.length}}</div>
              <div class="col-md-6 col-sm-8 center-xs text-right">
                <pagination  class="paginationGreen" total-items="filteredContacts.length" items-per-page="pagination.size" ng-model="pagination.current" max-size="maxSize" boundary-links="true" previous-text="{{'PREVIOUS' | translate}}" next-text="{{'NEXT' | translate}}"></pagination>
              </div>
            </div>

          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal box to add a new contact -->
<div id="dataTable" class="bootbox modal fade bootbox-prompt in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="addContact">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="cancelNewContact()" class="bootbox-close-button close">×</button>
        <h4 class="modal-title" translate="ADD_CONTACT"></h4>
      </div>

      <div class="modal-body" ng-if="choice">
        <div class="row info-row">
          <div class="col-xs-12 col-sm-6">
            <a class="info-tiles tiles-sky" href=""  ng-click="showAdd(false)">
              <div class="tiles-body-alt" style="font-size:30px;">
                <i class="fa fa-search" style="margin-top: 13px;margin-left: 7px;font-size:30px;"></i>
                <div class="text-center" translate="SEARCH"></div>
                <small translate="EXISTING_SUBCO"></small>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6">
            <a class="info-tiles tiles-green" href="" ng-click="showAdd(true)">
              <div class="tiles-body-alt" style="font-size:30px;">
                <i class="fa fa-plus" style="margin-top: 13px;margin-left: 7px;font-size:30px;"></i>
                <div class="text-center" translate="ADD"></div>
                <small translate="NEW_SUBCO"></small>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="modal-body" ng-if="!new && !choice">
        <div class="row info-row">
          <div class="col-md-12">
            <input type="text" class="form-control" ng-model="add.subcoSearch" placeholder="{{'SEARCH' | translate}}...">
          </div>
          <div ng-if="add.subcoSearch != ''" style="margin-top:45px;" >
            <div class="col-xs-12" style="margin-bottom:5px;" ng-repeat="subco in usersNames | filter:add.subcoSearch">
              <a  ng-class="selectedSubco == subco ? 'tiles-inverse':'tiles-sky'" class="info-tiles " href="" style=margin:0px;" ng-click="setSelectedSubco(subco)" >
                <div class="tiles-heading">
                  <div class="pull-left">{{subco}}</div>
                  <div class="pull-right"><i class="fa" ng-class="selectedSubco == subco ? 'fa-dot-circle-o':'fa-circle-o'"></i></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-body" ng-if="new && !choice">
        <div ng-if="!contactAdded">
          <form class="bootbox-form" name="addContactForm" novalidate ng-init="setForm(this)">
            <div class="row info-row">
              <div class="col-md-12"  ng-class="addContactForm.company.$invalid && pressBtn || sameCompany? 'has-error':''"><span class="control-label" translate="COMPANY"></span>
                <input name="company" style="margin-bottom:5px;" class="bootbox-input bootbox-input-text form-control" pattern="[A-Za-z0-9]{1,}" ng-model="newContact.company" type="text" required>
                <span class="control-label" ng-if="sameCompany"><i class="fa fa-times-circle"></i><span class="span_icon" translate="SAME_COMPANY"></span></span>
                <span class="control-label" ng-if="addContactForm.company.$invalid && pressBtn"><i class="fa fa-times-circle"></i><span class="span_icon" translate="WRONG_FORM"></span></span>
              </div>
              <div class="col-md-12" ng-class="addContactForm.mail.$invalid && pressBtn? 'has-error':''"><span class="control-label" translate="EMAIL"></span>
                <input name="mail" class="bootbox-input bootbox-input-text form-control" ng-model="newContact.mail" type="email" required>
              </div>
            </div>
          </form>
        </div>
        <div class="alert alert-dismissable alert-success" ng-if="contactAdded" translate="MESS_CONTACT"></div>
      </div>
      <div class="modal-footer" ng-show="!choice">
        <div class="col-xs-2 text-left" ><a href="" ng-click="choice=true;" class="btn btn-default"><i class="fa fa-arrow-left"></i><span class="span_icon" translate="BACK"></span></a></div>
        <div class="col-xs-10 text-right">
          <button ng-show="!contactAdded" data-bb-handler="cancel" type="button" class="btn btn-inverse" ng-click="cancelNewContact()"><i class="fa fa-ban"></i> <span style="margin-left:5px;" translate="CANCEL"></span></button>
          <button ng-show="new && !contactAdded || (!new && selectedSubco != null)" data-bb-handler="confirm" type="button" class="btn btn-green"  ng-click="addNewContact()"><i class="fa fa-plus"></i> <span style="margin-left:5px;" translate="ADD"></span></button>
          <button ng-show="contactAdded"  type="button" class="btn btn-green"  ng-click="cancelNewContact()"><i class="fa fa-check"></i> <span class="span_icon"translate="OK"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal box to confirm the deletion of the contact -->
<div class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;" ng-show="modalDelete">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="bootbox-close-button close" ng-click="showModalDelete(false)" style="margin-top: -10px;">×</button>
        <div class="bootbox-body"> <span translate="DELETE_CONTACT"  translate-values='{ name: selectedContact.company}'></span></div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="showModalDelete(false)"><span translate="CANCEL"></span></button>
        <a href="" data-bb-handler="confirm" type="button" class="btn btn-green"  ng-click="deleteContact()" translate="CONFIRM"></a>
      </div>
    </div>
  </div>
</div>
