<!-- Horizontal bar -->
<header class="navbar navbar-inverse" ng-class="(header.fixed) ? 'navbar-fixed-top' : 'navbar-static-top'"  role="banner">
  <a id="leftmenu-trigger" class="tooltips" ng-click="changementBarre()"></a>

  <!-- Application's logo -->
  <div class="navbar-header pull-left hidden-xs">
    <a class="navbar-brand" href="#/">VIF</a>
  </div>

  <!-- Displays user's informations -->
  <ul class="nav navbar-nav pull-right toolbar">
    <li class="dropdown">
      <a href="" class="dropdown-toggle username" data-toggle="dropdown"><span class="hidden-xs">{{user.company}}</span><img ng-src="{{absolutePath}}{{user.img}}" alt="User_Logo"></a>
      <ul class="dropdown-menu userinfo arrow" >
        <li class="username">
          <div class="pull-left"><img ng-src="{{absolutePath}}{{user.img}}" alt="Logo"></div>
          <div class="pull-right"><h5><span translate="HELLO_USER" translate-values='{"name" : user.company}'></span></h5></div>
        </li>
        <li class="userlinks">
          <ul class="dropdown-menu">
            <li><a href="#/account" ng-click="setRead_OneType('account')"><span translate="ACCOUNT"></span><i class="pull-right fa fa-lock"></i></a></li>
            <li><a href="" ng-click="startHelp()"><span translate="HELP"></span><i class="pull-right fa fa-question-circle"></i></a></li>
            <li class="divider"></li>
            <li><a href="" ng-click="logout()" class="text-right"><i class="pull-left fa fa-power-off" style="margin-top:5px;"></i><span translate="SIGN_OUT"></span></a></li>
          </ul>
        </li>
      </ul>
    </li>

    <!-- Displays notifications -->
    <li id="notif" class="dropdown" ng-show="settings.horizontal=='1'">
      <a href="" class="hasnotifications dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i><span ng-show="nonRead > 0" class="badge">{{nonRead}}</span></a>
      <ul class="dropdown-menu notifications arrow">
        <li ng-show="nonRead > 0" class="dd-header">
              <span>
                <span translate="YOU_HAVE"></span><span>&nbsp;{{nonRead}}</span>
                <span ng-show="nonRead>1" translate="NOTIFICATIONS"></span>
                <span ng-show="nonRead==1" translate="NOTIFICATION"></span>
              </span>
          <span><a href="" ng-click="setRead_All()" translate="MARK_SEEN"></a></span>
        </li>
        <div class="table-responsive scrollthis">
          <div class="col-xs-12 col-20" ng-show="notifications.length == 0" >
            <div class="alert alert-dismissable alert-info" translate="NO_NOTIFICATION"></div>
          </div>
          <li ng-repeat= "notification in notifications |orderBy : 'date':true" ng-show="notification.active != 'out';" ng-click="setRead_OneNot(notification)">
            <a href="{{notification.href}}" ng-class="'notification-' + notification.class + ' '+ notification.active">
              <span class="time">{{notification.from}}</span>
              <i class="fa" ng-class="notification.icon"></i>
              <span class="msg">{{notification.text}}</span>
            </a>
          </li>
        </div>
        <li class="dd-footer"><a href="#/settings" translate="MANAGE_NOT"></a></li>
      </ul>
    </li>
  </ul>
</header>
