<!-- Vertical bar -->
<nav id="page-leftbar" role="navigation">
  <ul class="acc-menu" id="sidebar" >

    <li id="search" ng-if="user.contacts.length > 1"
        ng-class="(selectSC_1 && user.isSubco)? 'keep-open' : (selectSC_1 && !user.isSubco)? 'keep-open' : (!selectSC_1 && user.isSubco)? '' : ''">
      <a click-anywhere-but-here="selectSC_1 = false" href="" ng-click="selectSC_1 = !selectSC_1;"><i class="fa fa-group"></i></a>
      <form click-anywhere-but-here="selectSC_1 = false" ng-if="!user.isSubco">
        <select size="1" name="editable_length" aria-controls="editable" class="search-query form-control"  ng-model="fil.subcoFilter" style="background-color: transparent;cursor:pointer;" ng-change="reload()">
          <option value="" ng-selected="fil.subcoFilter == ''" translate="ALL_SC"></option>
          <option value="{{contact}}" ng-repeat="contact in user.contacts | orderBy : 'company'" ng-selected="fil.subcoFilter == contact">{{contact}}</option>
        </select>
        <button type="submit"><i class="fa fa-group" style="opacity:inherit;"></i></button>
      </form>

      <form click-anywhere-but-here="selectSC_1 = false" ng-if="user.isSubco">
        <select size="1" name="editable_length" aria-controls="editable" class="search-query form-control"  ng-model="fil.doFilter" style="background-color: transparent;cursor:pointer;" ng-change="reload()">
          <option value="" ng-selected="fil.doFilter == ''" translate="ALL_DO"></option>
          <option value="{{contact}}" ng-repeat="contact in user.contacts | orderBy : 'company'" ng-selected="fil.doFilter == contact">{{contact}}</option>
        </select>
        <button type="submit"><i class="fa fa-group" style="opacity:inherit;"></i></button>
      </form>
    </li>
    <li ng-if="user.isSubco && user.contacts.length == 1" ><a><i class="fa fa-group"></i><span ng-model="fil.doFilter">{{user.contacts[0]}}</span></a></li>
    <li ng-if="!user.isSubco && user.contacts.length == 1" ><a><i class="fa fa-group"></i><span ng-model="fil.subcoFilter">{{user.contacts[0]}}</span></a></li>
    <li class="divider"></li>
    <li ng-show="settings.dashboard=='1'" ng-class="menuClass('')"><a href="#/" ng-click="stockMenu = false;"><i class="fa fa-dashboard"></i><span translate="DASHBOARD"></span></a></li>
    <li ng-show="settings.orders=='1'" ng-class="menuClass('orders')"><a href="#/orders" ng-click="setRead_OneType('orders');stockMenu = false;"><i class="fa fa-file-text"></i><span translate="ORDERS"></span><span class="badge badge-primary" ng-show="notOrder > 0 && settings.vertical == '1'">{{notOrder}}</span></a></li>
    <li ng-show="settings.stock=='1'" ng-class="(stockMenu ? 'open' : '') + ' ' + menuClass('stock') + ' ' +'hasChild'" >
      <a href=""  ng-click="stockMenu = !stockMenu;" >
        <i class="fa fa-tasks"></i>
        <span translate="STOCK"></span>
        <span class="badge badge-warning" ng-show="notStock > 0 && settings.vertical == '1'">{{notStock}}</span>
      </a>
      <ul class="acc-menu" ng-style="{'display':((disp.barre || (petit && stockMenu))?'block':'')}" ng-show="stockMenu || !disp.barre">
        <!-- <li ng-class="menuClass('status')"><a href="#/stock/status" ng-click="stockMenu =true;"><span translate="STOCK_STATUS"></span></a></li> -->
        <li ng-class="menuClass('inventories')"><a href="#/stock/inventories" ng-click="stockMenu =true;setRead_OneType('inventories');"><span translate="INVENTORIES"></span></a></li>
      </ul>
    </li>
    <li ng-show="settings.quality=='1'" ng-class="menuClass('quality')" ><a href="#/quality" ng-click="setRead_OneType('quality')"><i class="fa fa-thumbs-up"></i><span translate="QUALITY"></span><span class="badge badge-danger"  ng-show="notQuality > 0 && settings.vertical == '1'">{{notQuality}}</span></a></li>
    <!-- <li ng-show="settings.reception=='1'" ng-class="menuClass('reception')" ><a href="#/reception" ng-click="setRead_OneType('reception')"><i class="fa fa-truck"></i><span translate="RECEPTION"></span><span class="badge badge-success"  ng-show="notReception > 0 && settings.vertical == '1'">{{notReception}}</span></a></li> -->
    <!--<li ng-class="menuClass('labels')" ><a href="#/labels"><i class="fa fa-barcode"></i><span translate="ETIQUETTES"></span></a></li> -->
    <li ng-show="settings.calendar=='1'" ng-class="menuClass('calendar')"><a href="#/calendar" ng-click="setRead_OneType('calendar')"><i class="fa fa-calendar"></i><span translate="CALENDAR"></span><span class="badge badge-midnightblue"  ng-show="notEvent > 0 && settings.vertical == '1'">{{notEvent}}</span></a></li>
    <li class="divider"></li>
    <li ng-class="menuClass('account')"><a href="#/account" ng-click="stockMenu = false;setRead_OneType('account');"><i class="fa fa-lock"></i><span translate="ACCOUNT"></span><span class="badge badge-info" ng-show="notContact > 0 && settings.vertical == '1'">{{notContact}}</span></a></li>
    <li ng-class="menuClass('settings')" ><a href="#/settings" ng-click="stockMenu = false;"><i class="fa fa-cog"></i><span><span translate="SETTINGS"></span></span></a></li>
  </ul>
</nav>
