<div class="row">
  <div id="btnLanguage" class="col-md-12 col-20" style="text-align: right;">
    <a href="" class="btn" ng-class="language == 'fr' ? 'btn-inverse' : 'btn-default'" ng_click="switchLanguage('fr');language='fr'">Français<img style="margin-left:10px;" src="../../images/flag/fr.png"></a>
    <a href="" class="btn" ng-class="language == 'en-gb' ? 'btn-inverse' : 'btn-default'" ng_click="switchLanguage('en-gb');language='en-gb'">English<img style="margin-left:10px;" src="../../images/flag/gb.png"></a>
  </div>
</div>
<div class="row" style="margin-top:40px;">
<div class="col-xs-2"></div>
  <div class="col-xs-10 col-xs-12" style="margin-bottom:100px;">
    <h1 style="margin-bottom:5px;"><span data-translate="WELCOME"></span>, {{user.company}}</h1>
    <h4 style="margin-bottom:40px;color:#6E6E6E;font-size: 15px;" data-translate="FIRST_LOG_DATA"></h4>
      <div class="panel panel-primary" style="width:inherit !important;">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-4 text-center selectWizard" ng-class="step1? 'active' : ''" ng-click="setStep(null, null, 1)">
              <div class="row" ng-class="(step1Form.$invalid && pressBtn1)? 'error' : ''"><h1 data-translate="STEP" data-translate-values='{ number: 1}'></h1></div>
              <div class="row" ng-class="(step1Form.$invalid && pressBtn1)? 'error' : ''"><small data-translate="LOGIN_INFORMATION"></small></div>
            </div>
            <div class="col-xs-4 text-center selectWizard" ng-class="step2? 'active' : ''" ng-click="setStep(step1Form.$valid, null, 2)">
              <div class="row" ng-class="(step2Form.$invalid && pressBtn2)? 'error' : ''"><h1 data-translate="STEP" data-translate-values='{ number: 2}'></h1></div>
              <div class="row" ng-class="(step2Form.$invalid && pressBtn2)? 'error' : ''"><small data-translate="ACCOUNT_DATA"></small></div>
            </div>
            <div class="col-xs-4 text-center selectWizard" ng-class="step3? 'active' : ''" ng-click="setStep(step1Form.$valid, step2Form.$valid,3)">
              <div class="row"><h1 data-translate="STEP" data-translate-values='{ number: 3}'></h1></div>
              <div class="row"><small data-translate="PREVIEW"></small></div>
            </div>
          </div>
          <form name="step1Form" ng-show="step1" action="" class="form-horizontal row-border" style="border-radius: 0;">
            <div class="form-group" style="margin-top:15px;"></div>
            <div class="form-group" style="" ng-class="(step1Form.username.$invalid && pressBtn1) ? 'has-error' : ''">
              <label for="username" class="col-xs-3 control-label" data-translate="USERNAME"></label>
              <div class="col-md-6 col-xs-9">
                <input id="username" ng-disabled="true" ng-model="user.company" class="form-control" name="username" type="text" required>
              </div>
            </div>
            <div class="form-group" style="border:0;" ng-class="(step1Form.email.$invalid && pressBtn1) ? 'has-error' : ''">
              <label for="email" class="col-xs-3 control-label" data-translate="EMAIL"></label>
              <div class="col-md-6 col-xs-9"><input id="email" ng-model="user.mail" class="form-control" type="email" placeholder="exemple@gmail.com" name="email" required></div>
            </div>
            <div class="form-group" style="border:0;" ng-class="(step1Form.password.$invalid && pressBtn1) ? 'has-error' : ''">
              <label for="password" class="col-xs-3 control-label" data-translate="PASSWORD"></label>
              <div class="col-md-6 col-xs-9"><input id="password" ng-model="newPassword"  class="form-control" type="password" name="password" required></div>
            </div>
            <div class="form-group"  style="border:0;" ng-show="user.password.length > 0">
              <span class="col-xs-3 control-label" style="margin-top: -5px;" data-translate="PASSWORD_STRENGTH"></span>
              <div class="col-md-6 col-xs-8" style=" margin-top: 7px;">
                <div class="progress">
                  <div ng-password-strength="newPassword" mode="bootstrap" strength="pourcent" inner-class="progress-bar" outer-class-prefix="progress-bar-" inner-class-prefix="progress-bar-"></div>
                </div>
              </div>
              <div class="col-md-2 col-xs-1"> <strong>{{pourcent}}%</strong></div>
            </div>
            <div class="form-group" style="border:0;" ng-class="(step1Form.repeatPass.$invalid && pressBtn1) ? 'has-error' : ''">
              <label for="repeatPass" class="col-xs-3 control-label" data-translate="REPEAT_PASSWORD"></label>
              <div class="col-md-6 col-xs-9"><input id="repeatPass" ng-model="repeatPass" class="form-control" type="password" name="repeatPass" required password-match="newPassword"></div>
            </div>
          </form>

          <form name="step2Form" action="" class="form-horizontal row-border" style="border-radius: 0;" ng-show="step2">
            <div class="form-group" style="margin-top:15px;"></div>
            <!-- Image utilisateur-->
            <div class="form-group">
              <label for="society" class="col-xs-3 control-label" data-translate="LOGO"></label>
              <label for="fileInput" class="col-md-6 col-xs-9 text-center">
                <img tooltip="{{'CHANGE_IMG' | translate}}" ng-src="{{absolutePath}}{{user.img}}" style="width:100px;height:54px;cursor:pointer;" />
                <input id="fileInput" type="file" accept="image/*" name="file" style="display:none;" onchange="angular.element(this).scope().saveFile(this);"/>
              </label>
            </div>
            <div class="form-group" style="border:0;" ng-class="(step2Form.society.$invalid && pressBtn2) ? 'has-error' : ''" ng-if="!user.isSubco">
              <label for="society" class="col-xs-3 control-label" data-translate="SOCIETY"></label>
              <div class="col-md-6 col-xs-9">
                <input id="society" class="form-control" ng-model="user.society" name="society" type="text" placeholder="01" required>
              </div>
            </div>
            <div class="form-group" style="border:0;" ng-class="(step2Form.establishment.$invalid && pressBtn2) ? 'has-error' : ''" ng-if="!user.isSubco">
              <label for="establishment" class="col-xs-3 control-label" data-translate="ESTABLISHMENT"></label>
              <div class="col-md-6 col-xs-9"><input id="establishment" ng-model="user.establishment" class="form-control" placeholder="03" type="text" name="establishment" required></div>
            </div>
            <div class="form-group" style="border:0;" ng-class="(step2Form.name.$invalid && pressBtn2) ? 'has-error' : ''">
              <label for="name" class="col-xs-3 control-label" data-translate="NAME"></label>
              <div class="col-md-6 col-xs-9"><input id="name" class="form-control" ng-model="user.name" type="text" placeholder="Durand" name="name" required></div>
            </div>
            <div class="form-group" style="border:0;" ng-class="(step2Form.firstname.$invalid && pressBtn2) ? 'has-error' : ''">
              <label for="firstname" class="col-xs-3 control-label" data-translate="FIRST_NAME"></label>
              <div class="col-md-6 col-xs-9"><input id="firstname" class="form-control" ng-model="user.firstName" type="text" placeholder="Pierre" name="firstname" required></div>
            </div>
            <div class="form-group" style="border:0;" ng-class="(step2Form.function.$invalid && pressBtn2) ? 'has-error' : ''">
              <label for="function" class="col-xs-3 control-label" data-translate="FUNCTION"></label>
              <div class="col-md-6 col-xs-9"><input id="function" class="form-control" ng-model="user.function" type="text" placeholder="Chef opérateur" name="function" required></div>
            </div>
            <div class="form-group" style="border:0;" ng-class="(step2Form.phone.$invalid && pressBtn2) ? 'has-error' : ''">
              <label for="phone" class="col-xs-3 control-label" data-translate="FIXED"></label>
              <div class="col-md-6 col-xs-9"><input id="phone" class="form-control" ng-model="user.phone_2" type="text" placeholder="02 41 52 14 12"  name="phone" required></div>
            </div>
            <div class="form-group" style="border:0;" ng-class="(step2Form.mobile.$invalid && pressBtn2) ? 'has-error' : ''">
              <label for="mobile" class="col-xs-3 control-label" data-translate="MOBILE"></label>
              <div class="col-md-6 col-xs-9"><input id="mobile" class="form-control" ng-model="user.phone_1" type="text" placeholder="06 21 45 84 10" name="mobile" required></div>
            </div>
          </form>

          <form name="step3Form" action="" class="form-horizontal row-border" style="border-radius: 0;" ng-show="step3">
            <div class="form-group" style="margin-top:15px;"></div>
            <div class="form-group">
              <label for="username3" class="col-xs-3 control-label" data-translate="USERNAME"></label>
              <div class="col-md-6 col-xs-9">
                <input id="username3" ng-disabled="true" class="form-control" name="username3" ng-model="user.company" type="text" required>
              </div>
            </div>
            <div class="form-group" style="border:0;">
              <label for="email" class="col-xs-3 control-label" data-translate="EMAIL"></label>
              <div class="col-md-6 col-xs-9"><input id="email3"  ng-disabled="true"  class="form-control" ng-model="user.mail" type="email" name="email3" required=""></div>
            </div>
            <div class="form-group" style="border:0;"  ng-if="!user.isSubco">
              <label for="society3" class="col-xs-3 control-label" data-translate="SOCIETY"></label>
              <div class="col-md-6 col-xs-9">
                <input id="society3" class="form-control"  ng-disabled="true"  name="society3" ng-model="user.society" type="text" required>
              </div>
            </div>
            <div class="form-group" style="border:0;"  ng-if="!user.isSubco">
              <label for="establishment3" class="col-xs-3 control-label" data-translate="ESTABLISHMENT" ></label>
              <div class="col-md-6 col-xs-9"><input id="establishment3"  ng-disabled="true" ng-model="user.establishment" class="form-control" type="text" name="establishment3" required=""></div>
            </div>
            <div class="form-group" style="border:0;">
              <label for="name3" class="col-xs-3 control-label" data-translate="NAME"></label>
              <div class="col-md-6 col-xs-9"><input id="name3"  ng-disabled="true" ng-model="user.name" class="form-control" type="text" name="name3"></div>
            </div>
            <div class="form-group" style="border:0;">
              <label for="firstname3" class="col-xs-3 control-label" data-translate="FIRST_NAME"></label>
              <div class="col-md-6 col-xs-9"><input id="firstname3"  ng-disabled="true" ng-model="user.firstName" class="form-control" type="text" name="firstname3"></div>
            </div>
            <div class="form-group" style="border:0;">
              <label for="function3" class="col-xs-3 control-label" data-translate="FUNCTION"></label>
              <div class="col-md-6 col-xs-9"><input id="function3"  ng-disabled="true"  ng-model="user.function" class="form-control" type="text" name="function3"></div>
            </div>
            <div class="form-group" style="border:0;">
              <label for="phone3" class="col-xs-3 control-label" data-translate="FIXED"></label>
              <div class="col-md-6 col-xs-9"><input id="phone3"  ng-disabled="true" ng-model="user.phone_2"  class="form-control" type="text" name="phone3"></div>
            </div>
            <div class="form-group" style="border:0;">
              <label for="mobile3" class="col-xs-3 control-label" data-translate="MOBILE"></label>
              <div class="col-md-6 col-xs-9"><input id="mobile3"  ng-disabled="true" ng-model="user.phone_1" class="form-control" type="text" name="mobile3"></div>
            </div>
          </form>


        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <a href="" class="btn btn-primary" ng-if="step1" ng-click="setNextStep(step1Form.$valid)"> <span data-translate="NEXT"></span> <i class="fa fa-long-arrow-right span_icon"></i></a>
            <a href="" class="btn btn-primary" ng-if="step2" ng-click="setNextStep(step2Form.$valid)"> <span data-translate="NEXT"></span> <i class="fa fa-long-arrow-right span_icon"></i></a>
            <a ng-href="#/" class="btn btn-success" ng-if="step3" ng-click="lastStep()"><i class="fa fa-check"></i> <span data-translate="SUBMIT"></span> </a>
          </div>
          <div class="pull-left" ng-if="!step1">
            <a href="" class="btn btn-default" ng-click="setPreviousStep()"><i class="fa fa-long-arrow-left"></i> <span data-translate="PREVIOUS"></span> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
