<div class="row">
  <div id="btnLanguage" class="col-md-12 col-20" style="text-align: right;">
    <a href="" class="btn" ng-class="language == 'fr' ? 'btn-inverse' : 'btn-default'" ng_click="switchLanguage('fr');language='fr'">Français<img style="margin-left:10px;" src="../../images/flag/fr.png"></a>
    <a href="" class="btn" ng-class="language == 'en-gb' ? 'btn-inverse' : 'btn-default'" ng_click="switchLanguage('en-gb');language='en-gb'">English<img style="margin-left:10px;" src="../../images/flag/gb.png"></a>
  </div>
</div>
<div class="verticalcenter">
  <a href="http://www.vif.fr"><img src="../../images/contacts/logo.png" alt="Logo" class="brand"></a>
  <div class="panel panel-orangeBis">
    <div class="panel-body" ng-if="showModalSend">
      <div class="alert alert-dismissable alert-success" data-translate="NEW_PASS_SEND" data-translate-values='{adresse:reset.mail}'></div>
    </div>
    <div class="panel-body" ng-if="!showModalSend">
      <h4 class="text-center" style="margin-bottom: 25px;" data-translate="RESET_PASS"></h4>
      <form action="" name="resetForm" class="form-horizontal" style="margin-bottom: 0!important;">
        <div class="form-group">
          <div class="col-sm-12">
            <div class="input-group" ng-class="(resetForm.userName.$invalid || !validUsername) && oneReset ? 'has-error':''">
              <span class="input-group-addon" style="min-width:44px;"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" name="userName" ng-model="reset.username" placeholder="{{'USERNAME' | translate}}" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <div class="input-group" ng-class="(resetForm.email.$invalid || !validMail) && oneReset ? 'has-error':''">
              <span class="input-group-addon" style="min-width:44px;"><i class="fa fa-envelope-o"></i></span>
              <input type="text" class="form-control" ng-model="reset.mail" name="email" placeholder="{{'EMAIL' |translate}}" required>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="panel-footer">
      <div class="pull-left">
        <a ng-href="#/login" ng-click="cancelReset()" class="btn btn-default"><i class="fa fa-arrow-left"></i><span class="span_icon" data-translate="BACK"></span></a>
      </div>
      <div class="pull-right">
        <a href=""  ng-if="!showModalSend" ng-click="resetPass()" class="btn btn-orangeTer"><i class="fa fa-rotate-right"></i><span class="span_icon" data-translate="RESET"></span></a>
      </div>
    </div>
  </div>
</div>
